Repository VertaAI/modeldb, pull requests merged in 2020-06, with the labels that each got.

#673 (Proto) Remove returns from the requests
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbAddExperimentRunAttributesResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbDeleteArtifactResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbDeleteExperimentRunAttributesResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogArtifactResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogArtifactsResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogAttributeResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogAttributesResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogDatasetResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogDatasetsResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogExperimentRunCodeVersionResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogHyperparameterResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogHyperparametersResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogJobIdResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogMetricResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogMetricsResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogObservationResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogObservationsResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogVersionedInputResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbSetParentExperimentRunIdResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbUpdateExperimentRunNameResponse.scala
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.go
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/swagger/protos/public/modeldb/ExperimentRunService.swagger.json
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend

#672 Remove returns from requests
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#690 Fix condition from Driver based to dialect base to identify DB type
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend

#688 Print part numbers during multipart upload
  client/verta/verta/client.py
Labels: client

#685 VR-4452: check response contents when retrieving Proj/Expt/Run/Dataset
  client/verta/verta/_dataset.py
  client/verta/verta/client.py
Labels: client

#682 VR-4415: Move log_training_data() to bottom of census notebooks
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
  client/workflows/demos/census-end-to-end.ipynb
Labels: documentation

#692 Fix find query with NOT_CONTAIN Operator
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#705 Remove unnecessary print message
  client/verta/verta/client.py
Labels: client

#706 VR-4523: Read artifact in chunks
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/client.py
Labels: client

#668 retry current request on "Communications link failure" in MDB
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/job/JobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryCron.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend

#693 Retry logic when uac is down
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend

#711 Resolve hypothesis deprecation warning
  client/verta/tests/modelapi_hypothesis/api_generator.py
  client/verta/tests/modelapi_hypothesis/value_generator.py
Labels: client

#697 initial delay to start the cron jobs
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend

#701 get presigned url for versioned blob
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAO.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/UploadStatusEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#702 protos for the get versioned blob presigned url
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/api/VersioningServiceApi.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/ModeldbArtifactPart.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningCommitMultipartVersionedBlobArtifact.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningCommitMultipartVersionedBlobArtifactResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningCommitVersionedBlobArtifactPart.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningCommitVersionedBlobArtifactPartResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningGetCommittedVersionedBlobArtifactPartsResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningGetUrlForVersionedBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningGetUrlForVersionedBlobResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningPathDatasetComponentBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacGetCollaboratorResponse.scala
  client/verta/verta/_protos/public/modeldb/versioning/Dataset_pb2.py
  client/verta/verta/_protos/public/modeldb/versioning/VersioningService_pb2.py
  client/verta/verta/_protos/public/modeldb/versioning/VersioningService_pb2_grpc.py
  protos/gen/go/protos/public/modeldb/versioning/Dataset.pb.go
  protos/gen/go/protos/public/modeldb/versioning/VersioningService.pb.go
  protos/gen/go/protos/public/modeldb/versioning/VersioningService.pb.gw.go
  protos/gen/python/protos/public/modeldb/versioning/Dataset_pb2.py
  protos/gen/python/protos/public/modeldb/versioning/VersioningService_pb2.py
  protos/gen/python/protos/public/modeldb/versioning/VersioningService_pb2_grpc.py
  protos/gen/swagger/protos/public/modeldb/versioning/VersioningService.swagger.json
  protos/gen/swagger/protos/public/uac/Collaborator.swagger.json
  protos/protos/public/modeldb/versioning/Dataset.proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#707 VR-4565 repository access modifier proto
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#726 Added tag support on (blob,commit,repo) combo
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, dataset version integration

#721 Implement repository description
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#722 Feature/vr 4582 batch delete commits
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, dataset version integration

#698 getUrlForArtifact should check if current user has access to the modeldb entity
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
Labels: backend

#725 repository attributes
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#748 Clarify Client test README
  client/verta/tests/README.md
Labels: documentation

#729 VR-4525: Retry part uploads on ConnectionErrors
  client/verta/verta/client.py
Labels: client

#751 Remove support for getDatasetVersionTags and getDatasetVersionById
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#750 fix null pointer exception when DB communication link fail
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#742 Add tag support on (commit ,repo) combo
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, dataset version integration

#739 VR-4592 dataset blobs description metadata proto
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, dataset version integration

#764 Modify deleteDatasetVersions api to call versioningDAOs
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#738 Feature/vr 4592 dataset blobs description metadata
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/MetadataPropertyMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, dataset version integration

#767 Fix commit.revert() docstring
  client/verta/verta/_repository/commit.py
Labels: documentation

#752 Modify create DatasetVersion api to call versioningDAOs
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/MetadataPropertyMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#756 Create & Get blob with composite id
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/DatasetBlobFactory.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend, dataset version integration

#792 Fix import
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#793 VR-4749: Fuzzy find datasets by name
  client/verta/tests/test_datasets.py
  client/verta/verta/client.py
Labels: client

#794 VR-4743: Always set grpc-metadata-source header, even in no-auth
  client/verta/tests/test_entities.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
Labels: client

#761 VR-4786: Typecheck tags everywhere
  client/verta/tests/test_datasets.py
  client/verta/tests/test_entities.py
  client/verta/verta/_dataset.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
Labels: client

#765 Feature/vr 4573 modify get and find dataset
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dto/DatasetPaginationDTO.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  protos/protos/public/modeldb/DatasetService.proto
Labels: backend, dataset version integration

#787 modify Tag Operations on Dataset Version
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#774 Removed VersioningCompositeIdentifier from proto & related backend changes
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/MetadataPropertyMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, dataset version integration

#785 Modify getLatestDatasetVersionByDatasetId
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#773 Modify getAllDatasetVersionByDatasetId
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#789 Add a table which holds the list of Repos which are Dataset
  backend/src/main/java/ai/verta/modeldb/entities/versioning/DatasetRepositoryMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend, dataset version integration

#740 implementation find blobs endpoint
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
  protos/protos/public/modeldb/metadata/MetadataService.proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#732 Added attribute support on Blob
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/ModelDBException.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/MetadataPropertyMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/DatasetRepositoryMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/DatasetBlobFactory.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
  protos/protos/public/modeldb/metadata/MetadataService.proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#799 VR-4742: Raise more informative error on non-JSON response bodies
  client/verta/tests/test_utils.py
  client/verta/verta/_dataset.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/client.py
  client/verta/verta/deployment.py
Labels: client

#776 VR-4522: Add methods for uploading artifacts in commit
  client/verta/verta/_repository/commit.py
Labels: client

#777 Use _path_component_blobs attribute for dataset blobs
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: client

#778 Download objects from S3 for managed versioning
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_s3.py
Labels: client

#779 VR-4441: Upload data to ModelDB
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/_s3.py
Labels: client

#700 added `internal_versioned_path` field in path_dataset_component_blob
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/UploadStatusEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#798 VR-4744: Don't follow 302s
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#813 Increment Client version to 0.14.7
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#780 VR-{4439, 4443, 4444}: Download a single versioned file from ModelDB
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#781 VR-4442: Support managed versioning for local datasets
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: client

#815 Make sure stream is correctly passed
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#817 Rename increment_filepath() to increment_path()
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#811 modify add, update, get, delete datasetVersion attributes api
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#802 find dataset version
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dto/CommitPaginationDTO.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, dataset version integration

#820 Remove kwarg for Python2
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_file_utils.py
Labels: client

#822 Add fixture for running tests in isolated temporary directories
  client/verta/tests/conftest.py
Labels: client

#829 Check status code first to help debug
  client/verta/tests/test_utils.py
Labels: client

#816 support for merge conflicts when different blobs are added/modified at same locatiom
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/diff/ConflictGenerator.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/diff/DiffMerger.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend, versioning

#831 Skip redirect tests until httpbin issue resolves
  client/verta/tests/test_utils.py
Labels: client

#823 Enable clientside artifact store
  client/verta/tests/test_artifacts.py
  client/verta/verta/client.py
Labels: client

#812 VR-4760 don't remove artifact parts during commit
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
Labels: backend

#827 Attach epoch numbers to observations
  client/verta/tests/test_metadata.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2.py
  client/verta/verta/client.py
Labels: client

#832 Unpickle clientside artifacts on get()
  client/verta/tests/test_artifacts.py
  client/verta/verta/client.py
Labels: client

#828 Implement run.download_artifact()
  client/verta/tests/test_artifacts.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#837 Increment Client version to 0.14.8
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#840 Expand user dir for local artifact store
  client/verta/verta/client.py
Labels: client

#841 Increment Client version to 0.14.9
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#844 Use empty string for VERTA_ARTIFACT_DIR by default
  client/verta/verta/client.py
Labels: client

#845 Increment Client version to 0.14.10
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#843 VR-4885: date created & updated on ExperimentRun
  client/verta/verta/client.py
Labels: client

#846 Use self._get_self_as_msg() where possible
  client/verta/verta/client.py
Labels: client

#804 Fix versioning modification issues
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
Labels: backend, dataset version integration

#847 Fix IndexOutOfBound
  backend/src/main/java/ai/verta/modeldb/versioning/blob/diff/ConflictGenerator.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#810 VR-4874: Enable downloading folders
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#856 Move managed versioning tests to separate classes
  client/verta/tests/test_versioning/test_dataset.py
Labels: client

#857 VR-4738: dataset_blob.list_paths()
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#859 Use list_paths() where appropriate
  client/verta/verta/dataset/_dataset.py
Labels: client

#862 Require boto3 for S3 test
  client/verta/tests/test_versioning/test_dataset.py
Labels: client

#864 Fix data_blob.list_paths() tests for Py2
  client/verta/docs/api/api/versioning.rst
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#868 Add util for removing prefixes from paths
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#860 VR-4874: Enable download all with no-arg download()
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#866 Use walk_file() and assert_dirs_match() utils in tests
  client/verta/tests/test_versioning/test_dataset.py
Labels: client, tests

#871 Fix test cases of feature dataset branch after proto change
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend, dataset version integration

#874 Make walk_files() a Client util
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/dataset/_path.py
Labels: client

#855 Apply fixes to the chart according to !848
  chart/modeldb/charts/graphql/templates/deployment.yaml
Labels: ops

#875 Make flatten_file_trees() a Client util
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/dataset/_path.py
Labels: client

#876 No more log_dataset() as artifact
  client/verta/docs/examples/tutorials/workflow.rst
  client/workflows/examples-without-verta/scripts/client-demo.py
  client/workflows/examples/tensorflow.ipynb
  client/workflows/examples/xgboost.ipynb
Labels: documentation

#872 Fixed for /getUrlForBlobVersioned, 500 Internal server error (gRPC code 13) instead of a 400.
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend, bug

#881 Fix NE and LIKE filtering on Hyperparameters
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, bug

#850 Fix issue fetch associated experiment runs for commit
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, bug

#849 Fix Bug for Experiment with same name should be allowed if the existing one has deleted =1
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: backend, bug

#878 Fix bug
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_file_utils.py
Labels: client

#887 Increment Client version to 0.14.11
  client/verta/docs/api/api/experimentrun_basic.rst
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#885 Move these checks to Dataset{Version} Service instead of generic {Blob,Repo}DAO and error out specific to Dataset
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#861 Fix review comments of integration dataset version
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEnums.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend, dataset version integration

#884 Fix reverting merge is revert to a random parent
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
Labels: backend

#897 Populate dataset blob in datasetVersion
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend, dataset version integration

#901 Add Blob._from_proto() and Blob._as_proto()
  client/verta/verta/_repository/blob.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/code/_code.py
  client/verta/verta/code/_git.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/configuration/_configuration.py
  client/verta/verta/configuration/_hyperparameters.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
Labels: client

#906 Add Component to docs
  client/verta/docs/api/api/versioning.rst
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: client, documentation

#905 Fix Dataset Versioning Tests
  client/verta/tests/test_versioning/test_dataset.py
Labels: client, tests

#904 Fix Notebook blob
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/code/_notebook.py
Labels: client

#903 VR-4767: Impl dataset.list_components()
  client/verta/docs/api/api/versioning.rst
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: client

#902 No more protobuf-as-attr in dataset blobs
  client/verta/docs/api/api/versioning.rst
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: client

#908 Update line numbers
  client/verta/docs/examples/tutorials/workflow.rst
Labels: documentation

#907 VR-4499: Don't support artifacts via log_dataset()
  client/verta/tests/test_artifacts.py
  client/verta/verta/client.py
Labels: client

#909 Include UTC timestamp in HTTP error messages
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#879 VR-4763: Enable dropping `base_path` for versioning
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_path.py
Labels: client

#898 hydration should not crash if a deleted entity is not found but should remove the base entity in such cases
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#913 Use _utils.raise_for_http_error() everywhere
  client/verta/tests/test_deployment.py
  client/verta/tests/test_protos.py
  client/verta/tests/utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/client.py
Labels: client
