Repository VertaAI/modeldb, pull requests merged in 2020-04, with the labels that each got.

#451 VR-3810: Only use auth if there is auth
  client/verta/verta/client.py
Labels: client

#454 Increment Client version to 0.14.2
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#456 fix migration bug
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#465 Don't delete commits in tests
  client/verta/tests/conftest.py
  client/verta/tests/test_versioning/test_repository.py
  client/verta/tests/utils.py
Labels: client

#457 Fix indexing (added exists check before creating index)
  backend/src/main/resources/liquibase/create-index-changelog.xml
Labels: backend

#466 Delete a commit that is the head of two branches
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#458 Allow empty location map when associating run with commit
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#459 Diff & merge based on the branch
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
Labels: backend

#471 Prevent on fail contion of liquebase for create tables changeSet
  backend/src/main/resources/liquibase/create-tables-changelog-1.0.xml
Labels: backend

#476 Fix bug for Repository listing returns only number of records
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#481 remove test class from TestSequenceSuite
  backend/src/test/java/ai/verta/modeldb/TestSequenceSuite.java
Labels: backend

#482 Complete CLI skeleton
  client/verta/setup.py
  client/verta/verta/_cli/README.md
  client/verta/verta/_cli/__init__.py
  client/verta/verta/_cli/blob.py
  client/verta/verta/_cli/blobs/__init__.py
  client/verta/verta/_cli/blobs/code.py
  client/verta/verta/_cli/blobs/dataset.py
  client/verta/verta/_cli/blobs/environment.py
  client/verta/verta/_cli/branch.py
  client/verta/verta/_cli/commit.py
  client/verta/verta/_cli/remote.py
  client/verta/verta/cli/_config.py
  client/verta/verta/cli/_init.py
  client/verta/verta/cli/main.py
Labels: client

#490 delete role bindings endpoint
  protos/protos/public/uac/RoleService.proto
Labels: backend

#491 VR-3793: (CLI) verta init
  client/verta/verta/_cli/__init__.py
  client/verta/verta/_internal_utils/_config_utils.py
  client/verta/verta/client.py
Labels: client

#483 Improve delete project endpoint logic and reduce UAC calls
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  protos/protos/public/uac/RoleService.proto
Labels: backend

#489 get entities with actions endpoints
  protos/protos/public/uac/Authorization.proto
Labels: backend

#488 multiple actions collaborators in single call
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
Labels: backend

#493 VR-3885: Expand ~ to user directory
  client/verta/verta/_dataset.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/environment/_python.py
Labels: client

#494 VR-3884: Redesign commit.branch() as commit.new_branch()
  client/verta/docs/examples/tutorials/ingredients.rst
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_repository/commit.py
  client/workflows/examples/versioning/03 Merging Multilingual Support.ipynb
Labels: client

#486 fix bug merge
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend

#498 Raise explicit error if host not provided
  client/verta/verta/client.py
Labels: bug, client

#485 VR-{3600, 3866, 3887}: Use backend merge and raise for conflict
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_repository/commit.py
Labels: client

#499 Skip model API tests until pandas is dealt with
  client/verta/tests/modelapi_hypothesis/test_modelapi.py
Labels: client

#495 revert commit endpoint proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#503 Disable flaky test
  client/verta/tests/modelapi_hypothesis/test_modelapi.py
Labels: client

#502 Fix OSS test cases
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend

#501 Indexes for the experiment & experiment_run
  backend/src/main/resources/liquibase/create-index-changelog.xml
Labels: backend

#497 Revert commit implementation
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#508 VR-3945: Update webinar demo notebook with new_branch()
  demos/webinar-2020-4-1/census-s3-oss-versioning.ipynb
Labels: client

#506 added index for project_id in Experiment table
  backend/src/main/resources/liquibase/create-index-changelog.xml
Labels: backend

#511 Refactor logic to become a saved child
  client/verta/verta/_repository/commit.py
Labels: client

#510 VR-3956: Change Client to use backend revert
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_repository/commit.py
Labels: client

#521 Update index.rst
  client/verta/docs/index.rst
Labels: documentation

#520 VR-3896: Add guide on working around merge conflicts
  client/verta/docs/_static/gifs/tutorial-merge-1.gif
  client/verta/docs/examples/tutorials.rst
  client/verta/docs/examples/tutorials/ingredients.rst
  client/verta/docs/examples/tutorials/merge.rst
  client/verta/verta/_repository/commit.py
Labels: documentation

#519 commented the location_prefix field which is currently not in used
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#515 Location validation message improve for the VersioningEntity
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#514 Remove created_by_commit from protos and implementation
  backend/src/main/java/ai/verta/modeldb/entities/versioning/InternalFolderElementEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#507 s3 version liquebase and hibernate changes
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#517 Add Blob type as a column in versioning_modeldb_entity_mapping
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/VersioningModeldbEntityMapping.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/resources/liquibase/create-index-changelog.xml
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#530 Backend returns 500 when a commit revert results in no blobs
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#526 VR-3505: Capture versioning information from S3
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_s3.py
Labels: client

#535 Fix typo
  client/verta/verta/_repository/commit.py
Labels: documentation

#536 VR-3895: Only undeploy models in successful tests
  client/verta/tests/test_deployment.py
Labels: client

#537 Enable setting host from env
  client/verta/verta/client.py
Labels: client

#538 Add test for verta init
  client/verta/tests/test_cli.py
Labels: client

#533 codeBlobs map in experiment run
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend

#541 Get host from env for test
  client/verta/tests/test_entities.py
Labels: client

#534 populate codeBlob config in experiment runs
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#544 Fix test case compilation due to the proto fix
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#540 VR-3794: verta remote add & verta remote use
  client/verta/tests/test_cli.py
  client/verta/verta/_cli/__init__.py
  client/verta/verta/_cli/remote.py
  client/verta/verta/_internal_utils/_config_utils.py
Labels: client

#546 Convert VR-3540 to TODO
  client/verta/verta/_repository/commit.py
Labels: client

#547 Increment Client version to 0.14.3
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#550 fix test cases
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#551 fix index with pre condition VR-3985
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
Labels: backend

#552 Code config version in GetExperimentRunById & GetHydratedExperimentRunById
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#553 Print more information in tests
  client/verta/tests/conftest.py
Labels: client

#554 Find experiment without projectId and ExperimentIds limitation
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: backend

#557 Added workspace field in FindExperiment request
  protos/protos/public/modeldb/ExperimentService.proto
Labels: backend

#563 Fix bug for the find experiment
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
Labels: backend

#562 fix liquebase bug
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#569 Added workspace field in FindExperimentRuns
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend

#571 Fix internal server error for log versionedInput twice
  backend/src/main/java/ai/verta/modeldb/entities/versioning/VersioningModeldbEntityMapping.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#574 Fix issue of createRepository with inconsistent state
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#575 Improve delete dataset & other entities roleBinding issues (VR-4018)
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#576 VR-3974: don't upload artifact in log_training_data()
  client/verta/tests/test_deployment.py
  client/verta/verta/_internal_utils/_histogram_utils.py
  client/verta/verta/client.py
Labels: client

#588 getUsersFuzzy endpoint
  protos/protos/public/uac/UACService.proto
Labels: backend

#589 Implement fuzzy search for owner field
  backend/src/main/java/ai/verta/modeldb/authservice/AuthService.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicAuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dto/UserInfoPaginationDTO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: backend

#585 hyperparameter config ordering in Exp runs
  backend/src/main/java/ai/verta/modeldb/entities/versioning/VersioningModeldbEntityMapping.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#556 FindRepositoriesBlobs endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#595 fix fuzzy owner search bug
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend

#596 Remove train_data from
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_deployment.py
Labels: client
