Repository VertaAI/modeldb, pull requests merged in 2020-07, with the labels that each got.

#919 VR-4851: Add run.download_docker_context()
  client/verta/docs/api/api/experimentrun.rst
  client/verta/tests/test_deployment.py
  client/verta/verta/client.py
Labels: client

#918 VR-4852: Add run.download_deployment_crd()
  client/verta/docs/api/api/experimentrun.rst
  client/verta/tests/test_deployment.py
  client/verta/verta/client.py
Labels: client

#917 Add util for downloading from HTTP responses
  client/verta/docs/api/api/experimentrun.rst
  client/verta/tests/test_deployment.py
  client/verta/verta/_internal_utils/_request_utils.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#916 Add util for avoiding local filepath collisions
  client/verta/docs/api/api/experimentrun.rst
  client/verta/tests/test_deployment.py
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/_internal_utils/_request_utils.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#912 Fixed UAC unavailable exception log correctly
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend

#920 added delete commit tags query in cron job
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
Labels: backend

#921 Added indexes for DeleteCronJob slow queries
  backend/src/main/resources/liquibase/create-index-changelog.xml
Labels: backend

#880 VR-4198 replace versioned inputs on log commit if repository or commi…
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/VersioningModeldbEntityMapping.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, bug

#923 fix findExperimentRun by string hyperparameter using LIKE operator
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, bug

#924 Fix parent_order crashes code when there are old commits with null parent_order
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
Labels: backend, bug

#911 reduce delete cron exception log
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
Labels: backend

#932 Remove redundant word
  client/verta/docs/examples/tutorials.rst
Labels: documentation

#931 Print deployment status if not deployed
  client/verta/verta/client.py
Labels: client

#925 Added endpoints in dataset version service for verta managed versioning part
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#935 Implemented support for the update datasetVersion description
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/MetadataPropertyMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend, enhancement

#936 Implemented getExperimentRunsByDatasetVersionId endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement

#929 Fix find dataset repo issue
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/MetadataPropertyMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, bug

#944 Add download_artifact() to docs
  client/verta/docs/api/api/experimentrun.rst
Labels: documentation

#940 VR-4737: If commit is unsaved, used parent for log()
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_repository/commit.py
Labels: client

#941 VR-4854: Check if commit is saved in run.log_commit()
  client/verta/verta/client.py
Labels: client

#938 VR-4768: Implement __add__ for dataset blobs
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
Labels: client

#946 Avoid str.isnumeric()
  client/verta/verta/client.py
Labels: client

#947 VR-5121: Try torch.load() first in run.get_artifact()
  client/verta/tests/test_artifacts.py
  client/verta/verta/__about__.py
  client/verta/verta/client.py
Labels: client

#952 VR-4665: Require `requirements` param for Python blob
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/environment/_python.py
  client/workflows/examples/versioning/01 Simple Sentiment Classfier.ipynb
  client/workflows/examples/versioning/02 Reverting Training Data.ipynb
  client/workflows/examples/versioning/03 Merging Multilingual Support.ipynb
  demos/webinar-2020-4-1/census-s3-oss-versioning.ipynb
  demos/webinar-2020-5-6/02-mdb_versioned/01-train/01 Basic NLP.ipynb
  demos/webinar-2020-5-6/02-mdb_versioned/01-train/02 Positive Data NLP.ipynb
  demos/webinar-2020-5-6/02-mdb_versioned/01-train/03 Multilingual NLP.ipynb
Labels: client

#928 Empty description causes a server error on the dataset
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, bug

#948 fix proto for get experiment runs by dataset version
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend, dataset version integration

#949 Fix issue when findDatasetVersions when no datasetversions match a tag predicate all the dataset versions are returned to user
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, bug, dataset version integration

#950 Fix find DatasetVersion based on the directly shared datasets
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, dataset version integration, enhancement

#951 Implemented fuzzy owner search for dataset versions
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, dataset version integration, enhancement

#937 Migration for linked artifact id from datasetVersion to commit
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
Labels: backend, dataset version integration, enhancement, migration

#956 Don't install spaCy v2.3.1 in Python 2
  client/verta/requirements.txt
Labels: client

#939 VR-4770: Implement dataset.add()
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: client

#635 VR-3738: Fix client config merging/discovery
  client/verta/tests/test_cli.py
  client/verta/tests/test_config.py
  client/verta/verta/_cli/remote.py
  client/verta/verta/_internal_utils/_config_utils.py
  client/verta/verta/client.py
Labels: client

#957 Fix NE on findDatasetVersion while datasetVersion doesn't have the tags
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, bug, dataset version integration

#961 Refactor get-or-create logic out of __init__()s
  client/verta/tests/test_entities.py
  client/verta/verta/client.py
Labels: client

#970 Update contributing doc with virtualenv
  client/CONTRIBUTING.md
Labels: documentation

#971 Update CONTRIBUTING.md
  client/CONTRIBUTING.md
Labels: documentation

#974 Check in pylint config
  client/CONTRIBUTING.md
  client/verta/.pylintrc
Labels: client

#976 Remove ExperimentRuns addition from docs
  client/verta/verta/_tracking/experimentruns.py
Labels: documentation

#975 Update proto message locations
  client/verta/verta/_tracking/experimentruns.py
  client/verta/verta/client.py
Labels: client

#977 Update locations for docs
  client/verta/docs/api/api/experiment.rst
  client/verta/docs/api/api/experimentrun.rst
  client/verta/docs/api/api/experimentrun_basic.rst
  client/verta/docs/api/api/experimentruns.rst
  client/verta/docs/api/api/project.rst
  client/verta/docs/overview/concepts.rst
Labels: documentation

#959 Proto for updateLabels endpoint & deleteAll field in deleteLabels
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend

#980 Add tests for client.get_*()
  client/verta/tests/test_entities.py
Labels: client

#978 Resolve errors/warnings from Conrado's PRs
  client/verta/docs/api/api/experiment.rst
  client/verta/docs/api/api/project.rst
  client/verta/tests/test_entities.py
  client/verta/verta/_tracking/context.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/client.py
Labels: client

#985 Link CONTRIBUTING to docs and tests READMEs
  client/CONTRIBUTING.md
  client/verta/tests/README.md
Labels: documentation

#819 Batch migrate datasets to repos and datasetversion to Commit+ Blob in background
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, dataset version integration, migration

#989 added migration lock logic
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#998 Replace GetDatasetVersionById with FindDatasetVersions
  client/verta/.pylintrc
  client/verta/verta/_dataset.py
Labels: client

#1001 Resolve errors in experimentruns.py
  client/verta/docs/api/api/experimentruns.rst
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_tracking/experimentruns.py
Labels: client

#999 Add maybe_import()
  client/verta/tests/test_integrations.py
  client/verta/verta/_dataset.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_internal_utils/importer.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/_tracking/experimentruns.py
  client/verta/verta/client.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/utils.py
Labels: client

#1003 Properly import bigquery
  client/verta/verta/_dataset.py
Labels: client

#990 Improve migration status logic
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#995 (Protos) fetch label ids
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend

#994 Added endpoint for fetch label ids for registry find calls
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
Labels: backend

#1013 Create fn for getting bool types
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/utils.py
Labels: client

#1015 Add removal TODO
  client/verta/verta/_tracking/entity.py
Labels: client

#1017 Add method interfaces for getting artifacts
  client/verta/verta/_registry/modelversion.py
Labels: client

#1002 Fix checks and tests for client.get_*()s
  client/verta/tests/test_entities.py
  client/verta/verta/_tracking/context.py
  client/verta/verta/client.py
Labels: client

#1018 Change tag to label
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1020 Fix docs and args for CLI skeleton
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/get.py
  client/verta/verta/_cli/registry/list.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1021 Change prints to echos in CLI skeleton
  client/verta/verta/_cli/registry/list.py
Labels: cli

#1004 Convert Datasets and DatasetVersions to new LazyList interface
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset.py
  client/verta/verta/_dataset_versioning/__init__.py
  client/verta/verta/_dataset_versioning/dataset_versions.py
  client/verta/verta/_dataset_versioning/datasets.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
Labels: client

#1012 Fixed update labels api issue
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
Labels: backend, bug

#1022 Use subdir for CLI tests
  client/verta/tests/test_cli/__init__.py
  client/verta/tests/test_cli/test_repository.py
Labels: cli

#1024 Add test_cli/test_registry.py
  client/verta/tests/test_cli/test_registry.py
Labels: cli

#1023 VR-5279: verta registry get registeredmodel
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/get.py
Labels: cli

#1027 Skip CLI tests
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_cli/test_repository.py
Labels: cli, tests

#1028 Use run ID as index in expt_runs.as_dataframe()
  client/verta/tests/test_entities.py
  client/verta/verta/_tracking/experimentruns.py
Labels: client

#1030 Publish Client v0.14.12
  client/verta/docs/changelog.rst
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/__about__.py
Labels: client

#1038 Enable more query keys for core MDB entities
  client/verta/verta/_tracking/experimentruns.py
  client/verta/verta/_tracking/experiments.py
  client/verta/verta/_tracking/projects.py
Labels: client

#972 Update helm subcharts
  chart/modeldb/charts/backend/Chart.yaml
  chart/modeldb/charts/backend/templates/deployment.yaml
  chart/modeldb/charts/backend/templates/service.yaml
  chart/modeldb/charts/backend/templates/statefulset.yaml
  chart/modeldb/charts/graphql/Chart.yaml
  chart/modeldb/charts/graphql/templates/deployment.yaml
  chart/modeldb/charts/graphql/templates/service.yaml
  chart/modeldb/charts/webapp/Chart.yaml
  chart/modeldb/charts/webapp/templates/deployment.yaml
  chart/modeldb/charts/webapp/templates/service.yaml
Labels: ops

#1041 Rename asset to artifact in CLI skeleton
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1025 VR-5196 version labels
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1010 VR-5194 model find
  client/verta/tests/test_entities.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/models.py
  client/verta/verta/client.py
Labels: client

#1009 VR-5193 registry model labels
  client/verta/tests/test_entities.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/models.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/client.py
Labels: client

#1011 VR-5201 with model method
  client/verta/verta/_registry/modelversions.py
Labels: client

#1026 VR-5197 version find
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversions.py
Labels: client

#992 VR-5192 registered model get and set
  client/verta/tests/test_entities.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/models.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_registry/modelversions.py
  client/verta/verta/client.py
Labels: client

#1039 Use ~= for CONTAIN
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
Labels: client

#1054 Clarify pytest options in README
  client/verta/tests/README.md
Labels: documentation

#1055 Enable RegisteredModelVersion tests
  client/verta/tests/conftest.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/utils.py
Labels: client, tests

#1056 Update reason for disabling registry tests
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: cli, client, tests

#1057 Delete client's registered model
  client/verta/tests/conftest.py
Labels: tests

#1058 Correctly decorate pytest skip
  client/verta/tests/test_entities.py
Labels: tests

#1059 Reorganize parameters for registry creates
  client/verta/.pylintrc
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/client.py
Labels: client

#1050 Fix internally calling other verta services apis logic
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend, bug, dataset version integration

#1048 protos for getDatasetVersionById api
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend, dataset version integration

#1047 Implemented GetDatasetVersionById api
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend, enhancement

#1046 Enable deletion of ExperimentRun hyperparams, metrics, and observations
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ObservationEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement

#986 Remove _get_self_as_msg
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1033 VR-5303 RegisteredModelVersion.__repr__()
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1032 VR-5274 Enable getting ModelVersion by ID without setting RegisteredModel first
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/client.py
Labels: client

#1016 VR-5198 Client: ModelVersion: upload artifacts
  client/verta/tests/conftest.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1029 VR-5199 Client: ModelVersion: associate requirements
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1063 Added backup data column for the linked_artifact_id
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
Labels: backend, dataset version integration, enhancement, migration

#1064 find dataset versions without dataset id
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, dataset version integration

#1076 Add skeleton to download Docker context
  client/verta/verta/_cli/registry/__init__.py
  client/verta/verta/_cli/registry/download.py
  client/verta/verta/_registry/modelversion.py
Labels: cli, client

#1071 Add skeleton to register a MDB Run to Registry
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_registry/modelversions.py
Labels: cli, client

#1082 Add starting point for VR-5396 test
  client/verta/tests/conftest.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1083 VR-5392: Print full response body on HTTP error
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#1085 Move deployment.py to verta/deployment/
  client/verta/verta/deployment/__init__.py
  client/verta/verta/deployment/deployedmodel.py
  client/verta/verta/deployment/strategies.py
Labels: client

#1084 Add Client skeleton for endpoints
  client/verta/verta/_deployment/__init__.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/client.py
  client/verta/verta/deployment/__init__.py
  client/verta/verta/deployment/deployedmodel.py
  client/verta/verta/deployment/strategies.py
Labels: client

#1086 Add id param to get_or_create_endpoint
  client/verta/verta/client.py
Labels: client

#1087 Fix additional small oversights in skeleton
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/client.py
Labels: client

#1035 VR-5305 RegisteredModelVersion.get_environment()
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1073 VR-5278 CLI: verta registry create registeredmodelversion
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_registry/modelversion.py
Labels: cli

#1074 VR-5280 CLI: verta registry get registeredmodelversion
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/get.py
Labels: cli

#1065 Fix internal_versioned_path is being set on non-versioned components
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
Labels: backend

#1077 VR-5329 raise error not found
  client/verta/tests/test_entities.py
  client/verta/verta/_registry/model.py
  client/verta/verta/client.py
Labels: client

#1078 VR-5330 move tests
  client/verta/tests/test_entities.py
  client/verta/tests/test_model_registry/test_model.py
Labels: client, tests

#1044 VR-5277 create model in CLI
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
Labels: cli

#1019 VR-5276 Client: ModelVersion: retrieve artifacts
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1081 VR-5381 clear cache for write operations
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/entity.py
Labels: client

#1093 Remove duplicate tests.
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1094 Fix some issues with tests
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1095 Remove None checks for options with multiple=True
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/get.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1097 Save conn and conf to Endpoint
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1101 Clear cache at the end of run._log_artifact()
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/integrations/tensorflow/__init__.py
Labels: client

#1102 Implement backbone for CanaryUpdateStrategy.add_rule()
  client/verta/verta/deployment/strategies.py
  client/verta/verta/deployment/update_rules.py
Labels: client

#1104 Update registry endpoints
  client/verta/tests/utils.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_registry/modelversions.py
Labels: client

#1105 Enable registry tests
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_model_registry/test_model.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: cli, client, tests

#1106 Piece together rough sketch for Endpoints
  client/verta/verta/_deployment/__init__.py
  client/verta/verta/_deployment/endpoints.py
  client/verta/verta/client.py
Labels: client

#1045 VR-5281 list models cli
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/list.py
  client/verta/verta/_registry/models.py
Labels: cli

#1116 Coerce HTTP response body from unicode to str for Py2
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#1091 Fix find hyperparameter with contain and not_contain operator
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend, bug

#1107 VR-5396 RegisteredModel.create_version_from_run()
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/model.py
Labels: client

#1109 Add model overwriting check for CLI ModelVersion update/create
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1118 VR-5397 verta registry create registeredmodelversion MODEL_NAME VERSION_NAME --run-id
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
Labels: cli

#1111 enhance dataset migration with dataset_migration_status table
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, dataset version integration, enhancement, migration

#1121 Add skeleton for remaining Endpoints Client and CLI
  client/verta/verta/_cli/__init__.py
  client/verta/verta/_cli/deployment/__init__.py
  client/verta/verta/_cli/deployment/create.py
  client/verta/verta/_cli/deployment/deployment.py
  client/verta/verta/_cli/deployment/get.py
  client/verta/verta/_cli/deployment/list.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/_cli/registry/update.py
  client/verta/verta/_cli/repository/__init__.py
  client/verta/verta/_deployment/endpoint.py
Labels: cli, client

#1098 Set _msg fields to '' instead of None
  client/verta/verta/_dataset_versioning/dataset_versions.py
  client/verta/verta/_registry/modelversions.py
  client/verta/verta/_tracking/experimentruns.py
  client/verta/verta/_tracking/experiments.py
  client/verta/verta/_tracking/projects.py
Labels: client

#1079 VR-5282 list versions
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/list.py
  client/verta/verta/_registry/modelversions.py
Labels: cli

#1089 VR-5283 update model
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1092 VR-5401 endpoint create json
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/client.py
Labels: client

#1112 VR-5402 get by id
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/client.py
Labels: client

#1115 Protos for get label ids by fuzzy label search
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend

#1114 Implemented fuzzy search on get label ids api
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
Labels: backend, enhancement

#1034 VR-5304 RegisteredModelVersion.del_model()
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1110 Refactor CLI ModelVersion create via update
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
Labels: cli

#1119 VR-5428, VR-5429 Improving test quality
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1096 VR-5404 Endpoint.update()
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1128 Update documentation contribution instructions
  client/CONTRIBUTING.md
  client/verta/docs/README.md
Labels: documentation

#1120 VR-5411 enable configuring CanaryUpdateStrategy for Endpoint.update()
  client/verta/verta/deployment/strategies.py
Labels: client

#1100 VR-5414 Endpoint.get_status()
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1130 Use shutil.move() instead of os.rename()
  client/verta/tests/test_config.py
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/_internal_utils/_request_utils.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1131 Publish Client v0.14.13
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#1088 Main thread blocking dataset to repository migration
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#1117 VR-5415 list endpoints
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/_deployment/endpoints.py
  client/verta/verta/client.py
Labels: client

#1113 VR-5403 VR-5405 VR-5406 get by name
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_cli/deployment/create.py
  client/verta/verta/_cli/deployment/get.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/_deployment/endpoints.py
  client/verta/verta/client.py
Labels: client

#1142 Clean up CLI `get endpoint` a bit
  client/verta/verta/_cli/deployment/get.py
Labels: cli
