Repository VertaAI/modeldb, pull requests merged in 2020-03, with the labels that each got.

#331 Unify save-like fns
  client/verta/verta/_repository/commit.py
Labels: client

#354 Increment Client version to 0.14.1
  client/CONTRIBUTING.md
  client/verta/docs/api/api/dataset.rst
  client/verta/docs/api/api/experimentrun.rst
  client/verta/docs/api/api/experimentrun_basic.rst
  client/verta/docs/api/api/versioning.rst
  client/verta/docs/api/versioning.rst
  client/verta/docs/changelog.rst
  client/verta/docs/examples/tutorials/class.rst
  client/verta/docs/faqs.rst
  client/verta/docs/index.rst
  client/verta/verta/__about__.py
Labels: client

#355 Use nice default messages for merges and reverts
  client/verta/verta/_repository/commit.py
Labels: client

#352 VR-3656: Use OSS-default workspace for repos
  client/verta/verta/client.py
Labels: client

#371 VR-3682: Complete versioning docstrings
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/client.py
Labels: documentation

#378 Add instructions for building docs
  client/verta/docs/README.md
Labels: documentation

#384 VR-3680: Add versioning example notebooks
  client/workflows/examples/versioning/01 Simple Sentiment Classfier.ipynb
  client/workflows/examples/versioning/02 Reverting Training Data.ipynb
  client/workflows/examples/versioning/03 Merging Multilingual Support.ipynb
  client/workflows/examples/versioning/training.py
  client/workflows/examples/versioning/utils.py
Labels: documentation

#375 make database commit atomic with blobs
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#374 pgsql fixes
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthService.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicAuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/resources/liquibase/create-index-changelog.xml
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#361 commit test cases & delete commit bug
  backend/src/main/java/ai/verta/modeldb/dto/CommitPaginationDTO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#350 Fix test cases & delete repository bug
  backend/src/main/java/ai/verta/modeldb/dto/CommitPaginationDTO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#367 VR-3659: Don't get SpaCy models from pip env
  client/verta/requirements.txt
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
Labels: client

#389 VR-3683: Add tutorials back into navigation
  client/verta/docs/examples/tutorials.rst
  client/verta/docs/installation.rst
  client/verta/docs/news.rst
  client/verta/docs/quickstart.rst
  client/verta/docs/release_notes.rst
Labels: documentation

#390 Clarify ReadTheDocs directions
  client/verta/docs/README.md
Labels: documentation

#391 Fix typo
  client/verta/docs/examples/tutorials.rst
Labels: documentation

#400 Fix nav's tutorial listing
  client/verta/docs/examples/tutorials.rst
  client/verta/docs/examples/tutorials/workflow.rst
Labels: documentation

#401 Generate timestamped names
  client/verta/tests/test_entities.py
Labels: client

#405 Open external links in new window
  client/verta/docs/_static/custom.js
Labels: documentation

#397 added index
  backend/src/main/resources/liquibase/create-index-changelog.xml
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#393 Fix test cases for ListCommitsLog endpoint
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#406 VR-3321: Document Client config file
  client/scala/src/main/scala/ai/verta/swagger/_public/client/api/ConfigApi.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/client/model/ProtobufAny.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/client/model/RuntimeError.scala
  client/verta/docs/_static/custom.css
  client/verta/docs/examples/tutorials.rst
  client/verta/docs/examples/tutorials/config.rst
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_protos/public/client/Config_pb2.py
  client/verta/verta/_protos/public/client/Config_pb2_grpc.py
  client/verta/verta/_protos/public/client/__init__.py
  client/verta/verta/client.py
  protos/gen/go/protos/public/client/Config.pb.go
  protos/gen/python/protos/public/client/Config_pb2.py
  protos/gen/python/protos/public/client/Config_pb2_grpc.py
  protos/gen/python/protos/public/client/__init__.py
  protos/gen/swagger/protos/public/client/Config.swagger.json
  protos/protos/public/client/Config.proto
Labels: documentation

#414 Add docstring and test for commit.log()
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_repository/commit.py
Labels: client

#415 VR-3725: Implement TODO checks on Commit methods
  client/verta/verta/_repository/commit.py
Labels: client

#420 Store Client config as dict (again)
  client/verta/verta/_repository/commit.py
  client/verta/verta/client.py
Labels: client

#421 Delete child before deleting parent in test
  client/verta/tests/conftest.py
  client/verta/tests/test_versioning/test_repository.py
Labels: client

#419 VR-3726: Make dataset type more transparent to user
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset.py
Labels: client

#424 VR-3681: Add autocapture flag to applicable blobs
  client/verta/tests/test_versioning/test_code.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/code/_git.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
Labels: client

#431 Update Client for Diff API changes
  client/verta/verta/_repository/diff.py
Labels: client

#433 Change message type
  client/verta/verta/code/_notebook.py
Labels: client

#427 fix find dataset bug
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
Labels: backend

#426 handling the DB connection error
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/collaborator/CollaboratorServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/job/JobServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend

#422 entities owner deletion part 2
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: backend

#441 fix test cases for oss & with AuthService
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#443 fix label test cases
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend

#437 create commit should check the existence of parents within the repo
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#436 update repo updated time on a commit create/delete operation
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#435 Prevent deletion of commit if referred to by branch or tag
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#444 entity owner migration part 1
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#434 VR-3692: Implement __repr__() for blobs
  client/verta/tests/test_versioning/test_code.py
  client/verta/tests/test_versioning/test_configuration.py
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/verta/code/_git.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/configuration/_hyperparameters.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
  client/verta/verta/environment/_python.py
Labels: client
