Repository VertaAI/modeldb, pull requests merged in 2020-11, with the labels that each got.

#1620 fix broken test cases
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, bug, tests

#1617 Restrict experiment run per workspace
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend, enhancement

#1621 VR-7508 Make sure the autoscaling quantities in Python client test is correct.
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/endpoint/autoscaling/_autoscaling.py
Labels: python-client, tests

#1622 Fix test for same endpoint, different workspace
  client/verta/tests/test_organization.py
Labels: python-client, tests

#1623 Ignore protobuf's internal DeprecationWarnings in pytest output
  client/verta/tests/conftest.py
  client/verta/tests/pytest.ini
Labels: python-client, tests

#1624 VR-7699 custom modules tests fail: captured fewer files than expected
  client/verta/tests/test_deployment.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: python-client, tests

#1625 VR-7701: Recommend user downgrade h5py on Keras save/load error
  client/verta/requirements.txt
  client/verta/verta/_internal_utils/_artifact_utils.py
Labels: python-client

#1629 restrict artifacts per experiment run and runs per workspace for trial
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend, enhancement

#1614 Trial support
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend, enhancement, feature branch

#1630 Revert "Trial support"
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend, enhancement, feature branch

#1615 restrict artifacts greater than size threshold for trial
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSController.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3SignatureUtil.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend, enhancement

#1635 Cm/config support for trial
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/RefCountedS3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3SignatureUtil.java
Labels: backend

#1638 Set testing requirement h5py<3.0.0
  client/verta/requirements.txt
Labels: python-client, tests

#1636 Improve multipart_upload_ok flag on getUrlForArtifact with NFS
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
Labels: backend

#1639 VR-7719 Update Scala Client's tags test to check tags in sorted order
  client/scala/src/test/scala/ai/verta/client/entities/TestExperimentRun.scala
Labels: scala-client, tests

#1618 VR-7510 Return the Failure from the uploading step itself for Scala Client.
  client/scala/src/main/scala/ai/verta/repository/Commit.scala
Labels: scala-client

#1619 VR-7511 Make number of retries attempt for uploading configurable in Scala Client
  client/scala/src/main/scala/ai/verta/repository/Commit.scala
Labels: scala-client

#1631 Trial Support
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSController.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/RefCountedS3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3SignatureUtil.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
Labels: backend, enhancement, feature branch

#1643 Put method type returns post presigned url
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
Labels: backend

#1637 PESSIMISTIC_WRITE locking
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, enhancement

#1641 VR-7379 [client] support for error messages related to threshold violations
  client/verta/verta/_tracking/deployable_entity.py
Labels: python-client

#1640 VR-6722 Client needs to propagate the original exception for verifyConnection errors
  client/verta/tests/test_entities.py
  client/verta/verta/client.py
Labels: python-client

#1649 AuditLogs upload to UAC via AuditLogsCron job
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
Labels: backend, enhancement, java

#1646 AuditLogs for project entity
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
Labels: backend, enhancement, java

#1647 AuditLogs for experiment entity
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
Labels: backend, enhancement, java

#1648 AuditLogs for experiment_run
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#1650 VR-7747 change client to only show "message" field from http error response if it has one
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#1654 Add Autoscaling example to docstring
  client/verta/verta/endpoint/autoscaling/_autoscaling.py
Labels: documentation, python-client

#1655 Claim support for Python 3.8
  client/verta/docs/quickstart.rst
Labels: documentation, python-client

#1656 VR-7845 Fill "Deployment and release" section of tutorials root doc page
  client/verta/docs/tutorials/deployment/deployment.rst
  client/verta/docs/tutorials/tutorials.rst
Labels: documentation, python-client

#1651 Audit logs Dataset entity
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
Labels: backend, enhancement, java

#1652 Audit logs for the dataset version
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
Labels: backend, enhancement, java

#1663 Add initial DistilBERT notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1664 Publish client v0.15.8
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1666 VR-7716 unable to search runs by tags
  client/verta/tests/test_entities.py
  client/verta/verta/_tracking/experimentruns.py
Labels: python-client

#1668 Update WIP distilbert notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1669 Fix endpoint in trial notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1670 Fill in details for DistilBERT notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1658 Random name generation endpoint on the metadata service
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: backend, enhancement

#1671 Clean up DistilBERT notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1659 '-' support for the MySQL and TiDB
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend, enhancement, java

#1672 Add docs links to DistilBERT notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1678 Make endpoint public within org
  client/workflows/demos/census-with-new-endpoints.ipynb
Labels: documentation

#1676 Proto for environment field in run
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend, enhancement

#1673 Fix db already exists with dash
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend, bug

#1657 Random name generation like docker
  backend/pom.xml
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement, java

#1665 Audit logs improvement for artifact upload
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#1645 Initialize AuditLogLocalEntity and liquibase support
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, enhancement, feature branch, java

#1662 Create stage when creating endpoint
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#1680 VR-8091 LazyList.find should receive *args instead of a list of parameters.
  client/verta/tests/test_entities.py
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#1684 VR-8117 Propagate original exception for get_histogram
  client/verta/verta/_tracking/deployable_entity.py
Labels: python-client

#1686 Use shortened URL for make_proto_request()
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1688 Allow tuples for find()'s first argument
  client/verta/verta/_cli/registry/list.py
  client/verta/verta/_internal_utils/_utils.py
Labels: cli, python-client

#1687 Revert "VR-4471 Enable continuing previously-interrupted multipart upload (#1585)"
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1689 Publish client v0.15.9
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1677 Support environment blob in ER
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAO.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/PopulateEnvironmentInRunCron.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/metadata/api/MetadataServiceApi.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/metadata/model/MetadataGenerateRandomNameRequestResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbExperimentRun.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VersioningDockerEnvironmentBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VersioningEnvironmentBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VersioningEnvironmentVariablesBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VersioningPythonEnvironmentBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VersioningPythonRequirementEnvironmentBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VersioningVersionEnvironmentBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacGetCollaboratorResponse.scala
  client/scala/src/main/scala/example/DummyArtifact.scala
  client/scala/src/main/scala/example/Hello.scala
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2.py
  client/verta/verta/_protos/public/modeldb/metadata/MetadataService_pb2.py
  client/verta/verta/_protos/public/modeldb/metadata/MetadataService_pb2_grpc.py
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.go
  protos/gen/go/protos/public/modeldb/metadata/MetadataService.pb.go
  protos/gen/go/protos/public/modeldb/metadata/MetadataService.pb.gw.go
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/python/protos/public/modeldb/metadata/MetadataService_pb2.py
  protos/gen/python/protos/public/modeldb/metadata/MetadataService_pb2_grpc.py
  protos/gen/swagger/protos/public/modeldb/DatasetService.swagger.json
  protos/gen/swagger/protos/public/modeldb/ExperimentRunService.swagger.json
  protos/gen/swagger/protos/public/modeldb/HydratedService.swagger.json
  protos/gen/swagger/protos/public/modeldb/metadata/MetadataService.swagger.json
  protos/gen/swagger/protos/public/uac/Collaborator.swagger.json
Labels: backend, enhancement, java

#1682 Add workspace_id to ProjectEntity and create Liquibase migration
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend

#1683 Add workspace id to dataset entity
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend

#1696 Add metrics and hyperparameters to DistilBERT notebook
  client/workflows/demos/distilbert-sentiment-classification.ipynb
Labels: documentation

#1697 Suppress linting errors for protobuf attribute access
  client/verta/.pylintrc
Labels: python-client

#1701 VR-8224 Write class docstring for HDFSPath blob
  client/verta/docs/api/api/versioning.rst
  client/verta/verta/dataset/_hdfs.py
Labels: documentation, python-client

#1694 VR-8120 test_entities.py::TestClient::test_wrong_credentials failing; unexpected error msg
  client/verta/verta/client.py
Labels: python-client, tests

#1699 Switch over Dataset Versioning
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/verta/_dataset.py
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/_dataset_versioning/dataset_versions.py
  client/verta/verta/_dataset_versioning/datasets.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
Labels: python-client

#1704 Clean up / add tests for new dataset versioning (2)
  client/verta/tests/conftest.py
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/tests/test_datasets.py
  client/verta/tests/utils.py
Labels: python-client, tests

#1705 Skip S3 tests if boto3 not installed
  client/verta/tests/conftest.py
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/tests/test_versioning/test_dataset.py
Labels: python-client, tests

#1706 Install spacy<2.3.3 for Python 2
  client/verta/requirements.txt
Labels: python-client, tests

#1707 Document new dataset versioning
  client/verta/docs/_static/images/dataset-version-page.png
  client/verta/docs/_static/images/dataset-version-popup.png
  client/verta/docs/_static/images/dataset-version-section.png
  client/verta/docs/api/api/dataset.rst
  client/verta/docs/api/api/dataset2.rst
  client/verta/docs/api/api/experimentrun.rst
  client/verta/docs/conf.py
  client/verta/docs/tutorials/dataset.rst
  client/verta/docs/tutorials/migrate_dataset.rst
  client/verta/docs/tutorials/tutorials.rst
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/_dataset_versioning/dataset_versions.py
  client/verta/verta/_dataset_versioning/datasets.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
  client/workflows/demos/nyc-taxi-atlas-end-to-end.ipynb
Labels: documentation, python-client

#1710 Skip test_datasets.py before attempting bad import
  client/verta/tests/test_datasets.py
Labels: python-client, tests

#1711 Use correct delete API in test
  client/verta/tests/test_entities.py
Labels: python-client, tests

#1709 Limit spaCy version for Python 3.5 as well
  client/verta/requirements.txt
Labels: python-client, tests

#1712 Increment prerelease version
  client/verta/verta/__about__.py
Labels: python-client

#1715 Update test for new DataVer API
  client/verta/tests/test_organization.py
Labels: python-client, tests

#1695 Add workspace_id to repository
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend
