Repository VertaAI/modeldb, pull requests merged in 2020-08, with the labels that each got.

#1150 temporary token based s3 access
  backend/pom.xml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/S3Service.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/FetchTemporaryS3Token.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend

#1182 VR-5577 Remove support for client.get_reg_mod_ver() by name
  client/verta/tests/conftest.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_model_registry/test_model.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_tracking/context.py
  client/verta/verta/client.py
Labels: client

#1185 VR-5589 Implement Dataset._get_*() and _create_*()s
  client/verta/verta/_dataset_versioning/dataset.py
Labels: client

#1186 VR-5590 Implement Client.*_dataset2()s
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/verta/client.py
Labels: client

#1203 Remove test credentials
  backend/src/test/java/ai/verta/modeldb/AuthClientInterceptor.java
Labels: backend

#1192 Fix error for mapping does not exist in entities
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend

#1211 Un-skip tests that now pass
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_model_registry/test_model.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1205 NPE while access background task count before it registered
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend, bug

#1196 VR-5591 Implement Dataset.__repr__
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/verta/_dataset_versioning/dataset.py
Labels: client

#1197 VR-5586 Enable Dataset description RU
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/verta/_dataset_versioning/dataset.py
Labels: client

#1173 VR-5553 Implement Autoscaling class
  client/verta/verta/deployment/autoscaling/_autoscaling.py
Labels: client

#1217 Add method signatures for Registry get/set_desc
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1216 Remove duplicated module-level constants from client.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_entities.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
Labels: client

#1218 Consolidate checks for canary options
  client/verta/verta/_cli/deployment/update.py
Labels: cli

#1220 Add env_vars param to CLI update endpoint signature
  client/verta/verta/_cli/deployment/update.py
Labels: cli

#1212 Fix FindRepositories endpoint for repository collaborators
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#1219 VR-5617: Make model container paths configurable through environment variables
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/utils.py
Labels: client

#1223 Implement Dataset.create_path_version()
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
Labels: client

#1225 Add DataVer metadata CRUD interface
  client/verta/verta/_dataset_versioning/dataset_version.py
Labels: client

#1206 VR-5587 Enable Dataset tags CRUD
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/verta/_dataset_versioning/dataset.py
Labels: client

#1208 VR-5588 Enable Dataset attributes CRUD
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/verta/_dataset_versioning/dataset.py
Labels: client

#1226 Interface, enhance!
  client/verta/verta/client.py
Labels: client

#1228 Make method private
  client/verta/verta/client.py
Labels: client

#1229 Fix test by dumping update strategies in text mode
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: client, tests

#1174 VR-5554 Support autoscaling parameter in Endpoint.update()
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1231 Rename CpuMilli to CpuMillis
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_endpoint/test_resources.py
  client/verta/verta/deployment/resources.py
Labels: client

#1232 Hide registry page from navigation
  client/verta/docs/api/deployment.rst
Labels: documentation

#1230 VR-5602 Replace _UpdateRule._*_json() with _*_dict()
  client/verta/verta/deployment/update/_strategies.py
  client/verta/verta/deployment/update/rules.py
Labels: client

#1224 VR-5692 Support passing Model Version ID to CLI's endpoint update
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/update.py
Labels: cli

#1227 VR-5632 Make new Dataset CRUD methods private
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/verta/client.py
Labels: client

#1177 VR-5552 Implement subclasses for _AutoscalingMetric
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/deployment/autoscaling/metrics.py
Labels: client

#1209 VR-5658 Enable deploying ModelVersion NOT created from ExperimentRun
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1213 VR-5634 Project add collaborator
  client/verta/verta/_tracking/project.py
  client/verta/verta/deployment/resources.py
Labels: client

#1221 VR-5709 env vars cli update
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/update.py
Labels: cli

#1222 VR-5691 set get description registry
  client/verta/tests/test_model_registry/test_model.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1237 Add docs page for Endpoint
  client/verta/docs/api/api/endpoint.rst
Labels: documentation

#1236 Generate default name in Entity._create()
  client/verta/verta/_registry/model.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/client.py
Labels: client

#1238 Fix paths for autodoc
  client/verta/docs/api/api/dataset2.rst
  client/verta/docs/api/api/registry.rst
Labels: documentation

#1241 Fix various issues in Registry & Endpoint & CLI
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/_cli/registry/update.py
  client/verta/verta/_registry/modelversion.py
Labels: cli, client

#1242 Don't check for ConfigMap in CRD download test
  client/verta/tests/test_deployment.py
Labels: client, tests

#1243 Refresh cache before download docker context
  client/verta/verta/_registry/modelversion.py
Labels: client

#1244 Revert "Update date query keys for datasets"
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset_versioning/datasets.py
  client/verta/verta/client.py
Labels: client

#1245 Remove metadata overwrites
  client/verta/tests/test_metadata.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1247 Publish Client v0.14.16
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#1234 remove base_path from convert response to PathDatasetVersionInfo
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend

#1235 Fixed the sorting order for GetLatestDatasetVersionByDatasetId
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend

#1249 Fix close transaction issue for the delete cron job
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, bug

#1252 VR-5739 Change CLI create commands to call client.create_*() instead of .get_or_create_*()
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/deployment/create.py
  client/verta/verta/_cli/registry/create.py
Labels: cli

#1259 Dump JSON to file in text mode
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: cli, tests

#1261 Revert "Don't update query keys for datasets"
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset_versioning/datasets.py
  client/verta/verta/client.py
Labels: client

#1262 Revert "Remove metadata overwrites"
  client/verta/tests/test_metadata.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1257 VR-5844 model_version.download_docker_context() has 404
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1258 VR-5847 log file type for ModelVersion artifacts
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1253 VR-5735 Add documentation for Endpoint
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/client.py
Labels: client, documentation

#1255 VR-5839 Update autoscaling metrics in Client for new param names
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/deployment/autoscaling/metrics.py
Labels: client

#1246 VR-5721 Add --autoscaling to CLI's update endpoint
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/deployment/autoscaling/_autoscaling.py
  client/verta/verta/deployment/autoscaling/metrics.py
Labels: cli

#1254 Fix update cron query for the MySql
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
Labels: backend

#1268 Add Client util to convert request to cURL
  client/verta/verta/_internal_utils/_utils.py
Labels: client, tests

#1270 VR-5866 Failure with test_cli/test_registry.py::TestCreate::test_create_version_invalid_key
  client/verta/tests/test_cli/test_registry.py
Labels: cli, tests

#1271 VR-5855 Getting ModelVersion is slow in the CLI
  client/verta/verta/_registry/modelversion.py
Labels: client

#1256 VR-5661 Update Client for new Canary rules schema
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/deployment/update/rules.py
Labels: client

#1266 VR-5856 Support setting workspace via config file for CLI and Client for Registry+Endpoint
  client/verta/tests/conftest.py
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/utils.py
Labels: cli, client

#1251 VR-5720 Add --resources to CLI's update endpoint
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/deployment/resources.py
Labels: cli

#1276 Add brief README section on adding tutorials
  client/verta/docs/README.md
Labels: documentation

#1239 VR-5858 endpoint.update(wait=True) to wait until only one build is present
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1240 VR-5723 Add --filename/-f to CLI's update endpoint
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/update.py
Labels: cli

#1275 Add Registry and Endpoint API pages
  client/verta/docs/api/api/endpoint.rst
  client/verta/docs/api/deployment.rst
Labels: documentation

#1269 VR-5865 Support options for Endpoint.update_from_config
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1281 Restore staticmethod decorator
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#1282 Fix verta.deployment API page
  client/verta/docs/api/api/deployment.rst
Labels: documentation

#1283 Skip base_path tests
  client/verta/tests/test_datasets.py
Labels: client, tests

#1285 Revert metadata overwrite and find_datasets() keys
  client/verta/tests/test_datasets.py
  client/verta/tests/test_metadata.py
  client/verta/verta/_dataset_versioning/datasets.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
Labels: client

#1286 Check explicitly for presence of `project_by_user`
  client/verta/verta/__about__.py
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_tracking/project.py
Labels: client

#1214 Fix test cases
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, tests

#1279 base_path should not be added for local path dataset versions
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, bug

#1264 VR-5749 use workspace service
  client/verta/verta/_registry/entity_registry.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1289 VR-5686 remove data fetch
  client/verta/verta/_registry/model.py
Labels: client

#1280 VR-5851 attribute CRUD
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1291 versionadded for Registry and Endpoint Client
  client/verta/docs/api/api/endpoint.rst
  client/verta/docs/api/api/registry.rst
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
  client/verta/verta/deployment/_deployedmodel.py
Labels: documentation

#1290 Display build errors for endpoint.update(wait=True)
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1294 Skip dataset find test
  client/verta/tests/test_datasets.py
Labels: client, tests

#1284 VR-5908 CLI: verta deployment predict endpoint
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/__init__.py
  client/verta/verta/_cli/deployment/predict.py
Labels: cli

#1287 VR-5906 Implement DeployedModel.get_curl()
  client/verta/tests/test_deployment.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/deployment/_deployedmodel.py
Labels: client

#1288 VR-5907 Add curl to Endpoint.__repr__()
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1296 Copy get_artifact_keys() from ModelVersion to ExperimentRun
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1297 Publish Client v0.14.17
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#1298 Revert "VR-5686 use patch in registry update (#1265)"
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1304 VR-5852 description in CLI
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1308 Add test for client.registered_model_versions
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1312 Unskip working test
  client/verta/tests/test_cli/test_registry.py
Labels: tests

#1311 Compare model params instead of pickle dump
  client/verta/tests/test_cli/test_registry.py
Labels: tests

#1313 Change "Created" to "created" for consistency with other messages
  client/verta/verta/_registry/modelversion.py
Labels: client

#1300 Revert "Revert "VR-5686 use patch in registry update (#1265)" (#1298)"
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1302 VR-5905 sort env in update body
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1326 Comment out ModelVersion archive
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1328 Add missing newlines to ModelVersion.*_attribute() docstrings
  client/verta/verta/_registry/modelversion.py
Labels: client, documentation

#1314 Add RegisteredModelVersion.log_training_data()
  client/verta/docs/api/api/registry.rst
  client/verta/tests/test_deployment.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_tracking/deployable_entity.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1310 Rename --autoscaling-metrics to singular --autoscaling-metric
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/verta/_cli/deployment/update.py
Labels: cli

#1322 VR-5997 Add docstrings to client.get_project(), get_experiment(), get_experiment_run()
  client/verta/verta/client.py
Labels: client, documentation

#1305 Finish supporting attributes on ModelVersion
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1295 VR-5910 CLI: custom modules for verta registry update registeredmodelversion
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1293 VR-5934 Investigate extracting CLI documentation
  client/verta/docs/api/api/endpoint.rst
  client/verta/docs/api/api/registry.rst
  client/verta/docs/conf.py
  client/verta/docs/requirements.txt
  client/verta/verta/_cli/deployment/predict.py
Labels: documentation

#1333 VR-5848: Log verta_model_artifacts for class models
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1319 VR-5955 convert archived in proto to bool
  client/verta/verta/_registry/modelversion.py
Labels: client

#1317 VR-5918 clean up in tests
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_model_registry/test_model.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1303 VR-5909 new download docker context CLI
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/deployment/__init__.py
  client/verta/verta/_cli/deployment/download.py
  client/verta/verta/_cli/registry/__init__.py
  client/verta/verta/_cli/registry/download.py
Labels: cli

#1325 Add test for registry PATCH
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1327 Import RegistryService_pb2 as _RegistryService
  client/verta/verta/_registry/entity_registry.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/models.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_registry/modelversions.py
Labels: client

#1331 Fix endpoint update test
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client, tests

#1343 Add click as doc dependency
  client/verta/docs/requirements.txt
Labels: documentation

#1342 Add tutorial for model deployment (direct update)
  client/verta/docs/tutorials/deployment/endpoint_update.rst
Labels: documentation

#1344 Add missing quotes to doc
  client/verta/docs/tutorials/deployment/endpoint_update.rst
Labels: documentation

#1320 base_path added in PathDatasetComponentBlob
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend

#1346 Add canary update tutorial
  client/verta/docs/api/api/endpoint.rst
  client/verta/docs/tutorials/deployment/endpoint_canary_update.rst
Labels: documentation

#1359 VR-6069 Add docstrings for Autoscaling class
  client/verta/verta/deployment/autoscaling/_autoscaling.py
Labels: client, documentation

#1360 Refactor Endpoint._form_update_body()
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/deployment/update/_strategies.py
Labels: client

#1352 VR-6031: Implement ModelVersion.fetch_artifacts()
  client/verta/tests/test_deployment.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/deployable_entity.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1336 VR-6022 add user to org
  client/verta/verta/_tracking/organization.py
Labels: client

#1337 VR-6017 add attributes overwrite
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1315 VR-5936 Add brief examples to Strategy, Resource, Metric, and Rule docstrings
  client/verta/verta/deployment/autoscaling/metrics.py
  client/verta/verta/deployment/resources.py
  client/verta/verta/deployment/update/_strategies.py
  client/verta/verta/deployment/update/rules.py
Labels: documentation

#1321 VR-5919 Implement endpoint.create_access_token()
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1323 VR-6006 Add tutorial for endpoint creation and retrieval
  client/verta/docs/tutorials/deployment/endpoint_creation.rst
Labels: documentation

#1324 VR-6007 Add tutorial for endpoint querying
  client/verta/docs/tutorials/deployment/endpoint_query.rst
Labels: documentation

#1362 VR-6058 Mulitpart upload loop sometimes raises UnboundLocalError
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1371 Change MV.log_environment() docstring parameter from _Environment to Python
  client/verta/verta/_registry/modelversion.py
Labels: documentation

#1349 VR-6056 Use getDatasetVersionById in Client again
  client/verta/.pylintrc
  client/verta/verta/_dataset.py
Labels: client

#1373 Install TF>=2.2 for Py3.8
  client/verta/requirements.txt
  client/workflows/requirements.txt
Labels: client

#1361 VR-6049: Add Endpoint.download_manifest()
  client/verta/docs/api/api/endpoint.rst
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/client.py
Labels: client

#1375 Update dead link from examples/tutorials
  client/verta/docs/overview/versioning.rst
Labels: documentation

#1363 VR-6070 Add config JSON values to endpoint config classes
  client/verta/verta/deployment/autoscaling/_autoscaling.py
  client/verta/verta/deployment/autoscaling/metrics.py
  client/verta/verta/deployment/update/_strategies.py
  client/verta/verta/deployment/update/rules.py
Labels: documentation

#1378 VR-6125 Migrate verta.deployment to verta.endpoint
  client/verta/docs/api/api/endpoint.rst
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_endpoint/test_resources.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/_deployment/endpoint.py
  client/verta/verta/endpoint/__init__.py
  client/verta/verta/endpoint/autoscaling/__init__.py
  client/verta/verta/endpoint/autoscaling/_autoscaling.py
  client/verta/verta/endpoint/autoscaling/metrics.py
  client/verta/verta/endpoint/resources.py
  client/verta/verta/endpoint/update/__init__.py
  client/verta/verta/endpoint/update/_strategies.py
  client/verta/verta/endpoint/update/rules.py
Labels: client

#1376 Add wait param to endpoint.update_from_config()
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/endpoint.py
Labels: client

#1353 Fix error and warn logs
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend

#1366 Repository type filter to be generalized
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend

#1354 VR-5963 add attribute
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/utils.py
Labels: cli

#1368 VR-6023 get organization by name
  client/verta/tests/test_organization.py
  client/verta/verta/_tracking/organization.py
  client/verta/verta/client.py
Labels: client

#1390 Fix numerous dead API links on Client
  client/verta/docs/api/api/experiment.rst
  client/verta/docs/api/api/experimentrun_basic.rst
  client/verta/docs/api/api/project.rst
  client/verta/verta/_registry/model.py
  client/verta/verta/_tracking/experiment.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/_tracking/project.py
  client/verta/verta/client.py
Labels: client, documentation

#1391 Move _deployment.endpoint to endpoint._endpoint
  client/verta/docs/api/api/endpoint.rst
  client/verta/docs/tutorials/deployment/endpoint_update.rst
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/_deployment/__init__.py
  client/verta/verta/client.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/endpoint/_endpoints.py
  client/verta/verta/endpoint/autoscaling/_autoscaling.py
  client/verta/verta/endpoint/resources.py
Labels: client

#1392 Expand custom modules' virtual environment filter
  client/verta/verta/__about__.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_tracking/deployable_entity.py
Labels: client

#1340 do not populate dataset in ER, versioning information in ER if the current user does not have access to them [Config change]
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend

#1382 Fix Delete cron job for the already deleted entities after taking it on memory
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
Labels: backend

#1395 Update API links
  client/verta/docs/tutorials/config.rst
  client/verta/docs/tutorials/deployment/endpoint_update.rst
  client/verta/docs/tutorials/packaging/custom_model_with_dependencies.rst
  client/verta/docs/tutorials/packaging/local_docker_build.rst
  client/verta/docs/tutorials/querying.rst
Labels: documentation

#1394 Publish Client v0.15.0
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/endpoint/_endpoint.py
Labels: client

#1389 Fix race-condition-prone test
  client/verta/tests/test_model_registry/test_model_version.py
Labels: client, tests

#1329 VR-6008 Add tutorial for using a configuration file for endpoint update
  client/verta/docs/tutorials/deployment/endpoint_update_config.rst
Labels: documentation

#1399 Log model artifacts attribute in ModelVersion
  client/verta/tests/conftest.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1400 Publish Client v0.15.1
  client/verta/docs/changelog.rst
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/__about__.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1380 Added support for find and sort on created and updated for dataset version
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend

#1351 Add update configuration tutorial
  client/verta/docs/api/api/endpoint_autoscaling.rst
  client/verta/docs/tutorials/deployment/deployment.rst
  client/verta/docs/tutorials/deployment/endpoint_autoscaling.rst
  client/verta/docs/tutorials/deployment/endpoint_env_vars.rst
  client/verta/docs/tutorials/deployment/endpoint_resources.rst
  client/verta/docs/tutorials/deployment/endpoint_update.rst
Labels: documentation

#1401 Update docs logo and favicon
  client/verta/docs/_static/images/favicon.ico
  client/verta/docs/_static/images/logo.svg
  client/verta/docs/conf.py
Labels: documentation
