Repository VertaAI/modeldb, pull requests merged in 2020-05, with the labels that each got.

#602 Increment Client version to 0.14.4
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
  client/verta/verta/client.py
Labels: client

#597 Fix null check in Conflict Generator
  backend/src/main/java/ai/verta/modeldb/versioning/blob/diff/ConflictGenerator.java
Labels: backend

#598 Fix bug: Top-level blob locations are getting duplicated into a subfolder
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend

#599 MDB returns conflict when none exists
  backend/src/main/java/ai/verta/modeldb/versioning/blob/diff/ConflictGenerator.java
Labels: backend

#600 throw 404 when getLatestDatasetVersionByDatasetId on Dataset without a version associated with it
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
Labels: backend

#601 throw a MDB internal Exception instead of StatusRuntimeException in find calls
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: backend

#607 RemoveResources endpoint proto
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/api/RoleServiceApi.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacGetAllowedEntitiesWithActionsResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacGetCollaboratorResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacRemoveResourcesResponse.scala
  client/verta/verta/_protos/public/uac/RoleService_pb2.py
  client/verta/verta/_protos/public/uac/RoleService_pb2_grpc.py
  protos/gen/go/protos/public/uac/RoleService.pb.go
  protos/gen/go/protos/public/uac/RoleService.pb.gw.go
  protos/gen/python/protos/public/uac/RoleService_pb2.py
  protos/gen/python/protos/public/uac/RoleService_pb2_grpc.py
  protos/gen/swagger/protos/public/uac/Authorization.swagger.json
  protos/gen/swagger/protos/public/uac/Collaborator.swagger.json
  protos/gen/swagger/protos/public/uac/RoleService.swagger.json
  protos/protos/public/uac/RoleService.proto
Labels: backend

#614 Test case for Top-level blob locations are getting duplicated into a subfolder (VR_4143)
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#613 Fix Organization global sharing for datasets
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend

#615 IN operator with owners verta ID & fuzzy owner search for repositories
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#617 add pod ip in java logs
  backend/src/main/resources/log4j2.xml
Labels: backend

#616 Find Repositories by accessible repo ids
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#622 VR-4259: Mark data monitoring tests as not-OSS
  client/verta/tests/test_deployment.py
Labels: client

#621 VR-4151: Always save Keras as HDF5
  client/verta/verta/_internal_utils/_artifact_utils.py
Labels: client

#623 Account for TF 2.X in Keras integration tests
  client/verta/tests/test_integrations.py
Labels: client

#624 MDB c3po is trying to read config port as string
  backend/src/main/java/ai/verta/modeldb/App.java
Labels: backend

#625 Remove composite-id warning
  backend/src/main/java/ai/verta/modeldb/entities/config/ConfigBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/InternalFolderElementEntity.java
Labels: backend

#627 VR-4144: Skip spaCy models that sneak into requirements.txt
  client/verta/tests/test_versioning/test_environment.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
Labels: client

#626 Support TF EagerTensor in ModelAPI and deployed_model.predict()
  client/verta/verta/__about__.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/utils.py
Labels: client

#628 Increment Client version to 0.14.5
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client

#629 VR-4145: Fix AttributeError when repr Notebook Blob
  client/verta/verta/code/_notebook.py
Labels: client

#630 VR-{3283, 4119}: Support NumPy and pandas 1.X in ModelAPI
  client/verta/tests/modelapi_hypothesis/test_modelapi.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/utils.py
Labels: client

#631 VR-4127: Ignore S3 folders for versioning blob
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_s3.py
Labels: client

#636 Fix minor issue from #631
  client/verta/tests/test_versioning/test_dataset.py
Labels: client

#641 Store TF major version as str instead of int
  client/verta/tests/test_integrations.py
  client/verta/verta/_internal_utils/_artifact_utils.py
Labels: client

#640 Run a cron task with a frequency of seconds taking the sql query and updating the timestamp
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/resources/liquibase/create-index-changelog.xml
Labels: backend

#639 [Merge PR #640 first] Remove updating the update timestamp of parents
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: backend

#634 fix liquebase changeset
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#644 VR-4173: Inject verta and cloudpickle into requirements for env versioning
  client/verta/tests/test_versioning/test_environment.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/client.py
  client/verta/verta/environment/_python.py
Labels: client

#647 add workspace name field in find dataset version request
  protos/protos/public/modeldb/DatasetVersionService.proto
Labels: backend

#652 Don't use verta for environment versioning tests
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/test_versioning/test_repository.py
Labels: client

#655 Update docs links repo-wide
  README.md
  chart/modeldb/README.md
  client/README.md
  client/workflows/demos/setup-script.ipynb
Labels: documentation

#654 Update Client docs link
  webapp/client/src/core/shared/utils/globalConstants/vertaDocLinks.ts
Labels: webapp

#648 VR-4366: Blacklist deployment artifact keys
  client/verta/tests/test_artifacts.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/client.py
Labels: client

#659 Don't duplicate logic for fixing NFS URLs
  client/verta/verta/client.py
Labels: client

#646 Find dataset versions by a workspace
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#633 findExperimentRun based on the experimentId and ignore project info
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: backend

#656 update fetch APIs to only process entities with deleted=false
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#661 indexes for deleted column
  backend/src/main/resources/liquibase/create-index-changelog.xml
Labels: backend

#651 Set delete flag to true and implement cron job for delete entities
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#645 Optimizing Creation of MDB entities
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#670 VR-4440: Calculate SHA-256 for artifacts in chunks
  client/verta/tests/test_artifacts.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/client.py
Labels: client

#669 update parent timestamp query us not compatible with Postgres
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend

#666 Fix Repo Creation flow
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend

#677 Return full response for getUrlFromArtifact
  client/verta/verta/client.py
Labels: client

#664 delete optimization
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/create-index-changelog.xml
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#683 Use different names for different Dataset types to avoid conflict
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
Labels: documentation

#679 Fix transaction sequence for the retry logic
  backend/src/main/java/ai/verta/modeldb/comment/CommentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/job/JobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend

#665 remove unique constraint from liquibase indexes for name
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#675 Fixed Repository deletion
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#676 Fixed repository deletion in cron job code
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
Labels: backend

#680 Fix liquebase change sets with precondition
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#674 shutdown modeldb on start up runtime exception
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#660 VR-4348 VR-4349 VR-4350 commit artifact part, get commited part, commit parts
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAO.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/CommitMultipartFunction.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend

#650 VR-4346 VR-4347 initialize multipart, get URL
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAO.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/CommitMultipartFunction.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/S3KeyFunction.java
Labels: backend

#657 VR-4345 Update database for new Artifact fields
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAO.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/CommitMultipartFunction.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/S3KeyFunction.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#643 Enable Multipart Upload from Client
  client/verta/verta/client.py
Labels: client

#686 Fix bugs and test cases
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/create-index-changelog.xml
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/NFSArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#687 Increment Client version to 0.14.6
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: client
