Repository VertaAI/modeldb, pull requests merged in 2020-12, with the labels that each got.

#1738 Fix a bug with GSON serialization in addAttributes by removing GSON
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend

#1723 Use grpc interceptor to gather metrics instead of explict
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBAuthInterceptor.java
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSController.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Controller.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthInterceptor.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/health/HealthServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/monitoring/ErrorCountResource.java
  backend/src/main/java/ai/verta/modeldb/monitoring/MonitoringInterceptor.java
  backend/src/main/java/ai/verta/modeldb/monitoring/QPSCountResource.java
  backend/src/main/java/ai/verta/modeldb/monitoring/RequestLatencyResource.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/NFSArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
  backend/src/test/java/ai/verta/modeldb/utils/ModelDBUtilsTest.java
Labels: backend

#1743 Fix project_vis to dataset_vis
  client/verta/verta/_dataset_versioning/dataset.py
Labels: python-client

#1744 VR-7698: Keep but deprecate old dataset versioning attributes/methods
  client/verta/docs/tutorials/migrate_dataset.rst
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/client.py
Labels: python-client

#1745 Revert "VR-8143 VR-8144 VR-8145 Send empty names/paths instead of creating custom"
  client/verta/verta/_tracking/entity.py
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#1746 Skip org tests in OSS mode
  client/verta/tests/test_organization.py
Labels: python-client, tests

#1749 Fix test cases
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: backend, tests

#1396 Mention RegisteredModelVerion in packaging tutorials
  client/verta/docs/tutorials/packaging/custom_model.rst
  client/verta/docs/tutorials/packaging/custom_model_with_dependencies.rst
  client/verta/docs/tutorials/packaging/local_docker_build.rst
Labels: documentation

#1752 Add more web app tutorials
  client/verta/docs/_static/gifs/tutorial-orgs-access.gif
  client/verta/docs/_static/gifs/tutorial-sharing-1.gif
  client/verta/docs/_static/gifs/tutorial-sharing-2.gif
  client/verta/docs/_static/images/custom-users-1.png
  client/verta/docs/_static/images/custom-users-2.png
  client/verta/docs/_static/images/web-app-profile-access.png
  client/verta/docs/quickstart.rst
  client/verta/docs/tutorials/custom_users.rst
  client/verta/docs/tutorials/organizations/access_through_client.rst
  client/verta/docs/tutorials/organizations/organizations.rst
  client/verta/docs/tutorials/sharing.rst
  client/verta/docs/tutorials/tutorials.rst
Labels: documentation

#1747 Add composite model example
  client/workflows/demos/composite-model.ipynb
  client/workflows/demos/tf-text-classification.ipynb
Labels: documentation

#1757 Publish client v0.16.0
  client/verta/docs/changelog.rst
  client/verta/docs/conf.py
  client/verta/verta/__about__.py
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
  client/verta/verta/deployment/_deployedmodel.py
Labels: python-client

#1760 Fix pylint filters for Python 2
  client/verta/.pylintrc
Labels: python-client

#1764 Disable linter's import errors for optional libraries
  client/verta/verta/integrations/sklearn/__init__.py
  client/verta/verta/integrations/tensorflow/__init__.py
  client/verta/verta/integrations/torch/__init__.py
  client/verta/verta/integrations/xgboost/__init__.py
Labels: python-client

#1750 VR-8149/project creation uses setResources
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend

#1766 Enable managed versioning for DatasetVersion
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/dataset/_dataset.py
Labels: python-client

#1768 Publish client v0.16.1
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1776 Add managed versioning notebook
  client/verta/docs/examples.rst
  client/workflows/demos/census-with-managed-versioning.ipynb
Labels: documentation

#1780 VR-9362: Don't unnecessarily reset client._ctx
  client/verta/tests/test_entities.py
  client/verta/verta/client.py
Labels: python-client

#1783 Publish client v0.16.2
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1753 VR-8152 backfill existing project resources
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
Labels: backend, enhancement

#1781 Fix compilation for remaining changes and test class
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/utils/ModelDBUtilsTest.java
Labels: backend, java

#1775 Dataset and repository visibility resource migration
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/utils/ModelDBUtilsTest.java
Labels: backend, java

#1774 Dataset and repository delete cron fixes
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/utils/ModelDBUtilsTest.java
Labels: backend, java

#1773 Dataset and repository service changes
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/utils/ModelDBUtilsTest.java
Labels: backend, java

#1772 Dataset, repository entities and liquibase changes
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/utils/ModelDBUtilsTest.java
Labels: backend, java

#1784 Fix visibility logic and test cases
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, java

#1782 Repository clean up
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
Labels: backend, java

#1785 Expand org-sharing tests
  client/verta/tests/test_sharing.py
Labels: python-client, tests

#1788 Publish client v0.16.3
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1789 Fix CustomPermission logic
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1787 Fix test classes
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/utils/TestConstants.java
Labels: backend, java, tests

#1786 log environmentBlob in the experimentRun
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement, java

#1790 Support the old visibility for project, dataset, repository
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1794 Fix visibility logic bugs
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1791 Migration run each time while the service boot up
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, java

#1796 Improve code and fix unused code
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1797 Add resource name in the setResource endpoint
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1795 Fix implementation without owner, workspace and workspace_type in project entity
  backend/src/main/java/ai/verta/modeldb/authservice/AuthService.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicAuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, java

#1801 Fix fuzzy search on owner field
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1806 Improve migration code to support old and new visibility logic
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, java

#1810 Fix service account setting at the MDB bug
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/test/java/ai/verta/modeldb/ArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/NFSArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend, java

#1807 Create Repository and Dataset without owner, workspace, workspaceType
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/config/DatabaseConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend, java

#1809 Improve find and get repository and dataset entities
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1808 Improve repository and dataset already exists logic
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1821 Fix test cases and bugs
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/config/TestConfig.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/config/HyperparameterElementMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/VersioningModeldbEntityMapping.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/test/java/ai/verta/modeldb/ArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/NFSArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend, bug, java
