Repository VertaAI/modeldb, pull requests merged in 2020-09, with the labels that each got.

#1417 Install Py3.8-compatible development dependencies
  client/verta/requirements.txt
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: client, tests

#1418 VR-3285: Support Python 3.8 (don't use ast to parse find)
  client/verta/tests/test_query.py
  client/verta/verta/_internal_utils/_utils.py
Labels: client

#1419 Quicken rollout to resolve test failure
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: client, tests

#1421 Retroactively update changelog
  client/verta/docs/changelog.rst
Labels: documentation

#1307 Create tutorial for Model Registry
  client/verta/docs/tutorials/packaging/create_registered_model.rst
  client/verta/docs/tutorials/packaging/packaging.rst
  client/verta/docs/tutorials/packaging/version_from_artifacts.rst
  client/verta/docs/tutorials/packaging/version_from_run.rst
Labels: documentation

#1422 VR-6386 Enable -h as shortcut for --help in CLI
  client/verta/verta/_cli/__init__.py
Labels: cli

#1423 VR-6385 fix/add help docstrings for CLI commands
  client/verta/docs/api/api/endpoint_cli.rst
  client/verta/verta/_cli/deployment/create.py
  client/verta/verta/_cli/deployment/download.py
  client/verta/verta/_cli/deployment/get.py
  client/verta/verta/_cli/deployment/list.py
  client/verta/verta/_cli/deployment/predict.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/_cli/registry/update.py
Labels: cli, documentation

#1420 VR-6296: Enable copying a run into another experiment
  client/verta/tests/test_entities.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1412 Fix updateDatasetVersionDescriptionNegativeTest test case
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend, tests

#1194 Liquibase rollback
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend, feature branch

#1405 Restore support for version in dataset version
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend

#1441 VR-6411: Fix dataset_version_info is None when retrieved
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset.py
Labels: client

#1437 Fix nullpointer for the ToCommitProto
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend

#1411 Fix findDatasetVersionsNotSupportObservationsAttributesTest test case
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, tests

#1410 Fix findDatasetsByDatasetEndTimeTest test case
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, tests

#1404 make artifactstore config parameter backward compatible
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
Labels: backend

#1338 VR-5969 set mask for update env
  client/verta/verta/_registry/modelversion.py
Labels: client

#1443 VR-6355 add overwrite param
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1439 VR-6255 log environment second call check
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversion.py
Labels: client

#1455 Remove test case getHydratedDatasetsByProjectIdTest
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1449 Block colons and slashes for repo & dataset & branch
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#1403 Check datasets privileges while adding in runs
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend

#1446 Fix those test cases which not works due to isPopulateBasedOnPrivileges
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, tests

#1445 Fix repo hyperpamaters in runs
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, bug

#1450 Removed test case findPublicDatasetVersionsTest
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, tests

#1451 Remove test case findHydratedDatasetsTest
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1452 Remove test case findHydratedDatasetVersionsTest
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1453 Remove test case getHydratedDatasetByName
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1454 Remove test case findHydratedProjectsByUserTest
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1448 VR-6412: Enable DatasetVersion list_components() and base_path
  client/verta/docs/api/api/dataset.rst
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_path.py
Labels: client

#1432 VR-6384 Rearrange CLI options into alphabetical order
  client/verta/verta/_cli/deployment/download.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/_cli/registry/create.py
  client/verta/verta/_cli/registry/update.py
  client/verta/verta/_cli/repository/commit.py
Labels: cli

#1447 VR-5879 log_model with overwrite doesn't work with model artifacts
  client/verta/tests/test_deployment.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_metadata.py
  client/verta/verta/_tracking/experimentrun.py
Labels: client

#1464 Publish client v0.15.3
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1456 Fix findDatasetsByDatasetEndTimeTest
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1459 Remove getDatasetTags & getDatasetTagsNegativeTest()
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, tests

#1438 disable artifact store based on the config parameter
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAODisabled.java
Labels: backend

#1381 VR-5600 attributes
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/verta/_dataset_versioning/dataset_version.py
Labels: python-client

#1370 VR-5599 tags CRUD
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/verta/_dataset_versioning/dataset_version.py
Labels: python-client

#1369 VR-5598 dataset version description RU
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/verta/_dataset_versioning/dataset_version.py
Labels: python-client

#1357 VR-5596 enable dataset version crud
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/client.py
Labels: python-client

#1471 VR-6575: Remove HasField step for DataVersion oneofs
  client/verta/verta/_dataset.py
Labels: python-client

#1472 Publish client v0.15.4
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1479 Update docs links in top READMe
  README.md
Labels: documentation

#1430 VR-6085 for CLI registry attributes, raise more informative error on JSON parse failure
  client/verta/tests/test_cli/test_registry.py
  client/verta/verta/_cli/registry/update.py
Labels: cli

#1428 VR-6291 Refactor client.set_repository to get and then create
  client/verta/verta/client.py
Labels: python-client

#1484 Fix null pointer while MDB throwing custom exception
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend, bug

#1463 VR-6550 Enable Dataset CRD for Scala Client
  client/scala/src/main/scala/ai/verta/client/Client.scala
  client/scala/src/main/scala/ai/verta/dataset_versioning/Dataset.scala
  client/scala/src/test/scala/ai/verta/dataset_versioning/TestDataset.scala
Labels: scala-client

#1487 VR-4794 add repository test that reverts a merge commit
  client/verta/tests/test_versioning/test_repository.py
Labels: python-client, tests

#1485 Update pattern matching to reflect proto change.
  client/scala/src/main/scala/ai/verta/repository/Commit.scala
Labels: scala-client

#1495 Remove redundant opening braces
  client/scala/src/main/scala/ai/verta/dataset_versioning/DatasetVersion.scala
Labels: scala-client

#1367 VR-6013 find version with workspace
  client/verta/verta/_registry/modelversions.py
Labels: python-client

#1465 VR-6088 upload to modeldb -> upload to registry
  client/verta/verta/_registry/modelversion.py
Labels: python-client

#1497 Remove ignored test cases
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, tests

#1498 update timestamp of repos should avoid init commit
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
Labels: backend

#1509 Don't test overwrite for DatasetVersion attributes
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
Labels: python-client, tests

#1505 VR-6717 Handle the case of empty tags for Dataset and DatasetVersion in Scala
  client/scala/src/main/scala/ai/verta/dataset_versioning/Dataset.scala
  client/scala/src/main/scala/ai/verta/dataset_versioning/DatasetVersion.scala
  client/scala/src/test/scala/ai/verta/dataset_versioning/TestDataset.scala
Labels: bug, scala-client

#1499 VR-6701 Enable Query Dataset Blob for Scala Client
  client/scala/src/main/scala/ai/verta/blobs/dataset/DBDatasetBlob.scala
  client/scala/src/main/scala/ai/verta/blobs/dataset/QueryDatasetBlob.scala
  client/scala/src/main/scala/ai/verta/repository/Commit.scala
  client/scala/src/test/scala/ai/verta/blobs/dataset/TestQueryDatasetBlob.scala
  client/scala/src/test/scala/ai/verta/repository/TestCommit.scala
Labels: scala-client

#1503 VR-6703 Enable Atlas Hive Dataset for Scala Client
  client/scala/src/main/scala/ai/verta/blobs/dataset/AtlasDatasetBlob.scala
  client/scala/src/main/scala/ai/verta/swagger/client/BasicAuthentication.scala
  client/scala/src/main/scala/ai/verta/swagger/client/HttpClient.scala
  client/scala/src/test/scala/ai/verta/blobs/dataset/TestAtlasDatasetBlob.scala
Labels: scala-client

#1500 VR-6702 Create Dataset Version from Query Dataset Blob for Scala Client
  client/scala/src/main/scala/ai/verta/dataset_versioning/Dataset.scala
  client/scala/src/test/scala/ai/verta/dataset_versioning/TestDataset.scala
Labels: scala-client

#1429 VR-6394 In repo notebooks, replace pool.map()s with for loops
  client/workflows/demos/census-end-to-end.ipynb
  client/workflows/examples-without-verta/notebooks/sklearn-census.ipynb
  client/workflows/examples/xgboost.ipynb
Labels: python-client

#1332 VR-5968 [workspace tests] Add tests that link things across workspaces
  client/verta/tests/conftest.py
  client/verta/tests/test_datasets.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_versioning/test_repository.py
Labels: python-client, tests

#1358 VR-6047 Client should get error msg from build status endpoint during endpoint.update(wait)
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#1511 VR-6729 Support DatasetVersion description for Scala client
  client/scala/src/main/scala/ai/verta/dataset_versioning/DatasetVersion.scala
  client/scala/src/test/scala/ai/verta/dataset_versioning/TestDataset.scala
Labels: scala-client

#1510 VR-6728 Support Dataset description for Scala client
  client/scala/src/main/scala/ai/verta/dataset_versioning/Dataset.scala
  client/scala/src/test/scala/ai/verta/dataset_versioning/TestDataset.scala
Labels: scala-client

#1512 VR-6721 Enable attributes deletion for Dataset and DatasetVersion
  client/scala/src/main/scala/ai/verta/dataset_versioning/Dataset.scala
  client/scala/src/main/scala/ai/verta/dataset_versioning/DatasetVersion.scala
  client/scala/src/test/scala/ai/verta/dataset_versioning/TestDataset.scala
Labels: scala-client

#1513 VR-6718 Support list as value type in attributes for Scala client
  client/scala/src/main/scala/ai/verta/client/entities/utils/KVHandler.scala
  client/scala/src/main/scala/ai/verta/client/entities/utils/ValueType.scala
  client/scala/src/main/scala/ai/verta/swagger/client/objects/GenericObject.scala
  client/scala/src/test/scala/ai/verta/client/entities/TestExperimentRun.scala
  client/scala/src/test/scala/ai/verta/client/entities/utils/TestValueType.scala
Labels: scala-client

#1507 Health check via REST endpoint
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/health/HealthServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#1515 Fix test case
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend, tests

#1508 Separate S3 DatasetVersion test into separate case
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
Labels: python-client, tests

#1517 Use repository.delete() instead of test utils delete
  client/verta/tests/test_versioning/test_repository.py
Labels: python-client, tests

#1506 Reduce and fix log levels
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
Labels: backend

#1516 Cron fix for deletion with separate OptimisticLockException for each entity
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
Labels: backend, bug

#1521 Fix test cases for Postgres & MySQL
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, tests

#1523 Added more logs to identify actual upload status of artifact
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend

#1528 VR-4509 one Client's config test fails when HOST includes "http://"
  client/verta/tests/test_entities.py
Labels: python-client, tests

#1529 VR-4666 Make sure tutorials have links to relevant APIs
  client/verta/docs/api/api/endpoint_cli.rst
  client/verta/docs/api/api/registry_cli.rst
  client/verta/docs/tutorials/dataset.rst
  client/verta/docs/tutorials/deployment/endpoint_creation.rst
  client/verta/docs/tutorials/ingredients.rst
  client/verta/docs/tutorials/packaging/create_registered_model.rst
Labels: documentation

#1535 VR-6861: Use unique registered model name in test
  client/verta/tests/test_model_registry/test_model.py
Labels: python-client, tests

#1530 liquebase rollback
  backend/README.md
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend, feature branch

#1531 Backend return 409 when logging DatasetVersion attribute with duplicate key
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend

#1538 Clone experimentRun endpoint
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/api/ExperimentRunServiceApi.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbCloneExperimentRun.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbCloneExperimentRunResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacGetCollaboratorResponse.scala
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2.py
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2_grpc.py
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.go
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.gw.go
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2_grpc.py
  protos/gen/swagger/protos/public/modeldb/ExperimentRunService.swagger.json
  protos/gen/swagger/protos/public/uac/Collaborator.swagger.json
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend

#1524 Fix FindRepositories 5XX while field not found in the repository entity
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#1533 Remove validation check for / from repo names to Service
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend

#1545 Handle Amazon service exception while checking doesObjectExist()
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
Labels: backend, bug

#1551 VR-6903 Client tests need to skip registry tests and endpoint tests when running in OSS mode
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_endpoint/test_resources.py
  client/verta/tests/test_model_registry/test_model.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: python-client, tests

#1549 Fix liquibase table name & liquibase lock logic
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend, bug

#1540 VR-6560 repository public within org
  client/verta/tests/test_sharing.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/client.py
Labels: python-client

#1541 VR-6359 default strategy for download_endpoint_manifest and update
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_endpoint/test_resources.py
  client/verta/verta/client.py
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#1550 GetArtifact Response headers
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Controller.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
Labels: backend

#1556 VR-6720 Update client docs not restrict autoscaling *_scale to (0, 1]
  client/verta/verta/endpoint/autoscaling/_autoscaling.py
Labels: documentation, python-client

#1558 VR-6922 Reduce printing in log_models with custom_modules.
  client/verta/verta/_tracking/deployable_entity.py
Labels: python-client

#1557 remove not_oss where global mark specified
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: python-client
