Repository VertaAI/modeldb, pull requests merged in 2020-02, with the labels that each got.

#68 Update links from modeldb-oss to modeldb
  client/CONTRIBUTING.md
  client/README.md
  client/verta/docs/guides/class.rst
  client/verta/docs/guides/examples.rst
  client/verta/docs/reference/changelog.rst
  client/verta/verta/integrations/keras/__init__.py
  client/verta/verta/integrations/sklearn/__init__.py
  client/verta/verta/integrations/tensorflow/__init__.py
  client/verta/verta/integrations/torch/__init__.py
  client/verta/verta/integrations/xgboost/__init__.py
  client/verta/verta/utils.py
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
  client/workflows/demos/census-end-to-end.ipynb
  client/workflows/examples-without-verta/notebooks/sklearn-census.ipynb
  client/workflows/examples/pytorch.ipynb
  client/workflows/examples/sklearn.ipynb
  client/workflows/examples/tensorflow.ipynb
  client/workflows/examples/xgboost.ipynb
Labels: documentation

#69 Update workflows README
  client/workflows/README.md
Labels: documentation

#67 Add querying guide
  client/verta/docs/guides.rst
  client/verta/docs/guides/querying.rst
  client/verta/docs/reference/api/experimentruns.rst
  client/verta/verta/client.py
Labels: documentation

#60 VR-3308 facilitate create config
  client/verta/setup.py
  client/verta/tests/test_entities.py
  client/verta/verta/client.py
Labels: client

#62 Extract mysql code from the old repo
  backend/config/config.yaml
  backend/pom.xml
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactStoreMapping.java
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/CodeVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetPartInfoEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/FeatureEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/GitSnapshotEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/KeyValueEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ObservationEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/PathDatasetVersionInfoEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/QueryDatasetVersionInfoEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/QueryParameterEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/RawDatasetVersionInfoEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/TagsMapping.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/resources/liquibase/create-tables-changelog-1.0.xml
  backend/src/main/resources/liquibase/create_indexes.sql
  backend/src/main/resources/liquibase/create_tables.sql
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/main/resources/migration/dump-for-tidb.sh
  backend/src/main/resources/migration/postgres_to_mysql_modeldb_convert.sh
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceOrgTeamTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend

#53 [VR-3306] Investigate sphinx customization
  client/verta/docs/_static/custom.css
  client/verta/docs/_static/custom.js
  client/verta/docs/conf.py
  client/verta/requirements.txt
Labels: documentation

#77 VR-3326: Allow negative numbers in `find()` queries
  client/verta/tests/test_query.py
  client/verta/verta/client.py
Labels: client

#79 Increment Client minor version to 0.14.0
  client/verta/docs/conf.py
  client/verta/docs/reference/api/experimentrun.rst
  client/verta/docs/reference/changelog.rst
  client/verta/docs/requirements.txt
  client/verta/requirements.txt
  client/verta/setup.py
  client/verta/tests/test_query.py
  client/verta/verta/__about__.py
  client/verta/verta/client.py
  client/verta/verta/deployment.py
Labels: client

#78 revert the tables column sequences
  backend/src/main/resources/liquibase/create-tables-changelog-1.0.xml
  backend/src/main/resources/liquibase/create_indexes.sql
Labels: backend

#80 Only install Sphinx for Python 3
  client/verta/docs/requirements.txt
Labels: client

#85 Update docs copyright and favicon
  client/verta/docs/conf.py
Labels: documentation

#96 Enable directly `set_experiment_run()` using config file
  client/verta/tests/test_entities.py
  client/verta/verta/client.py
Labels: client

#103 fix versioning proto typos
  protos/protos/public/modeldb/metadata/MetadataService.proto
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: protos

#105 table names & default liquebase table names changed to snack-case
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactStoreMapping.java
  backend/src/main/java/ai/verta/modeldb/entities/CodeVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/FeatureEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/GitSnapshotEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/TagsMapping.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/create-tables-changelog-1.0.xml
  backend/src/main/resources/liquibase/create_indexes.sql
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#72 VR-3010: Accumulate and lazily eval Clientside find queries
  client/verta/docs/reference/api/experimentruns.rst
  client/verta/tests/test_entities.py
  client/verta/tests/test_query.py
  client/verta/verta/client.py
Labels: client

#73 VR-2639: Use pagination for Dataset RPCs
  client/verta/verta/_dataset.py
  client/verta/verta/_utils.py
  client/verta/verta/client.py
Labels: client

#115 Update KeyValue from modeldb::CommonService to common::CommonService
  client/verta/verta/_dataset.py
  client/verta/verta/client.py
Labels: client

#116 Make docs code blocks directly copy&pastable
  client/verta/docs/guides/dataset.rst
  client/verta/docs/guides/installation.rst
  client/verta/docs/guides/querying.rst
  client/verta/docs/guides/runthrough.rst
  client/verta/docs/guides/workflow.rst
  client/verta/docs/guides/workspaces.rst
  client/verta/verta/client.py
  client/verta/verta/deployment.py
  client/verta/verta/integrations/keras/__init__.py
  client/verta/verta/integrations/sklearn/__init__.py
  client/verta/verta/integrations/tensorflow/__init__.py
  client/verta/verta/integrations/torch/__init__.py
  client/verta/verta/integrations/xgboost/__init__.py
  client/verta/verta/utils.py
Labels: documentation

#106 Versioning with new design
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/InternalFolderElementEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/TagsEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
Labels: backend

#121 VR-3364: Add public_within_org option for set_project() and set_dataset()
  client/verta/verta/_dataset.py
  client/verta/verta/_utils.py
  client/verta/verta/client.py
Labels: client

#126 Fix false warning
  client/verta/verta/_dataset.py
  client/verta/verta/client.py
Labels: client

#127 Handle further nested Python protos' imports
  client/verta/verta/_protos/public/modeldb/metadata/MetadataService_pb2_grpc.py
  client/verta/verta/_protos/public/modeldb/versioning/VersioningService_pb2.py
  client/verta/verta/_protos/public/modeldb/versioning/VersioningService_pb2_grpc.py
  protos/gen/python/protos/public/modeldb/metadata/MetadataService_pb2_grpc.py
  protos/gen/python/protos/public/modeldb/versioning/VersioningService_pb2.py
  protos/gen/python/protos/public/modeldb/versioning/VersioningService_pb2_grpc.py
  protos/scripts/build.sh
  protos/scripts/fix_imports.py
  protos/scripts/get_dependencies.sh
Labels: protos

#118 added status in response message of metadata add/delete
  protos/protos/public/modeldb/metadata/MetadataService.proto
Labels: protos

#134 Fix hosts in Client tests
  client/verta/tests/test_entities.py
Labels: client

#137 VR-3392: Implement verta.dataset.S3
  client/verta/tests/test_datasets.py
  client/verta/verta/dataset/__init__.py
  client/verta/verta/dataset/s3.py
Labels: client

#119 Feature/vr 3314 repo fix
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend

#143 Make both CreateCommit endpoints POST
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: protos

#120 org level default sharing
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/collaborator/CollaboratorServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend

#140 fix find projects bug
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend

#93 Implementation of tags RPC in versioning
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/TagsEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend

#142 fix liquebase db lock logic
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#117 versioning metadata service
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAO.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend

#125 VR-3385: Implement client.get_or_create_repository()
  client/verta/tests/test_repository.py
  client/verta/tests/utils.py
  client/verta/verta/_repository/__init__.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/client.py
Labels: client

#132 VR-3314 change data columns
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/metadata/LabelsMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/TagsEntity.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
Labels: backend

#139 repositories_total_records
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend

#154 VR-{3435, 3436}: Patch Client errors in Databricks
  client/verta/verta/_utils.py
  client/verta/verta/client.py
Labels: client

#165 [DRAFT] : createCommit
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/FileHasher.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend

#169 VR-3465 remove base blob from folder element
  backend/src/main/java/ai/verta/modeldb/entities/ComponentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
Labels: backend

#170 Update test because log_code() no longer raises an `OSError`
  client/verta/tests/test_log_code.py
Labels: client

#159 VR-3390: commit.tag("banana")
  client/verta/verta/_repository/commit.py
Labels: client

#131 Feature/vr 3327 create commit
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
Labels: backend

#180 VR-3366: Migrate readme.io content
  client/verta/docs/_static/custom.css
  client/verta/docs/_static/images/web-app-charts-1.png
  client/verta/docs/_static/images/web-app-charts.png
  client/verta/docs/_static/images/web-app-expt-run.png
  client/verta/docs/_static/images/web-app-expt-runs-table.png
  client/verta/docs/_static/images/web-app-login.png
  client/verta/docs/_static/images/web-app-profile.png
  client/verta/docs/_static/images/web-app-projects.png
  client/verta/docs/guides.rst
  client/verta/docs/guides/runthrough.rst
  client/verta/docs/guides/webapp.rst
  client/verta/docs/reference/glossary.rst
Labels: documentation

#157 get commit blob with test case
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/InternalFolderElementEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#168 delete commit
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend
