Repository VertaAI/modeldb, pull requests merged in 2020-03, with the labels that each got.

#192 Add basic files for environment submodule
  client/verta/verta/environment/__init__.py
  client/verta/verta/environment/python.py
Labels: client

#195 Remove readme.io links
  client/verta/docs/guides/workflow.rst
  client/verta/docs/index.rst
Labels: documentation

#190 commit author populated by backend
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend

#189 Tag endpoints return the helpful error messages
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#179 Implement ListCommitBlobs API
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#178 VR-3386: Implement commit.walk()
  client/verta/tests/conftest.py
  client/verta/tests/test_repository.py
  client/verta/tests/utils.py
  client/verta/verta/_repository/commit.py
Labels: client

#164 VR-3387: repo.get_commit(tag="banana")
  client/verta/tests/test_repository.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
Labels: client

#193 VR-{3479, 3482, 3483}: Capture Python version, cmd line args, env vars
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/python.py
Labels: client

#203 commit diff
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#209 Implement set, get, list, delete Branches functionality
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/BranchEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  protos/protos/public/modeldb/versioning/VersioningService.proto
Labels: backend

#210 VR-3524: enable adding environment blobs to commits
  client/verta/tests/test_versioning.py
  client/verta/verta/_repository/blob.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/__init__.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_s3.py
  client/verta/verta/environment/__init__.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
Labels: client

#207 VR-3480: Capture pip requirements
  client/verta/tests/conftest.py
  client/verta/tests/test_datasets.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_log_code.py
  client/verta/tests/test_metadata.py
  client/verta/tests/test_utils.py
  client/verta/tests/test_versioning.py
  client/verta/tests/utils.py
  client/verta/verta/_dataset.py
  client/verta/verta/_internal_utils/__init__.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_s3.py
  client/verta/verta/deployment.py
  client/verta/verta/environment/_python.py
  client/verta/verta/integrations/keras/__init__.py
  client/verta/verta/integrations/sklearn/__init__.py
  client/verta/verta/integrations/tensorflow/__init__.py
  client/verta/verta/integrations/torch/__init__.py
  client/verta/verta/integrations/xgboost/__init__.py
  client/verta/verta/utils.py
Labels: client

#188 Feature/vr 3474 environment blobs
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/entities/BlobTreeInformation.java
  backend/src/main/java/ai/verta/modeldb/entities/ComponentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/code/GitCodeBlob.java
  backend/src/main/java/ai/verta/modeldb/entities/code/NotebookCodeBlob.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/DockerEnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/EnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/EnvironmentCommandLineEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/EnvironmentVariablesEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/PythonEnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/PythonEnvironmentRequirementBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/InternalFolderElementEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/TreeElem.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/BlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/DatasetBlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/EnvironmentBlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/EnvironmentContainer.java
Labels: backend

#214 Feature/vr 3536 dont add dataset components to tree
  backend/src/main/java/ai/verta/modeldb/entities/code/GitCodeBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/code/NotebookCodeBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/PathDatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/dataset/S3DatasetComponentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/DatasetComponentDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/TreeElem.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/DatasetBlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/CodeContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/BlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/CodeBlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/DatasetBlobFactory.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/EnvironmentBlobFactory.java
Labels: backend

#230 Fix tests
  client/verta/tests/test_datasets.py
Labels: client

#232 Rename test file
  client/verta/tests/test_environment_versioning.py
Labels: client

#233 Fix typo
  client/verta/docs/_static/custom.css
Labels: documentation

#237 Add support for branches in Client
  client/verta/tests/test_repository.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
Labels: client

#238 Remove obsolete check
  client/verta/tests/test_environment_versioning.py
Labels: client

#234 VR-3485: Config versioning
  client/verta/tests/test_configuration_versioning.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/configuration/__init__.py
  client/verta/verta/configuration/_configuration.py
  client/verta/verta/configuration/_hyperparameters.py
Labels: client

#244 Minor Client cleanup for pylint
  client/verta/verta/_dataset.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/client.py
  client/verta/verta/deployment.py
  client/verta/verta/utils.py
Labels: client

#245 Add docs for versioning
  client/verta/docs/reference/api.rst
  client/verta/docs/reference/api/dataset.rst
  client/verta/docs/reference/api/versioning.rst
  client/verta/verta/configuration/_configuration.py
  client/verta/verta/configuration/_hyperparameters.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_s3.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
Labels: documentation

#243 Require parents for repo.new_commit()
  client/verta/tests/conftest.py
  client/verta/tests/test_repository.py
  client/verta/verta/_repository/repository.py
Labels: client

#248 VR-3517: Path datasets
  client/verta/docs/reference/api/versioning.rst
  client/verta/tests/test_dataset_versioning.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/dataset/__init__.py
  client/verta/verta/dataset/_path.py
Labels: client

#254 Move versioning tests into their own subdirectory
  client/verta/tests/__init__.py
  client/verta/tests/test_dataset_versioning.py
  client/verta/tests/test_datasets.py
  client/verta/tests/test_versioning/__init__.py
  client/verta/tests/test_versioning/test_configuration.py
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/test_versioning/test_repository.py
Labels: client

#255 Add summaries to versioning class docstrings
  client/verta/verta/configuration/_hyperparameters.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
  client/verta/verta/environment/_python.py
Labels: documentation

#256 Update gen'd protos
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/api/ExperimentRunServiceApi.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbCreateExperimentRun.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbExperimentRun.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningBlobDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/uac/model/UacGetCollaboratorResponse.scala
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2.py
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2_grpc.py
  client/verta/verta/_protos/public/modeldb/versioning/Code_pb2.py
  client/verta/verta/_protos/public/modeldb/versioning/Config_pb2.py
  client/verta/verta/_protos/public/modeldb/versioning/Environment_pb2.py
  client/verta/verta/_protos/public/modeldb/versioning/VersioningService_pb2.py
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.go
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.gw.go
  protos/gen/go/protos/public/modeldb/versioning/Code.pb.go
  protos/gen/go/protos/public/modeldb/versioning/Config.pb.go
  protos/gen/go/protos/public/modeldb/versioning/Environment.pb.go
  protos/gen/go/protos/public/modeldb/versioning/VersioningService.pb.go
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2_grpc.py
  protos/gen/python/protos/public/modeldb/versioning/Code_pb2.py
  protos/gen/python/protos/public/modeldb/versioning/Config_pb2.py
  protos/gen/python/protos/public/modeldb/versioning/Environment_pb2.py
  protos/gen/python/protos/public/modeldb/versioning/VersioningService_pb2.py
  protos/gen/swagger/protos/public/modeldb/DatasetService.swagger.json
  protos/gen/swagger/protos/public/modeldb/ExperimentRunService.swagger.json
  protos/gen/swagger/protos/public/modeldb/HydratedService.swagger.json
  protos/gen/swagger/protos/public/modeldb/versioning/VersioningService.swagger.json
  protos/gen/swagger/protos/public/uac/Collaborator.swagger.json
Labels: protos

#257 Add newly-generated scala protos
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbGetVersionedInputResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogVersionedInput.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbLogVersionedInputResponse.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbVersioningEntry.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/VertamodeldbLocation.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningCodeDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningConfigDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningDockerEnvironmentDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningEnvironmentDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningGitCodeDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningHyperparameterConfigDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningHyperparameterSetConfigDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningNotebookCodeDiff.scala
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/versioning/model/VersioningPythonEnvironmentDiff.scala
Labels: protos

#249 VR-3484: Implement Git and Notebook versioning
  client/verta/docs/reference/api/versioning.rst
  client/verta/verta/_internal_utils/_git_utils.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/client.py
  client/verta/verta/code/__init__.py
  client/verta/verta/code/_code.py
  client/verta/verta/code/_git.py
  client/verta/verta/code/_notebook.py
Labels: client

#267 commit with diff changes
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
Labels: backend

#259 VR-3541: Enable linking Commit with ExptRun
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/client.py
Labels: client

#269 VR-3523: Enable versioning tests
  client/verta/tests/test_versioning/test_configuration.py
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/test_versioning/test_repository.py
Labels: client

#270 Fix Client tests
  client/verta/tests/conftest.py
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_datasets.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_log_code.py
  client/verta/tests/test_metadata.py
  client/verta/tests/test_utils.py
Labels: client

#221 orgGlobal role binding is applied only if project visibility is OrgPublic
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend

#273 VR-3584: Add Commit Diffs
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/diff.py
  client/verta/verta/_repository/repository.py
Labels: client

#265 VR-3587 commit with diff
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
Labels: backend

#280 Fix tests for Python 3
  client/verta/tests/test_versioning/test_configuration.py
Labels: client

#272 Define aliases for Client's get-or-create methods
  client/verta/verta/client.py
Labels: client

#271 Amend notebook path to be relative to repo root
  client/verta/verta/code/_notebook.py
Labels: client

#281 Update Client to pass repo obj into Commit init
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/client.py
Labels: client

#283 Treat commit A as reference
  client/verta/verta/_repository/commit.py
Labels: client

#282 Reuse clean reqs util for environment
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/client.py
  client/verta/verta/environment/_python.py
Labels: client

#268 postgres related fixes
  backend/config/config.yaml
  backend/src/main/java/ai/verta/modeldb/entities/config/HyperparameterElementConfigBlobEntity.java
  backend/src/main/resources/liquibase/create-index-changelog.xml
  backend/src/main/resources/liquibase/create-versioning-tables-changelog.xml
  backend/src/main/resources/liquibase/create-versioning-tables-changelog2.xml
  backend/src/main/resources/liquibase/create_indexes.sql
  backend/src/main/resources/liquibase/db-changelog-1.0.xml
  backend/src/test/java/ai/verta/modeldb/TestSequenceSuite.java
Labels: backend

#284 Enhance versioning docs!
  client/verta/docs/reference/api/experimentrun.rst
  client/verta/docs/reference/api/versioning.rst
  client/verta/verta/client.py
  client/verta/verta/configuration/_hyperparameters.py
Labels: client

#285 Put commit branch on its own line in Commit.__repr__
  client/verta/verta/_repository/commit.py
Labels: client

#279 sorted blobs in alphabetical order of locations
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend

#292 Add repr for diffs
  client/verta/verta/_repository/diff.py
Labels: client

#278 validation check to support only INT_VALUE in continuous hyperparameter set config
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
Labels: backend

#288 validating versioning for experiment run
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend

#294 Skip empty lines in commit repr
  client/verta/verta/_repository/commit.py
Labels: client

#295 Fix bug
  client/verta/verta/client.py
Labels: client

#290 Require commit message
  client/verta/tests/test_versioning/test_configuration.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/__about__.py
  client/verta/verta/_repository/commit.py
Labels: client
