Repository VertaAI/modeldb, pull requests merged in 2020-10, with the labels that each got.

#1560 Added location info in Log4j logs
  backend/src/main/resources/log4j2.xml
Labels: backend

#1544 remove update job for datasets
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
Labels: backend

#1543 update cron broken on tidb
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
Labels: backend, bug

#1542 Remove dest project id from clone experimentRun request
  client/scala/src/main/scala/ai/verta/swagger/_public/modeldb/model/ModeldbCloneExperimentRun.scala
  client/verta/verta/_protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/go/protos/public/modeldb/ExperimentRunService.pb.go
  protos/gen/python/protos/public/modeldb/ExperimentRunService_pb2.py
  protos/gen/swagger/protos/public/modeldb/ExperimentRunService.swagger.json
  protos/protos/public/modeldb/ExperimentRunService.proto
Labels: backend

#1532 Clone ExperimentRun
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement

#1427 Fix test cases with the new migration service logic
  backend/src/test/java/ai/verta/modeldb/ArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/NFSArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend, tests

#1409 Fix Unable to acquire JDBC Connection (Connection pool fix)
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#1569 Use run for log_code() examples
  client/verta/verta/_tracking/entity.py
Labels: documentation

#1565 aws temporary credentials refresh logic
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/FetchTemporaryS3Token.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend

#1574 Hibernate query caching to reduce OOM
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend

#1572 Optimization for the OOM
  backend/pom.xml
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/FetchTemporaryS3Token.java
Labels: backend

#1562 Improve project test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, tests

#1575 Improve experiment test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: backend, tests

#1581 Improve experimentRun test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, tests

#1583 Improve Dataset test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, tests

#1587 Improve DatasetVersion test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
Labels: backend, tests

#1594 Fix findRepositories bug with repo name not_contain case
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
Labels: backend, bug

#1593 Improve Repository test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, tests

#1603 Check that versionID is not "null" string
  client/scala/src/main/scala/ai/verta/blobs/dataset/S3.scala
Labels: scala-client

#1586 name & description both are empty then MDB throws NullPointerException
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: backend, bug

#1592 Fix multipart upload race condition
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
Labels: backend

#1598 Fix experimentRun test cases
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, tests

#1599 Improve FindDatasetEntities test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, tests

#1600 Improve FindProjectEntities test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: backend, tests

#1595 Improve Commit test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, tests

#1601 Improve HydratedService test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests

#1604 Fix broken test cases
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, tests

#1605 Improve Branch test class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
Labels: backend, tests

#1588 Restructure getArtifact url to automatically save file in correct name
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSController.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Controller.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
Labels: backend

#1608 Add default scheme if not provided for VERTA_HOST.
  client/scala/src/main/scala/ai/verta/client/ClientConnection.scala
Labels: bug, scala-client

#1536 VR-6432 test_deployment.py::TestLogModel::test_no_custom_modules fails on Jim's machine; picks up more files than expected
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#1527 VR-6569 Add Client print for Dataset.get_latest_version()
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
  client/verta/tests/test_datasets.py
  client/verta/verta/_dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
Labels: python-client

#1606 Improve CollaboratorTest class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
Labels: backend, tests

#1609 Improve CommentTest class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
Labels: backend, tests

#1611 Improve LineageTest class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
Labels: backend, tests

#1612 Improve MergeTest class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
Labels: backend, tests

#1610 Improve DiffTest class with self deletion logic for created entities
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, tests

#1613 Fix broken tests from new changes
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, bug, tests

#1563 Propagate out error during uploading
  client/scala/src/main/scala/ai/verta/repository/Commit.scala
Labels: bug, scala-client

#1518 VR-6765 Implement ExperimentRun.log/set_dataset_version for Scala client
  client/scala/src/main/scala/ai/verta/client/entities/ExperimentRun.scala
  client/scala/src/main/scala/ai/verta/dataset_versioning/Dataset.scala
  client/scala/src/main/scala/ai/verta/dataset_versioning/DatasetVersion.scala
  client/scala/src/test/scala/ai/verta/client/entities/TestExperimentRun.scala
Labels: scala-client

#1273 VR-5874 Add tests to create entities with the same name in different workspaces
  client/verta/tests/test_organization.py
Labels: python-client, tests

#1546 VR-6825 Perform parallel tests to validate concurrency
  client/verta/tests/test_concurrency/__init__.py
  client/verta/tests/test_concurrency/run_functions.py
  client/verta/tests/test_concurrency/test_concurrency.py
Labels: python-client, tests
