Repository VertaAI/modeldb, pull requests merged in 2021-05, with the labels that each got.

#2239 [VR-10901] Async get experiment run by name
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2238 [VR-10900] Async get experiment run by id
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2198 Find ER based on workspace
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2237 [VR-10902] Async log environment in run
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/EnvironmentHandler.java
Labels: backend, enhancement, java

#2232 [VR-10903] Log versioned input endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
Labels: backend, enhancement, java

#2253 [VR-11037] Deprecate log_training_data()
  client/verta/tests/test_deployment.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_tracking/deployable_entity.py
Labels: documentation, python-client, tests

#2254 Add conn.email property
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_permissions/test_visibility_e2e.py
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#2247 Fix race condition due to internal future while creating ER
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, bug, java

#2258 Update deprecation notices, including log_requirements()
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/_tracking/experimentruns.py
  client/verta/verta/client.py
  client/verta/verta/deployment/_deployedmodel.py
Labels: python-client

#2257 [VR-10559] Drop "+..." suffix from version pins
  client/verta/tests/test_experimentrun/test_requirements.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/verta/__about__.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
  client/verta/verta/registry/_entities/modelversion.py
Labels: python-client

#2260 Revert test change
  client/verta/tests/operations/monitoring/alerts/test_entities.py
Labels: python-client, tests

#2262 Refactor time utils
  client/verta/verta/_internal_utils/time_utils/__init__.py
  client/verta/verta/_internal_utils/time_utils/_time_utils_py2.py
  client/verta/verta/_internal_utils/time_utils/_time_utils_py3.py
  client/verta/verta/_internal_utils/time_utils/_utc_py2.py
  client/verta/verta/_internal_utils/time_utils/_utc_py3.py
Labels: python-client

#2144 Populate linked datasets based on privileges in runs while creating ER and Find ER response
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedDatasetsHandler.java
  backend/src/main/java/ai/verta/modeldb/interfaces/CheckEntityPermissionBasedOnResourceTypesFunction.java
Labels: backend, enhancement, java

#2168 Removed TODO and implemented datasets in ER creation
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedDatasetsHandler.java
  backend/src/main/java/ai/verta/modeldb/interfaces/CheckEntityPermissionBasedOnResourceTypesFunction.java
Labels: backend, enhancement, java

#2231 [VR-10898] Check privileges for version input in find ER
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedDatasetsHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedVersionedInputsHandler.java
  backend/src/main/java/ai/verta/modeldb/interfaces/CheckEntityPermissionBasedOnResourceTypesFunction.java
Labels: backend, enhancement, java

#2140 [VR-10673] Async create experiment run
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/EnvironmentHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedDatasetsHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedVersionedInputsHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
  backend/src/main/java/ai/verta/modeldb/interfaces/CheckEntityPermissionBasedOnResourceTypesFunction.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, enhancement, java

#2229 [VR-10896] Populate all code version from blob
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionFromBlobHandler.java
Labels: backend, enhancement, java

#2219 Populate hyperparameter from config blob in Find ER
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionFromBlobHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparametersFromConfigHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/MapSubtypes.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, enhancement, java

#2263 [VR-10987] Simplify defining sample query during alert creation
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/tests/operations/monitoring/conftest.py
  client/verta/verta/operations/monitoring/alert/_alerter.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/monitored_entity.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
  client/verta/verta/operations/monitoring/notification_channel/_notification_channel.py
  client/verta/verta/operations/monitoring/summaries/queries.py
Labels: python-client

#2259 Change _update_last_evaluated_at to make a patch-like request
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
Labels: python-client

#2293 Put upper bound on dependency versions
  client/verta/setup.py
Labels: python-client

#2279 Fix test initialization logic which is broken after App.java was restructured
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#2290 Added missing validation check on getExperimentRunByName
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, bug, enhancement, java

#2289 Added missing validation check on getExperimentRunById
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, bug, enhancement, java

#2288 Fix checkPermission method
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, bug, enhancement, java

#2286 Fix tags handler bugs
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
Labels: backend, bug, enhancement, java

#2282 Fix getVersionedInput handler bugs and missing impl
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
Labels: backend, bug, enhancement, java

#2281 Fix get artifact using keys
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
Labels: backend, bug, enhancement, java

#2284 Fix create ER handler with missing validation checks
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, bug, enhancement, java

#2298 Fix changes which needed to execute ER test
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, java, tests

#2297 Fix ER test due to async implementation
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, java, tests

#2295 Ignore test cases for UNIMPLEMENTED endpoints
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, java, tests

#2280 Fix keyvalue handler bugs and missing impl
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: backend, bug, enhancement, java

#2283 Fix code version handler bugs for code version snapshot
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
Labels: backend, bug, enhancement, java

#2285 Fix observation handler (missing field, deleteObservations)
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
Labels: backend, bug, enhancement, java

#2302 [VR-11224] Added ER entity back in ER service endpoints responses
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2301 [VR-11224] Added project entity back in project service endpoints responses
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: backend, enhancement, java

#2300 [VR-11223] added an attribute if it didn't exist on updateProjectAttributes
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
Labels: backend, enhancement, java

#2305 Update (most) tests to use run.log_environment instead of log_requirements()
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_cli/test_endpoint.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_permissions/test_visibility_e2e.py
Labels: python-client, tests

#2287 Fix find experiment run predicates
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
Labels: backend, bug, enhancement, java

#2310 Fix sorting order for find ER and hyperparameters (keyvalue fields)
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderColumn.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderItem.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderTable.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/SortingHandler.java
Labels: backend, enhancement, java

#2306 Fixed test cases which missed to get from actual PRs
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement, java, tests

#2299 Find ER based on config hyperparameters
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderColumn.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderItem.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderTable.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparameterPredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicateHandlerUtils.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/SortingHandler.java
Labels: backend, enhancement, java

#2308 Change _entities to entities
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/tests/operations/monitoring/notification_channels/test_entities.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_query.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/client.py
  client/verta/verta/endpoint/__init__.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/operations/monitoring/alert/entities/__init__.py
  client/verta/verta/operations/monitoring/alert/entities/_alert.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/monitored_entity.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/__init__.py
  client/verta/verta/operations/monitoring/notification_channel/entities/__init__.py
  client/verta/verta/operations/monitoring/notification_channel/entities/_notification_channel.py
  client/verta/verta/operations/monitoring/summaries/summary.py
  client/verta/verta/registry/_entities/__init__.py
  client/verta/verta/registry/entities/__init__.py
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/registry/entities/_models.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/registry/entities/_modelversions.py
Labels: python-client

#2316 Move _repository to repository
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/_repository/__init__.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
  client/verta/verta/code/_code.py
  client/verta/verta/configuration/_configuration.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/repository/__init__.py
  client/verta/verta/repository/_blob.py
  client/verta/verta/repository/_commit.py
  client/verta/verta/repository/_diff.py
  client/verta/verta/repository/_repository.py
Labels: python-client

#2313 [VR-8272] Move verta._dataset_versioning to verta.dataset.entities
  client/verta/verta/_dataset_versioning/__init__.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/entities/__init__.py
  client/verta/verta/dataset/entities/dataset.py
  client/verta/verta/dataset/entities/dataset_version.py
  client/verta/verta/dataset/entities/dataset_versions.py
  client/verta/verta/dataset/entities/datasets.py
Labels: python-client

#2314 Move _tracking to tracking
  client/verta/tests/conftest.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_experimentrun/test_requirements.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_organization.py
  client/verta/tests/test_query.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_tracking/__init__.py
  client/verta/verta/client.py
  client/verta/verta/dataset/entities/dataset.py
  client/verta/verta/dataset/entities/dataset_version.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/integrations/keras/__init__.py
  client/verta/verta/integrations/tensorflow/__init__.py
  client/verta/verta/integrations/torch/__init__.py
  client/verta/verta/integrations/xgboost/__init__.py
  client/verta/verta/monitoring/alert/entities/_alert.py
  client/verta/verta/monitoring/monitored_entity.py
  client/verta/verta/monitoring/notification_channel/entities/_notification_channel.py
  client/verta/verta/monitoring/profilers.py
  client/verta/verta/monitoring/summaries/summary.py
  client/verta/verta/monitoring/summaries/summary_sample.py
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/__init__.py
  client/verta/verta/tracking/_context.py
  client/verta/verta/tracking/_organization.py
  client/verta/verta/tracking/entities/__init__.py
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_entity.py
  client/verta/verta/tracking/entities/_experiment.py
  client/verta/verta/tracking/entities/_experimentrun.py
  client/verta/verta/tracking/entities/_experimentruns.py
  client/verta/verta/tracking/entities/_experiments.py
  client/verta/verta/tracking/entities/_project.py
  client/verta/verta/tracking/entities/_projects.py
Labels: python-client

#2318 Move common.comparison to monitoring.comparison
  client/verta/tests/common/comparison/__init__.py
  client/verta/tests/monitoring/alerts/test_alerter.py
  client/verta/tests/monitoring/alerts/test_entities.py
  client/verta/tests/monitoring/comparison/__init__.py
  client/verta/tests/monitoring/comparison/test_comparison.py
  client/verta/verta/common/__init__.py
  client/verta/verta/monitoring/alert/_alerter.py
  client/verta/verta/monitoring/comparison/__init__.py
  client/verta/verta/monitoring/comparison/_equal_to.py
  client/verta/verta/monitoring/comparison/_greater_than.py
  client/verta/verta/monitoring/comparison/_greater_than_or_equal_to.py
  client/verta/verta/monitoring/comparison/_less_than.py
  client/verta/verta/monitoring/comparison/_less_than_or_equal_to.py
  client/verta/verta/monitoring/comparison/_not_equal_to.py
  client/verta/verta/monitoring/comparison/_verta_comparison.py
Labels: python-client

#2312 [VR-11316] Implemented getExperimentRunsByExperiment endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2325 [VR-11356] Return path from download_model()
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: bug, python-client

#2320 [VR-11319] Fix findHydratedExperimentRuns bug
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
Labels: backend, bug, java

#2321 [VR-11341] Implemented GetExperimentRunsInProject endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2327 Fix liquibase checksum bug
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, bug, java

#2331 Update docstrings for summary submodule movement
  client/verta/verta/monitoring/alert/_alerter.py
  client/verta/verta/monitoring/alert/entities/_alert.py
  client/verta/verta/monitoring/alert/status/_status.py
  client/verta/verta/monitoring/client.py
  client/verta/verta/monitoring/labels.py
  client/verta/verta/monitoring/summaries/summaries.py
Labels: documentation, python-client

#2338 Update tests to check for 404
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_permissions/test_visibility_e2e.py
Labels: python-client, tests

#2339 Minor cleanup for test cleanups
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_organization.py
  client/verta/tests/test_permissions/test_sharing_old.py
  client/verta/tests/test_permissions/test_visibility_api.py
Labels: python-client, tests

#2332 Have summary.delete() delete itself
  client/verta/tests/monitoring/conftest.py
  client/verta/verta/monitoring/summaries/summary.py
Labels: python-client

#2319 Privatize dataset entities submodules
  client/verta/verta/dataset/entities/__init__.py
  client/verta/verta/dataset/entities/_dataset.py
  client/verta/verta/dataset/entities/_dataset_version.py
  client/verta/verta/dataset/entities/_dataset_versions.py
  client/verta/verta/dataset/entities/_datasets.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2326 [VR-11360] Consolidate logic into summary_sample_query property
  client/verta/tests/monitoring/alerts/test_entities.py
  client/verta/verta/monitoring/alert/entities/_alert.py
  client/verta/verta/monitoring/summaries/queries.py
Labels: python-client

#2341 Increment prerelease version
  client/verta/verta/__about__.py
Labels: python-client

#2328 [VR-11344] Fix reconcile cron bug
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperimentRuns.java
Labels: backend, bug, java

#2333 Fix predicate handler for artifact and dataset
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
Labels: backend, bug, enhancement, java

#2335 Added privileged check on log datasets endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, bug, enhancement, java

#2336 [VR-11412] Implement getExperimentRunsByDatasetVersionId endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement, java

#2337 Implement updateExperimentRunDescription endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperimentRuns.java
Labels: backend, enhancement, java

#2334 Fix privileged datasets handler for error out while insertion and not for find calls
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedDatasetsHandler.java
Labels: backend, bug, enhancement, java

#2343 [VR-11444] Fixed find ER based on observation
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
Labels: backend, bug, enhancement, java

#2344 Fix get ER by experiment with pagination and re-enable test cases
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement, java

#2329 [VR-11339] Implemented CloneExperimentRun endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: backend, enhancement, java

#2351 set default verta workspace through environment variable
  client/verta/verta/client.py
Labels: python-client

#2352 Change with_workspace(workspace_name) param to workspace
  client/verta/verta/dataset/entities/_datasets.py
  client/verta/verta/endpoint/_endpoints.py
  client/verta/verta/registry/entities/_models.py
  client/verta/verta/registry/entities/_modelversions.py
  client/verta/verta/tracking/entities/_experimentruns.py
  client/verta/verta/tracking/entities/_experiments.py
  client/verta/verta/tracking/entities/_projects.py
Labels: python-client

#2353 [VR-11191] Add module docstrings
  client/verta/.pydocstyle
  client/verta/verta/endpoint/_endpoints.py
  client/verta/verta/endpoint/autoscaling/__init__.py
  client/verta/verta/endpoint/autoscaling/metrics.py
  client/verta/verta/endpoint/resources.py
  client/verta/verta/endpoint/update/__init__.py
  client/verta/verta/endpoint/update/_strategies.py
  client/verta/verta/endpoint/update/rules.py
  client/verta/verta/integrations/keras/__init__.py
  client/verta/verta/integrations/sklearn/__init__.py
  client/verta/verta/integrations/tensorflow/__init__.py
  client/verta/verta/integrations/torch/__init__.py
  client/verta/verta/integrations/xgboost/__init__.py
  client/verta/verta/monitoring/alert/__init__.py
  client/verta/verta/monitoring/alert/entities/__init__.py
  client/verta/verta/monitoring/alert/status/__init__.py
  client/verta/verta/monitoring/client.py
  client/verta/verta/monitoring/labels.py
  client/verta/verta/monitoring/monitored_entity.py
  client/verta/verta/monitoring/notification_channel/__init__.py
  client/verta/verta/monitoring/notification_channel/entities/__init__.py
  client/verta/verta/monitoring/profiler.py
  client/verta/verta/monitoring/summaries/__init__.py
  client/verta/verta/monitoring/summaries/queries.py
  client/verta/verta/monitoring/summaries/summaries.py
  client/verta/verta/monitoring/summaries/summary.py
  client/verta/verta/monitoring/summaries/summary_sample.py
  client/verta/verta/monitoring/summaries/summary_samples.py
  client/verta/verta/registry/entities/__init__.py
  client/verta/verta/registry/lock/__init__.py
  client/verta/verta/tracking/entities/__init__.py
Labels: documentation, python-client

#2355 [VR-11447] Use time_window_start for alert.starting_from
  client/verta/tests/monitoring/alerts/test_entities.py
  client/verta/verta/__about__.py
  client/verta/verta/monitoring/alert/entities/_alert.py
Labels: python-client

#2356 Convert parsed times to UTC if missing tzinfo
  client/verta/tests/monitoring/strategies.py
  client/verta/tests/monitoring/test_aggregation.py
  client/verta/tests/test_utils/__init__.py
  client/verta/tests/test_utils/test_file_utils.py
  client/verta/tests/test_utils/test_pagination.py
  client/verta/tests/test_utils/test_pip_requirements.py
  client/verta/tests/test_utils/test_time_utils.py
  client/verta/tests/test_utils/test_utils.py
  client/verta/tests/time_strategies.py
  client/verta/verta/_internal_utils/time_utils/__init__.py
  client/verta/verta/_internal_utils/time_utils/_utc_py2.py
  client/verta/verta/monitoring/summaries/aggregation.py
Labels: python-client

#2354 [VR-11345] Fix transaction deadlock error
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, bug, java

#2360 Add integration tests for find summary sample
  client/verta/tests/conftest.py
  client/verta/tests/monitoring/test_queries.py
  client/verta/tests/monitoring/test_summary_samples.py
  client/verta/verta/monitoring/summaries/aggregation.py
  client/verta/verta/monitoring/summaries/queries.py
Labels: python-client

#2346 [VR-11239] Revert audit log implimentation code
  backend/common/src/main/java/ai/verta/modeldb/common/config/Config.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/GrpcServerConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/entities/audit_log/AuditLogLocalEntity.java
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, enhancement, java
