Repository VertaAI/modeldb, pull requests merged in 2021-11, with the labels that each got.

#2704 Amend 0.19.3 changelog
  client/verta/docs/changelog.rst
Labels: python-client, documentation

#2706 Amend changelog
  client/verta/docs/changelog.rst
Labels: python-client, documentation

#2681 [VR-12844] Added support for other types of artifacts in getUrlForArtifacts for projects
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: backend, java

#2711 [VR-13366] Add ModelError class to be caught in model wrapping infra
  client/verta/verta/registry/errors.py
Labels: python-client

#2712 [VR-13428] Fix pylint ignore on spurious six.moves.map error
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#2714 fix common code for mssql which is used in registry module
  backend/common/src/main/java/ai/verta/modeldb/common/query/QueryFilterContext.java
Labels: enhancement, backend, java

#2692 [VR-13282] startup fixes for mssql
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2707 Fix remaining code impelementation to support mssql
  backend/src/main/java/ai/verta/modeldb/entities/KeyValueEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparameterPredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: enhancement, backend, java

#2709 [VR-12856, VR-12992] Don't include spaCy models and anaconda-client in read_pip_environment()
  client/verta/tests/test_utils/test_pip_requirements.py
  client/verta/tests/versioning/environment/test_python.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/environment/_python.py
Labels: python-client

#2718 [VR-12461] Bump PyYAML version constraint
  client/verta/setup.py
Labels: python-client

#2723 [VR-13379] Warn instead of error on version mismatch of verta and cloudpickle
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
Labels: python-client

#2716 [VR-13352] Support JWT Cookies as an authn mechanism in Python client
  client/verta/.pylintrc
  client/verta/tests/http_requests/test_connection.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_internal_utils/credentials.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_s3.py
Labels: python-client
