Repository VertaAI/modeldb, pull requests merged in 2021-12, with the labels that each got.

#2735 [VR-13366] Add ModelError class to be used for custom model errors
  client/verta/verta/registry/errors.py
Labels: python-client

#2740 refactor!: [VR-7935] Delete old deployment API from expt run
  client/verta/tests/test_experimentrun/test_deployment.py
  client/verta/verta/tracking/entities/_experimentrun.py
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
  client/workflows/demos/census-end-to-end.ipynb
Labels: python-client

#2708 Fix broken test cases and Improve entities clean up code for test cases
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/ReconcilerConfig.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/ReconcilerInitializer.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperimentRuns.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperiments.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteProjects.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteRepositories.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: enhancement, backend, tests, java

#2738 Fix import of verta.credentials
  client/verta/tests/http_requests/test_connection.py
  client/verta/tests/test_deployment/test_unit_deployedmodel.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
Labels: python-client

#2748 fix: [VR-13543] Make sure everything subclasses object
  client/verta/verta/_cli/AsciiTable.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_internal_utils/access_token.py
  client/verta/verta/deployment/_deployedmodel.py
  client/verta/verta/monitoring/summaries/summaries.py
  client/verta/verta/monitoring/summaries/summary_samples.py
  client/verta/verta/registry/_constants.py
  client/verta/verta/tracking/_organization.py
Labels: python-client

#2747 refactor: [VR-12957] Move package dependencies into requirements.txt
  client/verta/requirements.txt
  client/verta/setup.py
Labels: backend

#2737 Add verta.credentials to public API documentation
  client/verta/docs/python.rst
  client/verta/verta/credentials.py
Labels: python-client, documentation

#2746 chore: Make test collection order deterministic
  client/verta/tests/deployable_entity/conftest.py
  client/verta/tests/registry/test_stage_change.py
  client/verta/tests/utils.py
Labels: python-client, tests

#2715 support utf16 for mssql
  backend/common/src/main/java/ai/verta/modeldb/common/MssqlMigrationUtil.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
Labels: enhancement, backend, java

#2728 Common jdbi util for backend which used for common functionality of jdbi impl after removing hibernate util
  backend/common/src/main/java/ai/verta/modeldb/common/CommonDBUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
Labels: enhancement, backend, java

#2751 Moved artifact handler and related code to common module
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonMessages.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/ArtifactStoreConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/MapSubtypes.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/config/MDBArtifactStoreConfig.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/DatasetHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparametersFromConfigHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/utils/ArtifactPathMigrationUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: enhancement, backend, java

#2734 Moved tag handler to common module
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/handlers/TagsHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: enhancement, backend, java

#2724 [VR-13520] Added filter in find call to not fetch ER for deleted project and experiment
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: enhancement, backend, java

#2757 Fix handlers to use different class as a key in mapsubtype class
  backend/common/src/main/java/ai/verta/modeldb/common/CommonDBUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/handlers/TagsHandlerBase.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/MapSubtypes.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparametersFromConfigHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
Labels: enhancement, backend, java

#2763 Fix find ERs issue
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: enhancement, backend, java

#2762 Fix log4j dependencies
  backend/common/pom.xml
  backend/pom.xml
Labels: enhancement, backend, java

#2765 [VR-13573] Fix find ERs query issue
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: bug, backend, java

#2766 Move InvalidArgumentException to common module
  backend/common/src/main/java/ai/verta/modeldb/common/exceptions/InvalidArgumentException.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FilterPrivilegedDatasetsHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/SortingHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
Labels: enhancement, backend, java

#2775 Fix broken repository test due to collation
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
Labels: backend, java

#2787 test: Increase test timeout
  client/verta/tests/pytest.ini
Labels: python-client, tests

#2788 chore: Enable unit testing reqs as optional deps
  client/CONTRIBUTING.md
  client/verta/requirements-dev.txt
  client/verta/requirements-unit-tests.txt
  client/verta/setup.py
Labels: python-client, tests
