Repository VertaAI/modeldb, pull requests merged in 2021-08, with the labels that each got.

#2527 [VR-12382] Fix Find ERs bug
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, bug, java

#2528 Note ticket number in TODO
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
Labels: python-client

#2529 Publish client v0.19.0
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#2525 [VR-12349] Support pagination for alerts.list()
  client/verta/docs/changelog.rst
  client/verta/tests/test_entities.py
  client/verta/verta/__about__.py
  client/verta/verta/_bases/__init__.py
  client/verta/verta/_bases/_lazy_list.py
  client/verta/verta/_bases/_paginated_iterable.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/dataset/entities/_dataset_versions.py
  client/verta/verta/dataset/entities/_datasets.py
  client/verta/verta/endpoint/_endpoints.py
  client/verta/verta/monitoring/alert/entities/_alert.py
  client/verta/verta/registry/entities/_models.py
  client/verta/verta/registry/entities/_modelversions.py
  client/verta/verta/tracking/entities/_experimentruns.py
  client/verta/verta/tracking/entities/_experiments.py
  client/verta/verta/tracking/entities/_projects.py
Labels: python-client

#2533 Document empty list behavior for custom_modules
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: python-client, documentation

#2534 [VR-12425] Filter out lib64/ when ignoring venvs in custom modules
  client/verta/tests/conftest.py
  client/verta/tests/constants.py
  client/verta/tests/custom_modules/__init__.py
  client/verta/tests/custom_modules/conftest.py
  client/verta/tests/custom_modules/test_utils.py
  client/verta/tests/monitoring/strategies.py
  client/verta/tests/strategies.py
  client/verta/tests/test_utils/test_time_utils.py
  client/verta/tests/time_strategies.py
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#2499 Introduce common pom.xml for build common module separately
  backend/common/pom.xml
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthInterceptor.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/ArtifactStoreConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/Config.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/RdbConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/Connection.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/common/src/main/java/ai/verta/modeldb/common/exceptions/AlreadyExistsException.java
  backend/common/src/main/java/ai/verta/modeldb/common/exceptions/ModelDBException.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/FutureGrpc.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/FutureJdbi.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/InternalFuture.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/TraceSupport.java
  backend/common/src/main/java/ai/verta/modeldb/common/interceptors/MetadataForwarder.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderItem.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/QueryFilterContext.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
Labels: backend, java

#2535 [VR-12359] Pick up environment variables for requests
  client/verta/tests/conftest.py
  client/verta/tests/constants.py
  client/verta/tests/http_requests/__init__.py
  client/verta/tests/http_requests/test_client.py
  client/verta/tests/http_requests/test_deployed_model.py
  client/verta/tests/test_entities.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/deployment/_deployedmodel.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/tracking/entities/_experiment.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2540 [VR-12286] Add verify_io decorator for VertaModelBase.predict()
  client/verta/docs/_static/custom.css
  client/verta/tests/models/standard_models.py
  client/verta/tests/registry/test_standard_model.py
  client/verta/tests/strategies.py
  client/verta/verta/_internal_utils/model_validator.py
  client/verta/verta/registry/__init__.py
  client/verta/verta/registry/_verify_io.py
  client/verta/verta/registry/_verta_model_base.py
Labels: python-client

#2546 Publish client v0.19.1
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#2556 [VR-12540] Fix bugs in profile_point()
  client/verta/tests/monitoring/test_profilers.py
  client/verta/verta/monitoring/profiler.py
Labels: python-client

#2552 version_number field in project entity
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2553 version_number field in experiment entity
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2555 Add SummarySample.is_aggregate
  client/verta/verta/monitoring/summaries/summary_sample.py
Labels: python-client

#2554 [VR-12516] Avoid divide by zero when a histogram's buckets add to zero
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
Labels: python-client

#2561 Increment client prerelease version
  client/verta/verta/__about__.py
Labels: python-client

#2557 version_number field in ExperimentRun Entity
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2558 version_number field in Repository and Dataset Entities
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateRepositoryTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2559 version_number field in DatasetVersion entity
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2548 [VR-12510] Added raw_requirements and raw_constraints fields in PythonEnvironmentBlob
  backend/src/main/java/ai/verta/modeldb/entities/environment/PythonEnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/EnvironmentContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/factory/EnvironmentBlobFactory.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
Labels: backend, java

#2564 [VR-12610] Make KafkaSettings more discoverable in API docs
  client/verta/verta/endpoint/_kafka_settings.py
Labels: documentation

#2567 Fix test cases due to version number
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, tests, java

#2568 Remove unused constants and unused code from VersioningServiceImpl
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: enhancement, backend, java

#2566 Fix missed to populate version number in find ERs response
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: bug, backend, java

#2570 Validate VertaModelBase.__init__() param names
  client/verta/tests/models/standard_models.py
  client/verta/tests/registry/test_standard_model.py
  client/verta/verta/_internal_utils/model_validator.py
Labels: python-client
