Repository VertaAI/modeldb, pull requests merged in 2021-01, with the labels that each got.

#1839 Improve fuzzy search code using resourceType
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1835 Fix test classes and code according to new Config pattern
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/config/DatabaseConfig.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/config/TestConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/test/java/ai/verta/modeldb/ArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/AuthClientInterceptor.java
  backend/src/test/java/ai/verta/modeldb/BranchTest.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/DiffTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/IntegrationTest.java
  backend/src/test/java/ai/verta/modeldb/LineageTest.java
  backend/src/test/java/ai/verta/modeldb/MergeTest.java
  backend/src/test/java/ai/verta/modeldb/NFSArtifactStoreTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
  backend/src/test/java/ai/verta/modeldb/metadata/MetadataTest.java
Labels: backend, java

#1836 Fix code for dataset and dataset version
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1847 Improve constructor parameters
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/lineage/LineageServiceImplNegativeTest.java
Labels: backend, java

#1853 Subclass object in custom model test for Python 2
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: python-client, tests

#1852 Fix migration code for created=0
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
Labels: backend, java

#1857 Added created=true check on the fetch calls
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1838 Fix find repositories logic using new visibility and workspace
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, java

#1858 Fix findDatasetVersion with version predicate
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: backend, java

#1850 Fix fuzzy search logic for all entities and bug for test cases
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CommentTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1863 Add example notebook for dataset versioning
  client/workflows/demos/census-dataset-versioning.ipynb
Labels: documentation, python-client

#1864 Enable S3 access through Colab in dataset versioning example
  client/workflows/demos/census-dataset-versioning.ipynb
Labels: documentation, python-client

#1865 Send auth headers without underscore
  client/verta/tests/test_entities.py
  client/verta/verta/client.py
  client/verta/verta/deployment/_deployedmodel.py
Labels: python-client

#1861 Populated workspace_id and workspace_type in Repository and Dataset entity
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1862 Move getResourceItems method to common RoleServiceUtils
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
Labels: backend, java

#1871 Add line for workspace in config doc
  client/verta/docs/tutorials/config.rst
Labels: documentation, python-client

#1856 Fix health check and added error log
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ServiceSet.java
  backend/src/main/java/ai/verta/modeldb/health/HealthServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: backend, bug, java

#1873 Fix common module imports
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
Labels: backend, java

#1872 Publish client v0.16.4
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1878 VR-3775: Add note about multipart ETag
  client/verta/verta/dataset/_s3.py
Labels: python-client

#1879 Don't install TF for Python 3.9
  client/verta/requirements.txt
Labels: python-client

#1877 Fix Internal error with invalid_argument error
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/BlobContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
Labels: backend, java

#1880 Remove override method which is just going to call the super, since it's not actually overriding anything.
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
Labels: backend, java

#1891 Fix fetch repositories in personal workspace excluding organization repositories
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, bug, java

#1888 VR-9626: Create client classes for visibility values
  client/verta/.pylintrc
  client/verta/verta/visibility/__init__.py
  client/verta/verta/visibility/_org_custom.py
  client/verta/verta/visibility/_org_default.py
  client/verta/verta/visibility/_private.py
  client/verta/verta/visibility/_visibility.py
  client/verta/verta/visibility/_workspace_default.py
Labels: python-client

#1895 Constrain pyyaml to <5.4
  client/verta/setup.py
  client/verta/verta/client.py
Labels: python-client

#1893 Fix creation of entities with the already deleted entity name and still it was not clear by the deleted cron job
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, java

#1881 Used DATASET resource type instead of REPOSITORY for the dataset entity
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/DatasetVersionTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, java

#1892 Fix get repository by name while same name exists in organization and personal workspace
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1899 Add attrs to Git()
  client/verta/verta/code/_git.py
Labels: python-client

#1897 VR-9655: Enable code versioning with manual values, no autocapture
  client/verta/tests/test_log_code.py
  client/verta/tests/test_versioning/test_code.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/code/_git.py
Labels: python-client

#1900 VR-9680 [1/2]: Add is_dirty param to Git()
  client/verta/tests/test_versioning/test_code.py
  client/verta/verta/code/_git.py
Labels: python-client

#1901 VR-9680 [2/2]: Add is_dirty param to log_code()
  client/verta/tests/test_log_code.py
  client/verta/verta/_tracking/entity.py
Labels: python-client

#1903 Publish client v0.16.5
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1896 VR-9627: Use new visibility values during entity creation
  client/verta/tests/test_visibility/__init__.py
  client/verta/tests/test_visibility/test_client_api.py
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/_tracking/project.py
  client/verta/verta/client.py
  client/verta/verta/visibility/_org_custom.py
  client/verta/verta/visibility/_org_default.py
  client/verta/verta/visibility/_private.py
  client/verta/verta/visibility/_visibility.py
  client/verta/verta/visibility/_workspace_default.py
Labels: python-client

#1905 Fix Repository for visibility tests
  client/verta/tests/test_visibility/test_client_api.py
  client/verta/verta/_repository/repository.py
Labels: python-client

#1904 VR-9692: Use new visibility values during endpoint creation
  client/verta/tests/test_visibility/test_client_api.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/client.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/visibility/_visibility.py
Labels: python-client

#1912 Group permissions-related tests
  client/verta/tests/test_permissions/__init__.py
  client/verta/tests/test_permissions/test_sharing_old.py
  client/verta/tests/test_permissions/test_visibility_api.py
Labels: python-client, tests

#1918 Add example notebook with dataset and endpoint
  client/workflows/demos/dataset-registry-endpoint.ipynb
Labels: documentation

#1914 VR-9624: Consolidate get_workspace_name_by_id() into conn
  client/verta/verta/_dataset_versioning/dataset.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_registry/entity_registry.py
  client/verta/verta/_registry/model.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_repository/repository.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/_tracking/project.py
  client/verta/verta/client.py
Labels: python-client

#1915 VR-9379: Get defaultWorkspace
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/client.py
Labels: python-client

#1916 VR-9596: Add client.set_workspace()
  client/verta/docs/tutorials/config.rst
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/_tracking/experimentruns.py
  client/verta/verta/_tracking/experiments.py
  client/verta/verta/client.py
Labels: python-client

#1921 Add new example notebook
  client/workflows/demos/census-experiment-versioning-registry.ipynb
Labels: documentation

#1922 Use local dataset versioning for new example notebook
  client/workflows/demos/census-experiment-versioning-registry.ipynb
Labels: documentation

#1920 Add tests for client workspace
  client/verta/tests/conftest.py
  client/verta/tests/test_permissions/conftest.py
  client/verta/tests/test_permissions/test_workspace.py
Labels: python-client, tests

#1919 Add documentation page for visibility
  client/verta/docs/api/api/visibility.rst
  client/verta/docs/api/collaboration.rst
  client/verta/docs/api_reference.rst
  client/verta/docs/tutorials/organizations/organizations.rst
  client/verta/docs/tutorials/sharing.rst
  client/verta/docs/tutorials/workspaces.rst
  client/verta/verta/_repository/repository.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/client.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/visibility/_org_custom.py
  client/verta/verta/visibility/_org_default.py
  client/verta/verta/visibility/_private.py
  client/verta/verta/visibility/_visibility.py
  client/verta/verta/visibility/_workspace_default.py
Labels: documentation, python-client

#1927 Manually log git info in new notebook
  client/workflows/demos/census-experiment-versioning-registry.ipynb
Labels: documentation
