Repository VertaAI/modeldb, pull requests merged in 2021-06, with the labels that each got.

#2366 [VR-11508 - Part 2] Update experiment timestamp using reconcile util
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/ReconcilerInitializer.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, enhancement, java

#2375 Update endpoint token test
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#2365 [VR-11508 - Part 1] Update project timestamp using reconcile util
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/ReconcilerInitializer.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, enhancement, java

#2349 [VR-11451] Update parent timestamp using reconcile util
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/ReconcilerInitializer.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperimentRuns.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperiments.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteProjects.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteRepositories.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateRepositoryTimestampReconcile.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, enhancement, java

#2380 Update endpoint test
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: python-client, tests

#2383 [VR-11036] Remove deprecated log_training_data() from examples
  client/verta/verta/tracking/entities/_experimentrun.py
  client/workflows/demos/census-dataset-versioning.ipynb
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
  client/workflows/demos/census-end-to-end.ipynb
  client/workflows/demos/census-with-new-endpoints.ipynb
  client/workflows/demos/dataset-registry-endpoint.ipynb
Labels: documentation, python-client

#2369 [VR-11239] Revert audit log implementation code
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/Config.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/GrpcServerConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/entities/audit_log/AuditLogLocalEntity.java
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, enhancement, java

#2378 [VR-11563, VR-11564] Provide VertaModelBase interface
  client/verta/docs/_static/custom.css
  client/verta/tests/test_model_registry/test_model_base.py
  client/verta/verta/registry/__init__.py
  client/verta/verta/registry/_verta_model_base.py
Labels: python-client

#2364 [VR-11471] Implement getProjectDatasetCount endpoint
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, enhancement, java

#2392 Improve docstrings
  client/verta/verta/client.py
  client/verta/verta/monitoring/__init__.py
  client/verta/verta/registry/entities/_models.py
  client/verta/verta/registry/entities/_modelversions.py
Labels: documentation

#2393 Update docs links in notebooks, READMEs, and clients
  README.md
  chart/modeldb/README.md
  client/README.md
  client/scala/src/main/scala/ai/verta/repository/Commit.scala
  client/verta/docs/changelog.rst
  client/verta/verta/repository/_commit.py
  client/workflows/demos/census-end-to-end-local-data-example.ipynb
  client/workflows/demos/census-end-to-end-s3-example.ipynb
  client/workflows/demos/census-with-managed-versioning.ipynb
  client/workflows/demos/distilbert-sentiment-classification.ipynb
  client/workflows/demos/setup-script.ipynb
  client/workflows/demos/sklearn-logging-with-hdfs.ipynb
Labels: documentation

#2388 Fix project entity related tests
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, java, tests

#2390 Fix other entities tests
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/GlobalSharingTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java, tests

#2391 Fix test config extends with main config
  backend/src/main/java/ai/verta/modeldb/config/TestConfig.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java, tests

#2398 Fix test compilation
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, bug, tests

#2400 Support long in parse_duration()
  client/verta/verta/_internal_utils/time_utils/__init__.py
Labels: python-client

#2402 Change tests to catch general 403 instead of specific reason
  client/verta/tests/test_datasets.py
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_permissions/test_visibility_e2e.py
  client/verta/tests/test_versioning/test_repository.py
Labels: python-client, tests

#2401 Update other endpoint test
  client/verta/tests/test_cli/test_endpoint.py
Labels: python-client, tests

#2370 [VR-10818] Rename dist() to diff()
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/_confusion_matrix.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
  client/verta/verta/data_types/_line.py
  client/verta/verta/data_types/_matrix.py
  client/verta/verta/data_types/_numeric_value.py
  client/verta/verta/data_types/_string_value.py
  client/verta/verta/data_types/_table.py
  client/verta/verta/data_types/_verta_data_type.py
  client/verta/verta/monitoring/alert/_alerter.py
Labels: documentation, python-client

#2399 [VR-11506] Hide monitoring.profilers and remove monitoring.utils
  client/verta/tests/monitoring/test_profilers.py
  client/verta/verta/_internal_utils/arg_handler.py
  client/verta/verta/monitoring/_profilers.py
  client/verta/verta/monitoring/alert/_alerter.py
  client/verta/verta/monitoring/alert/entities/_alert.py
  client/verta/verta/monitoring/alert/status/_status.py
  client/verta/verta/monitoring/client.py
  client/verta/verta/monitoring/labels.py
  client/verta/verta/monitoring/notification_channel/entities/_notification_channel.py
  client/verta/verta/monitoring/summaries/queries.py
  client/verta/verta/monitoring/summaries/summaries.py
  client/verta/verta/monitoring/summaries/summary_samples.py
  client/verta/verta/monitoring/utils.py
Labels: python-client

#2396 Publish client v0.18.0
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2403 Fix typo in changelog
  client/verta/docs/changelog.rst
Labels: documentation

#2389 Fix ExperimentRun entity tests
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, java, tests

#2405 Raise warning when ignoring existing RMV attribute
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client

#2406 Add VertaModelBase to changelog
  client/verta/docs/changelog.rst
Labels: documentation

#2410 [VR-11734] Change "class model" to "Standard Verta Model"
  client/verta/docs/changelog.rst
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: documentation, python-client

#2411 Fix setRoleBindings for entities from MDB
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, java

#2409 Fix test config for the test setup
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/ServiceSet.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/nfs/NFSService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/config/TestConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/PopulateEnvironmentInRunCron.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicateHandlerUtils.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend, enhancement, tests

#2412 Fix MDB service wake up which broken due to config changes
  backend/src/main/java/ai/verta/modeldb/App.java
Labels: backend, bug, java

#2415 [VR-9613] Add a delay for endpoint re-update test
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: python-client, tests

#2413 Fix test cases
  backend/src/main/java/ai/verta/modeldb/config/TestConfig.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteProjects.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, bug, java, tests

#2395 Add script to clean up client test accounts
  client/verta/tests/clean_test_accounts.py
  client/verta/tests/conftest.py
  client/verta/tests/constants.py
Labels: python-client, tests

#2417 [VR-11819] Create a dummy organization for the duration of a test session
  client/verta/tests/conftest.py
Labels: python-client, tests

#2421 Fix typo in new fixture
  client/verta/tests/conftest.py
Labels: python-client, tests

#2422 Use relative import to unblock tests
  client/verta/tests/clean_test_accounts.py
Labels: python-client, tests

#2420 [VR-11858] Fix bug where zip-unzip magic was broken for directory names with periods
  client/verta/tests/conftest.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2423 Publish client v0.18.1
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#2424 Revert unintended test fixture changes
  client/verta/tests/conftest.py
Labels: python-client, tests

#2427 Fix sporadically issue on find dataset version using attributes predicate
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend, bug, java

#2429 RoleServiceUtils prints Client code related logs as ERROR logs
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
Labels: backend, enhancement, java

#2430 Fix errors while telemetry initialization due to hibernate auto commit=true
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
Labels: backend, bug, java

#2359 Add integration test to verify dataset timestamp is updated on version creation
  client/verta/tests/test_dataset_versioning/conftest.py
  client/verta/tests/test_dataset_versioning/test_dataset.py
  client/verta/tests/test_dataset_versioning/test_dataset_version.py
Labels: python-client

#2428 Set "unit" to None if empty
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/_numeric_value.py
Labels: python-client

#2433 Add profile_point to profiler
  client/verta/verta/monitoring/profiler.py
Labels: python-client

#2436 Mark internal _histogram_utils as deprecated
  client/verta/verta/_internal_utils/_histogram_utils.py
Labels: python-client

#2437 Support discrete for BinaryHistProf.profile_point()
  client/verta/verta/monitoring/profiler.py
Labels: python-client

#2440 Add tests and bugfixes for profilers
  client/verta/tests/monitoring/strategies.py
  client/verta/tests/monitoring/test_profilers.py
  client/verta/tests/pytest.ini
  client/verta/verta/monitoring/profiler.py
Labels: bug, python-client, tests

#2442 Hide internal attributes on histogram data types
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
Labels: python-client

#2397 [VR-11539] Implement convenience functions for creating Standard Verta Model versions
  client/verta/requirements.txt
  client/verta/tests/models/standard_models.py
  client/verta/tests/test_model_registry/test_standard_model.py
  client/verta/verta/_internal_utils/model_validator.py
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: python-client

#2441 Enable adding+getting data types as RMV attrs
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client

#2444 [VR-7717] Propagate usable information when a model being deployed fails at runtime
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#2445 Add note to Endpoint update error propagation
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#2443 Use assume() instead of a while loop in composite strategy
  client/verta/tests/monitoring/comparison/test_comparison.py
Labels: python-client, tests

#2434 [VR-11876] Profile training data
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_entity.py
Labels: python-client
