Repository VertaAI/modeldb, pull requests merged in 2021-03, with the labels that each got.

#2011 Move verta._registry to verta.registry._entities
  client/verta/docs/api/api/model_version.rst
  client/verta/docs/api/api/registered_model.rst
  client/verta/docs/tutorials/deployment/endpoint_update.rst
  client/verta/docs/tutorials/packaging/create_registered_model.rst
  client/verta/docs/tutorials/packaging/custom_model.rst
  client/verta/docs/tutorials/packaging/custom_model_with_dependencies.rst
  client/verta/docs/tutorials/packaging/local_docker_build.rst
  client/verta/docs/tutorials/packaging/version_from_run.rst
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_entities.py
  client/verta/verta/_cli/deployment/update.py
  client/verta/verta/client.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/registry/__init__.py
  client/verta/verta/registry/_entities/__init__.py
  client/verta/verta/registry/_entities/model.py
  client/verta/verta/registry/_entities/models.py
  client/verta/verta/registry/_entities/modelversion.py
  client/verta/verta/registry/_entities/modelversions.py
Labels: python-client

#2016 VR-10117, 10118: Set and get lock level on model versions
  client/verta/docs/api/api/lock.rst
  client/verta/docs/api/collaboration.rst
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/_entities/model.py
  client/verta/verta/registry/_entities/modelversion.py
  client/verta/verta/registry/lock/__init__.py
  client/verta/verta/registry/lock/_closed.py
  client/verta/verta/registry/lock/_lock_level.py
  client/verta/verta/registry/lock/_open.py
  client/verta/verta/registry/lock/_redact.py
Labels: python-client

#2019 VR-10152: Use dedicated endpoint to set lock level
  client/verta/verta/registry/_entities/modelversion.py
Labels: python-client

#2018 VR-10149: Do not mask 403s/404s when updating registry entities
  client/verta/tests/test_permissions/test_visibility_e2e.py
  client/verta/verta/registry/_entities/model.py
  client/verta/verta/registry/_entities/modelversion.py
Labels: python-client

#2020 Fix client instantiation in quickstart
  client/verta/docs/quickstart.rst
Labels: documentation

#2021 Fix client init in docs
  client/verta/docs/tutorials/ingredients.rst
  client/verta/docs/tutorials/workflow.rst
Labels: documentation

#2025 multiple resourceIds for audit log in single request
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
Labels: backend, java

#2017 Single audit log for each versioning service request
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
Labels: backend, java

#2004 Single audit log for each dataset version service request
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
Labels: backend, java

#2003 Single audit log for each dataset service request
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
Labels: backend, java

#2002 Single audit log for each experimentRun service request
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend, java

#2001 Single audit log for each experiment service request
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
Labels: backend, java

#1998 Single audit log for each project service request
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1965 Implement audit log interceptor
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1959 Fix dataset version service as per new audit log design
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1958 Fix dataset service as per new audit log design
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1957 Fix experiment run service as per new audit log design
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#2030 Make client debug cURLs more readable
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#2031 Audit logs for comment entity
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
Labels: backend, java

#2027 Fix Multiple ids audit log and fix workspace id at audit log service
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, java

#1956 Fix experiment service as per new audit log design
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1953 Fix project service as per new audit log design
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/monitoring/MonitoringInterceptor.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#2037 Publish client v0.17.3
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#2039 Fix verify connection endpoint audit log
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
Labels: backend, java

#2043 [VR-10209] Review and fix backend database access to prevent injection attacks
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, java

#2033 Fix audit logs with empty resource ids
  backend/common/src/main/java/ai/verta/modeldb/common/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, java

#2032 Remove new added changeset since this is new feature so no need to add it separately
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, java

#1947 Audit log entity new design [Feature branch]
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/GrpcServerConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/RdbConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/entities/audit_log/AuditLogLocalEntity.java
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAO.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/KeyValueEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/QueryParameterEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/audit_log/AuditLogLocalEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/monitoring/MonitoringInterceptor.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningServiceImpl.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#2054 Added liquibase tag versions and missing rollback in one changeset
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, bug, java

#2057 [VR-10331] Support complex attributes via client
  client/verta/tests/test_data_types.py
  client/verta/tests/test_experimentrun/test_attributes.py
  client/verta/tests/test_metadata.py
  client/verta/verta/_internal_utils/arg_handler.py
  client/verta/verta/_tracking/entity.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/data_types/__init__.py
  client/verta/verta/data_types/_confusion_matrix.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
  client/verta/verta/data_types/_line.py
  client/verta/verta/data_types/_matrix.py
  client/verta/verta/data_types/_series.py
  client/verta/verta/data_types/_table.py
  client/verta/verta/data_types/_verta_data_type.py
Labels: python-client

#2058 Fix typo in lock level docs
  client/verta/docs/api/api/lock.rst
  client/verta/verta/registry/_entities/modelversion.py
Labels: documentation

#2060 Remove Series from custom attrs data types
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/__init__.py
  client/verta/verta/data_types/_series.py
Labels: python-client

#2061 Make a correction to docstring
  client/verta/verta/_internal_utils/arg_handler.py
Labels: python-client

#2063 Set page number when doing pagination
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#2062 [VR-10434] Enable retrieving complex attribute instances
  client/verta/tests/test_data_types.py
  client/verta/tests/test_experimentrun/test_attributes.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/data_types/_confusion_matrix.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
  client/verta/verta/data_types/_line.py
  client/verta/verta/data_types/_matrix.py
  client/verta/verta/data_types/_table.py
  client/verta/verta/data_types/_verta_data_type.py
Labels: python-client

#2059 Add docstrings for custom attributes data types
  client/verta/docs/api/api/data_types.rst
  client/verta/docs/api/overview.rst
  client/verta/verta/data_types/_confusion_matrix.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
  client/verta/verta/data_types/_line.py
  client/verta/verta/data_types/_matrix.py
  client/verta/verta/data_types/_table.py
  client/verta/verta/data_types/_verta_data_type.py
Labels: documentation

#2064 Add method to set limit of how many elements we load per page
  client/verta/tests/test_entities.py
  client/verta/verta/_internal_utils/_utils.py
  client/verta/verta/registry/_entities/models.py
  client/verta/verta/registry/_entities/modelversions.py
Labels: python-client

#2065 Add example to set_page_limit() docstring
  client/verta/verta/_internal_utils/_utils.py
Labels: documentation

#2066 Publish client v0.17.4
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#2067 [VR-10479] Cache calls to getWorkspaceById in findProjects
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend, enhancement, java
