Repository VertaAI/modeldb, pull requests merged in 2021-09, with the labels that each got.

#2588 Bump up common module dependencies version
  backend/common/pom.xml
Labels: enhancement, backend, java

#2563 serialization, artifact_subtype in ArtifactEntity
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2562 [VR-12836] upload_completed added in artifact entity
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: enhancement, backend, java

#2596 Fix FindDatasetEntitiesTest due to version_number
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
Labels: enhancement, backend, tests, java

#2597 Fix test execution due to maven-surefire-plugin version upgrade
  backend/pom.xml
Labels: enhancement, backend, java

#2584 [VR-12511] Fall back to logging raw requirements if manual parsing fails
  client/verta/tests/conftest.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_experimentrun/test_requirements.py
  client/verta/tests/test_utils/test_pip_requirements.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/versioning/__init__.py
  client/verta/tests/versioning/environment/__init__.py
  client/verta/tests/versioning/environment/conftest.py
  client/verta/tests/versioning/environment/test_python.py
  client/verta/tests/versioning/test_code.py
  client/verta/tests/versioning/test_configuration.py
  client/verta/tests/versioning/test_dataset.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/environment/_python.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2601 Rename misnamed internal utility function
  client/verta/tests/test_utils/test_pip_requirements.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/environment/_python.py
Labels: python-client

#2602 Move pylint directive
  client/verta/tests/registry/model_version/test_deployment.py
Labels: python-client

#2606 Revert "[VR-12515] (1/2) Remove apt_packages from API docs"
  client/verta/verta/environment/_python.py
Labels: python-client, documentation

#2607 Revert "[VR-12515] (2/2) Remove apt_packages from API docs"
  client/verta/verta/environment/_python.py
Labels: python-client, documentation

#2605 Import PIL.Image directly
  client/verta/tests/test_experimentrun/test_artifacts.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2604 Parametrize deployable entity to run with both ER and RMV
  client/verta/tests/deployable_entity/conftest.py
  client/verta/tests/deployable_entity/test_artifacts.py
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/registry/model_version/test_artifacts.py
  client/verta/tests/registry/model_version/test_deployment.py
  client/verta/tests/test_experimentrun/test_deployment.py
Labels: python-client, tests

#2608 Split create_version_from_run to RMV test
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/registry/model_version/test_deployment.py
  client/verta/tests/test_experimentrun/test_deployment.py
Labels: python-client, tests

#2609 Generalize expected error message
  client/verta/tests/deployable_entity/test_deployment.py
Labels: python-client, tests

#2610 Accommodate differing _get_artifact() returns
  client/verta/tests/deployable_entity/test_deployment.py
Labels: python-client, tests

#2611 Use get_model() directly for model test
  client/verta/tests/deployable_entity/test_artifacts.py
Labels: python-client, tests

#2614 Move ER-specific artifact tests
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_experimentrun/test_artifacts.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client, tests

#2615 Move remaining generalizable artifact tests
  client/verta/tests/deployable_entity/test_artifacts.py
Labels: python-client, tests

#2616 Remove non-generalizable, duplicated test
  client/verta/tests/deployable_entity/test_artifacts.py
Labels: python-client, tests

#2617 Move ER-specific deployment tests
  client/verta/tests/test_deployment.py
  client/verta/tests/test_experimentrun/test_deployment.py
Labels: python-client, tests

#2618 Move remainining generalizable deployment tests
  client/verta/tests/deployable_entity/test_deployment.py
Labels: python-client, tests

#2619 Move more generalizable deployment tests
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/registry/model_version/test_deployment.py
Labels: python-client, tests

#2621 Fix up file so it can run
  client/verta/tests/deployable_entity/test_deployment.py
Labels: python-client, tests

#2620 Remove duplicated arbitrary model tests
  client/verta/tests/registry/model_version/test_deployment.py
Labels: python-client, tests

#2612 Move TestHistogram into test_utils/
  client/verta/tests/test_deployment.py
  client/verta/tests/test_utils/test_histogram.py
Labels: python-client, tests

#2622 Remove duplicated artifact download tests
  client/verta/tests/deployable_entity/conftest.py
  client/verta/tests/deployable_entity/test_artifacts.py
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/registry/model_version/test_artifacts.py
  client/verta/tests/registry/model_version/test_deployment.py
  client/verta/tests/test_experimentrun/test_deployment.py
Labels: python-client, tests

#2613 Add tests/deployable_entity/__init__.py
  client/verta/tests/deployable_entity/__init__.py
  client/verta/tests/deployable_entity/conftest.py
  client/verta/tests/deployable_entity/test_artifacts.py
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/registry/model_version/test_artifacts.py
  client/verta/tests/registry/model_version/test_deployment.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_experimentrun/test_artifacts.py
  client/verta/tests/test_experimentrun/test_deployment.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client, tests

#2630 Fix grpc dependencies and plugin
  backend/common/pom.xml
  backend/pom.xml
Labels: enhancement, backend, java

#2632 Fix migration broken code
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: bug, backend, java

#2625 Fix UploadCompleted related test cases
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, tests, java

#2573 Fix code smells suggested by sonarqube part - 1
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/InternalFuture.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Client.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateRepositoryTimestampReconcile.java
Labels: enhancement, backend, java

#2576 Fix code smells suggested by sonarqube part - 2
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryFunction.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
Labels: enhancement, backend, java

#2577 Fix code smells suggested by sonarqube part - 3
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAO.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAO.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/JobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/KeyValueEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ObservationEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/QueryDatasetVersionInfoEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/QueryParameterEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionFromBlobHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/EnvironmentHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
  backend/src/main/java/ai/verta/modeldb/health/HealthServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAO.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/VersioningUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
Labels: enhancement, backend, java

#2626 Move _get_artifact_msg() to _DeployableEntity interface
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2629 Move PaginatedIterable tests to bases/
  client/verta/tests/bases/test_paginated_iterable.py
  client/verta/tests/test_entities.py
Labels: python-client, tests

#2633 Don't install protobuf incompatible with Python 2
  client/verta/setup.py
Labels: python-client

#2592 [VR-12589] Save metadata in Artifact proto when logging model
  client/verta/tests/bases/__init__.py
  client/verta/tests/bases/test_deployable_entity.py
  client/verta/tests/deployable_entity/test_artifacts.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_entity.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2628 Add _MODEL_KEY to _DeployableEntity interface
  client/verta/tests/test_experimentrun/test_deployment.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2578 Fix code smells suggested by sonarqube part - 4
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
Labels: enhancement, backend, java

#2579 Fix code smells suggested by sonarqube part - 5
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/GracefulShutdown.java
  backend/common/src/main/java/ai/verta/modeldb/common/HttpCodeToGRPCCode.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/collaborator/CollaboratorBase.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/RdbConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/Connection.java
  backend/common/src/main/java/ai/verta/modeldb/common/exceptions/ExceptionInterceptor.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/FutureGrpc.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/TraceSupport.java
  backend/common/src/main/java/ai/verta/modeldb/common/query/OrderColumn.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/ConfigContainer.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/diff/TypeChecker.java
Labels: enhancement, backend, java

#2580 Fix code smells suggested by sonarqube part - 6
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/GracefulShutdown.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthInterceptor.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/Config.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/Connection.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/common/src/main/java/ai/verta/modeldb/common/futures/TraceSupport.java
  backend/common/src/main/java/ai/verta/modeldb/common/interceptors/MetadataForwarder.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
Labels: enhancement, backend, java

#2639 Fix error logs with stack trace while start up service
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/resources/log-template.json
Labels: bug, backend, java

#2638 Fix role service methods for migration using service account
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicAuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/FindRepositoriesQuery.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: bug, backend, java

#2583 Fix code smells suggested by sonarqube part - 9
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonMessages.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/GracefulShutdown.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/CronJobConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/pom.xml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/ServiceSet.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAODisabled.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3SignatureUtil.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicAuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicMDBRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/config/MDBArtifactStoreConfig.java
  backend/src/main/java/ai/verta/modeldb/config/TelemetryConfig.java
  backend/src/main/java/ai/verta/modeldb/config/TrialRestrictionsConfig.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperimentRuns.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperiments.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteProjects.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteRepositories.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateRepositoryTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: enhancement, backend, java

#2587 Fix code smells suggested by sonarqube part - 10
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/AttributeEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/CodeVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/FeatureEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/GitSnapshotEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/JobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/KeyValueEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ObservationEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/RawDatasetVersionInfoEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/TagsMapping.java
  backend/src/main/java/ai/verta/modeldb/entities/UploadStatusEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/code/GitCodeBlob.java
  backend/src/main/java/ai/verta/modeldb/entities/code/NotebookCodeBlob.java
  backend/src/main/java/ai/verta/modeldb/entities/config/HyperparameterElementConfigBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/config/HyperparameterElementMappingEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/config/HyperparameterSetConfigBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/DockerEnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/EnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/PythonEnvironmentBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/environment/PythonEnvironmentRequirementBlobEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/CommitEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparametersFromConfigHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/SortingHandler.java
Labels: enhancement, backend, java

#2645 Implement trial restrictions for async implementation
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/utils/TrialUtils.java
Labels: enhancement, backend, java

#2650 Update client testing README
  client/verta/tests/README.md
Labels: documentation

#2647 Clarify that model_api is an optional param
  client/verta/verta/registry/entities/_model.py
Labels: python-client, documentation

#2635 Remove defunct comment
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2634 [VR-9364] Support setting custom environment variables
  client/verta/tests/strategies.py
  client/verta/tests/versioning/environment/test_environment.py
  client/verta/tests/versioning/environment/test_python.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
Labels: python-client

#2636 [VR-3772] Implement Docker environment blob
  client/verta/tests/versioning/environment/test_docker.py
  client/verta/verta/environment/__init__.py
  client/verta/verta/environment/_docker.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/environment/_python.py
Labels: python-client

#2640 Factor out ensure_starts_with_slash() as a separate util function
  client/verta/tests/test_endpoint/test_endpoint.py
  client/verta/tests/test_utils/test_arg_handler.py
  client/verta/verta/_internal_utils/arg_handler.py
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#2651 Fix broken test case due to thread unsafe code
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
Labels: enhancement, backend, tests, java

#2637 Support Docker environment through log/get_environment()
  client/verta/tests/deployable_entity/conftest.py
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/verta/_blob.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_deployable_entity.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2646 Add model API parameter to log_docker()
  client/verta/tests/registry/model_version/test_docker.py
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client

#2643 [VR-12958] Replace git-installed verta in requirements with a pinned version
  client/verta/tests/test_utils/test_pip_requirements.py
  client/verta/tests/versioning/environment/conftest.py
  client/verta/tests/versioning/environment/test_python.py
  client/verta/verta/_internal_utils/_pip_requirements_utils.py
  client/verta/verta/environment/_python.py
Labels: python-client

#2648 [VR-12755] Add registered_model.create_containerized_model()
  client/verta/tests/registry/test_containerized_model.py
  client/verta/verta/registry/entities/_model.py
Labels: python-client

#2652 Don't use six.collections_abc
  client/verta/verta/environment/_environment.py
Labels: python-client

#2649 Add tests for reserved registry attributes
  client/verta/tests/registry/test_containerized_model.py
  client/verta/tests/registry/test_standard_model.py
  client/verta/verta/registry/_constants.py
  client/verta/verta/registry/entities/_model.py
Labels: python-client, tests

#2653 Fix pom.xml to support run test suite via command line
  backend/pom.xml
Labels: backend, tests, java

#2654 [VR-12990] Enable RMV stage change
  client/verta/tests/registry/model_version/test_crud.py
  client/verta/tests/registry/model_version/test_find.py
  client/verta/tests/registry/test_stage_change.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/registry/stage_change/__init__.py
  client/verta/verta/registry/stage_change/_archived.py
  client/verta/verta/registry/stage_change/_development.py
  client/verta/verta/registry/stage_change/_production.py
  client/verta/verta/registry/stage_change/_stage_change.py
  client/verta/verta/registry/stage_change/_staging.py
Labels: python-client

#2659 [VR-13061] Fix bringing up the OSS mdb backend container
  backend/src/main/java/ai/verta/modeldb/App.java
Labels: bug, enhancement, backend, java

#2655 Mark 0.20.0's docker image functionality as experimental.
  client/verta/docs/conf.py
  client/verta/verta/environment/__init__.py
  client/verta/verta/environment/_docker.py
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client, documentation

#2661 Update test
  client/verta/tests/monitoring/alerts/test_entities.py
Labels: python-client, tests

#2665 Rename test
  client/verta/tests/test_endpoint/test_endpoint.py
Labels: python-client, tests

#2664 Document useful pytest flags
  client/verta/tests/README.md
Labels: python-client, documentation, tests

#2658 Publish client v0.19.2
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: backend

#2668 Add 0.19.2 changelog to mainline
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client, documentation
