Repository VertaAI/modeldb, pull requests merged in 2021-07, with the labels that each got.

#2449 Add versionadded directive to registry ingest convenience fns
  client/verta/verta/registry/entities/_model.py
Labels: documentation

#2452 Mark TensorFlow tests
  client/verta/tests/pytest.ini
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_integrations.py
  client/verta/tests/test_model_registry/test_standard_model.py
Labels: python-client

#2447 Require future in torch deployment test
  client/verta/tests/test_model_registry/test_standard_model.py
Labels: python-client, tests

#2453 Disable Keras test for TF 1.X
  client/verta/tests/models/standard_models.py
  client/verta/verta/_internal_utils/importer.py
Labels: python-client, tests

#2454 Enable clean_test_accounts.py to be run as a script
  client/verta/tests/clean_test_accounts.py
Labels: python-client, tests

#2455 Install latest available version of NumPy
  client/verta/requirements.txt
Labels: python-client, tests

#2438 Removed backgroundUtils count logic
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthInterceptor.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/Connection.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/src/main/java/ai/verta/modeldb/ServiceSet.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, enhancement, java

#2431 Fix SoftDeleteRepositories reconcile issue due to OptimisticLockException
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperimentRuns.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteExperiments.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteProjects.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteRepositories.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateRepositoryTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, bug, java

#2461 removed background utils count logic
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthInterceptor.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/Connection.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/src/main/java/ai/verta/modeldb/ServiceSet.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#2477 Add more logging statements to test cleanup
  client/verta/tests/clean_test_accounts.py
Labels: python-client, tests

#2478 Only modify created_at when fetching alert's query
  client/verta/tests/monitoring/alerts/test_entities.py
  client/verta/verta/monitoring/alert/entities/_alert.py
Labels: python-client

#2480 Increment prerelease version
  client/verta/verta/__about__.py
Labels: python-client

#2446 Manually set series index in _get_metadata_for_df()
  client/verta/verta/registry/entities/_modelversion.py
Labels: bug, python-client

#2450 Verify that a user's custom model has completely implemented VertaModelBase
  client/verta/tests/models/standard_models.py
  client/verta/tests/test_model_registry/test_model_base.py
  client/verta/tests/test_model_registry/test_standard_model.py
  client/verta/verta/_internal_utils/model_validator.py
Labels: python-client

#2451 Use get() instead of [] in Endpoint.get_logs()
  client/verta/verta/endpoint/_endpoint.py
Labels: python-client

#2482 [VR-12096] Add note about requiring scikit-learn for XGBoost
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: documentation, python-client

#2479 support experiment run start/end time override on creation
  client/verta/verta/client.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: python-client

#2484 Fix Python 2 compatibility bugs in log_training_data_profile()
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_entity.py
Labels: python-client

#2485 Removed HibernateStatisticsCollector from the CommonHibernateUtil
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
Labels: backend, java

#2486 Block reserved artifact keys in create_standard_model() and document
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/test_model_registry/test_standard_model.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/registry/entities/_model.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: documentation, python-client

#2491 [VR-12150] Update registry profiling tests for bugfix
  client/verta/tests/test_model_registry/test_model_version.py
Labels: python-client

#2495 Update test for model version stage find
  client/verta/tests/test_model_registry/test_model_version.py
Labels: python-client

#2489 Publish client v0.18.2
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#2496 Remove stray line from changelog
  client/verta/docs/changelog.rst
Labels: documentation

#2492 Implement fuzzy search for ERs by experiment name
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
Labels: backend, java

#2493 [VR-12148] Fix internal server error while deleting sub entities
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
Labels: backend, java

#2497 [VR-12149] Skip XGBoost integration test in Python 2
  client/verta/tests/test_integrations.py
Labels: python-client, tests

#2504 Add script to publish to ReadTheDocs
  client/verta/docs/publish.py
Labels: documentation

#2501 Fix internal server error while recreating session factory due to JMX Management Beans creation internally by hibernate
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
Labels: backend, java

#2500 Allow create_version_from_run() to take a run obj
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_model.py
Labels: python-client

#2488 [VR-11633] Enable Kafka configuration on endpoints
  client/verta/tests/test_endpoint/test_kafka.py
  client/verta/verta/client.py
  client/verta/verta/deployment/__init__.py
  client/verta/verta/endpoint/__init__.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/endpoint/_kafka_settings.py
Labels: python-client

#2498 [VR-11456] Remove repository from client
  client/verta/docs/python.rst
  client/verta/tests/conftest.py
  client/verta/tests/test_dataset_versioning/conftest.py
  client/verta/tests/test_entities.py
  client/verta/tests/test_organization.py
  client/verta/tests/test_permissions/test_sharing_old.py
  client/verta/tests/test_permissions/test_visibility_api.py
  client/verta/tests/test_permissions/test_visibility_e2e.py
  client/verta/tests/test_permissions/test_workspace.py
  client/verta/tests/test_versioning/test_configuration.py
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/tests/test_versioning/test_environment.py
  client/verta/tests/test_versioning/test_repository.py
  client/verta/verta/_blob.py
  client/verta/verta/_cli/__init__.py
  client/verta/verta/_cli/repository/__init__.py
  client/verta/verta/_cli/repository/blob.py
  client/verta/verta/_cli/repository/blobs/__init__.py
  client/verta/verta/_cli/repository/blobs/code.py
  client/verta/verta/_cli/repository/blobs/dataset.py
  client/verta/verta/_cli/repository/blobs/environment.py
  client/verta/verta/_cli/repository/branch.py
  client/verta/verta/_cli/repository/commit.py
  client/verta/verta/_cli/repository/remote.py
  client/verta/verta/client.py
  client/verta/verta/code/_code.py
  client/verta/verta/configuration/_configuration.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/entities/_dataset_version.py
  client/verta/verta/environment/_environment.py
  client/verta/verta/repository/__init__.py
  client/verta/verta/repository/_blob.py
  client/verta/verta/repository/_commit.py
  client/verta/verta/repository/_diff.py
  client/verta/verta/repository/_repository.py
  client/verta/verta/tracking/entities/_experimentrun.py
Labels: documentation, python-client, tests

#2507 Mention that std lib should not be included in custom_modules
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: documentation, python-client

#2508 Fixing HydratedServiceTest for stale data
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: backend, java, tests

#2509 Update client dev installation instructions
  client/CONTRIBUTING.md
Labels: documentation, python-client

#2505 Remove CollaboratorTest from MDB
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
  backend/src/test/java/ai/verta/modeldb/TestSequenceSuite.java
Labels: backend, java

#2513 Fix stale data related test cases
  backend/src/test/java/ai/verta/modeldb/CommitTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/RepositoryTest.java
Labels: backend, enhancement, java, tests

#2516 Add tests for extra auth headers
  client/verta/tests/test_entities.py
Labels: python-client, tests

#2518 Log training data distributions with a special attribute prefix
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: backend

#2511 [VR-12200] Batch request in log_training_data_profile()
  client/verta/tests/monitoring/strategies.py
  client/verta/tests/monitoring/test_profilers.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/registry/entities/_modelversion.py
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: python-client

#2494 [VR-11871] Fix filter ER by hyperparameter predicates
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HyperparameterPredicatesHandler.java
Labels: backend, java

#2524 Reorganize some client tests
  client/verta/tests/registry/__init__.py
  client/verta/tests/registry/model_version/__init__.py
  client/verta/tests/registry/model_version/test_artifacts.py
  client/verta/tests/registry/model_version/test_crud.py
  client/verta/tests/registry/model_version/test_deployment.py
  client/verta/tests/registry/model_version/test_find.py
  client/verta/tests/registry/model_version/test_from_run.py
  client/verta/tests/registry/test_model.py
  client/verta/tests/registry/test_model_base.py
  client/verta/tests/registry/test_standard_model.py
  client/verta/tests/test_experimentrun/test_log_code.py
  client/verta/tests/test_model_registry/test_model_version.py
Labels: python-client, tests

#2520 [VR-12278] Fix bug where repr(endpoint) errors if Kafka features are not available
  client/verta/verta/client.py
  client/verta/verta/endpoint/_endpoint.py
  client/verta/verta/endpoint/_kafka_settings.py
Labels: python-client

#2522 Fix parts of docs
  client/verta/verta/dataset/entities/_dataset.py
  client/verta/verta/tracking/entities/_deployable_entity.py
Labels: documentation, python-client

#2519 [VR-12269] Enable alerter to propagate `store_aggregate` for finding samples
  client/verta/tests/monitoring/alerts/test_entities.py
  client/verta/tests/monitoring/test_queries.py
  client/verta/verta/__about__.py
  client/verta/verta/monitoring/summaries/queries.py
Labels: python-client

#2523 [VR-12288] Add RMV code versioning
  client/verta/tests/registry/model_version/test_log_code.py
  client/verta/verta/_blob.py
  client/verta/verta/code/_git.py
  client/verta/verta/code/_notebook.py
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client
