Repository VertaAI/modeldb, pull requests merged in 2021-02, with the labels that each got.

#1929 In test downdowns, delete client.proj before org
  client/verta/tests/conftest.py
Labels: python-client, tests

#1907 500 when commits have the same hash
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, java

#1925 Move AuthInterceptor to common
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthInterceptor.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/ArtifactStoreService.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/authservice/AuthServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1923 Fix creating dataset with name too long
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, java

#1930 Consolidate client test teardowns
  client/verta/tests/conftest.py
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client, tests

#1931 Add tests for LazyLists in non-personal workspaces
  client/verta/tests/test_permissions/test_lazy_lists.py
Labels: python-client, tests

#1928 Extracted common HibernateUtils logic to CommonHibernateUtil
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonMessages.java
  backend/common/src/main/java/ai/verta/modeldb/common/exceptions/AlreadyExistsException.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/PopulateVersionMigration.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/PopulateEnvironmentInRunCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/health/HealthServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryCron.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ArtifactPathMigrationUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, java

#1926 Moved some common classes to common module
  backend/common/src/main/java/ai/verta/modeldb/common/CommonConstants.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonHibernateUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/CommonMessages.java
  backend/common/src/main/java/ai/verta/modeldb/common/GracefulShutdown.java
  backend/common/src/main/java/ai/verta/modeldb/common/HttpCodeToGRPCCode.java
  backend/common/src/main/java/ai/verta/modeldb/common/exceptions/AlreadyExistsException.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/ModelDBConstants.java
  backend/src/main/java/ai/verta/modeldb/ModelDBMessages.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/ArtifactStoreDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/artifactStore/storageservice/s3/S3Service.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/DatasetToRepositoryMigration.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingRepositoryUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/OwnerRoleBindingUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/PopulateVersionMigration.java
  backend/src/main/java/ai/verta/modeldb/comment/CommentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/AuditLogsCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CleanUpEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/CronJobUtils.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/DeleteEntitiesCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/ParentTimestampUpdateCron.java
  backend/src/main/java/ai/verta/modeldb/cron_jobs/PopulateEnvironmentInRunCron.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/health/HealthServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/lineage/LineageDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/metadata/MetadataDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryCron.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ArtifactPathMigrationUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/blob/container/DatasetContainer.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: backend, java

#1934 Update python version availability in conda
  client/verta/docs/quickstart.rst
Labels: documentation

#1933 Fix GetLatestDatasetVersionByDatasetId endpoint with/without workspace
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, bug, java

#1935 VR-9734: Enable passing PySpark model to run.log_model()
  client/verta/tests/test_artifacts.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1939 VR-9784: For custom modules files, grant non-owners read access
  client/verta/verta/__about__.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_tracking/deployable_entity.py
  client/verta/verta/_tracking/entity.py
Labels: python-client

#1936 Fix null pointer due to empty metadata for service user on entity deletion flow
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/AuthServiceChannel.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, bug, java

#1938 Fix dataset collaborator test
  backend/src/test/java/ai/verta/modeldb/CollaboratorTest.java
Labels: backend, bug, java

#1937 Fix INTERNAL error instead of INVALID_ARGUMENT while commit does not exists
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, bug, java

#1894 All fields like artifacts, metrics, attributes, hyperparameters and others are in natural order
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend, java

#1940 VR-9732: Remove "file:" prefix from path datasets
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/_internal_utils/_file_utils.py
  client/verta/verta/dataset/_path.py
Labels: python-client

#1944 VR-9628: Add comprehensive org permissions tests
  client/verta/tests/conftest.py
  client/verta/tests/test_permissions/test_visibility_e2e.py
Labels: python-client, tests

#1941 VR-9733 [1/2]: Add Path.with_spark()
  client/verta/tests/test_versioning/test_dataset.py
  client/verta/verta/dataset/_dataset.py
  client/verta/verta/dataset/_hdfs.py
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: python-client

#1946 Clean up unused methods and simplify Override methods of RoleService
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/batchProcess/CollaboratorResourceMigration.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1945 Remove update project name endpoint service and DAO
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, java

#1942 Fix find project by name using getResources
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/RoleService.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: backend, java

#1949 Pass lists instead of generators in dataset blobs
  client/verta/verta/dataset/_path.py
  client/verta/verta/dataset/_s3.py
Labels: python-client

#1950 Don't tear down client_2.proj and client_3.proj
  client/verta/tests/conftest.py
Labels: python-client, tests

#1954 Add private util for getting visible orgs
  client/verta/verta/_internal_utils/_utils.py
Labels: python-client

#1951 Fix batch deletion of dataset versions
  backend/src/main/java/ai/verta/modeldb/versioning/CommitDAORdbImpl.java
Labels: backend, java

#1952 Fix already exists issue while creating dataset with the name of the deleted dataset
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, java

#1967 Add notes to visibility docs
  client/verta/docs/api/api/visibility.rst
  client/verta/verta/visibility/_org_custom.py
Labels: documentation

#1968 Add versionadded for get/set workspace
  client/verta/verta/client.py
Labels: documentation

#1969 Publish client v0.17.0
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1970 Facilitate 3.9 tests
  client/verta/requirements.txt
Labels: python-client, tests

#1966 VR-9843 audit log interceptor move to common
  backend/common/src/main/java/ai/verta/modeldb/common/monitoring/AuditLogInterceptor.java
  backend/config.default.yaml
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/audit_log/AuditLogLocalDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/config/GrpcServerConfig.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, java

#1974 Rename internal-only artifact keys
  client/verta/docs/changelog.rst
  client/verta/tests/test_artifacts.py
  client/verta/verta/_internal_utils/_artifact_utils.py
Labels: python-client

#1977 update global sharing test
  backend/src/test/java/ai/verta/modeldb/GlobalSharingTest.java
  backend/src/test/java/ai/verta/modeldb/TestSequenceSuite.java
Labels: backend

#1972 Add `log_environment` method to ExperimentRun class
  client/verta/docs/api/api/experimentrun.rst
  client/verta/tests/test_deployment.py
  client/verta/tests/test_experimentrun/__init__.py
  client/verta/tests/test_experimentrun/test_environment.py
  client/verta/tests/test_experimentrun/test_requirements.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/environment/_python.py
Labels: python-client

#1971 VR-9891: Allow arbitrary artifacts in log_model()
  client/verta/tests/conftest.py
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1973 VR-9892: Unzip directory artifacts on download
  client/verta/docs/api/api/experimentrun.rst
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_deployment.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_internal_utils/_request_utils.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/client.py
  client/verta/verta/dataset/_dataset.py
Labels: python-client

#1988 Consolidate chunk size constants in artifact utils
  client/verta/verta/_dataset_versioning/dataset_version.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_internal_utils/_request_utils.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_repository/commit.py
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1987 VR-9939: Make log_model() output less confusing for a user when logging arbitrary model
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_cli/test_registry.py
  client/verta/tests/test_deployment.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1989 Use named tempfile in test
  client/verta/tests/test_artifacts.py
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/tests/tiny.bin
Labels: python-client, tests

#1990 Set version pin in environment test case
  client/verta/tests/test_experimentrun/test_environment.py
Labels: python-client, tests

#1991 VR-9959: Fix bug where arbitrary files can't be passed to log_model() in Python 2
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_registry/modelversion.py
  client/verta/verta/_tracking/experimentrun.py
Labels: python-client

#1992 Remove accidentally-added file
  client/verta/tests/tiny.bin
Labels: python-client

#1994 Use teardown for entity deletion in test_create_same_name_diff_workspace
  client/verta/tests/test_organization.py
Labels: python-client, tests

#1993 Clarify behavior change with default permissions
  client/verta/docs/changelog.rst
  client/verta/tests/test_permissions/test_sharing_old.py
  client/verta/verta/client.py
Labels: documentation, python-client, tests

#1995 Publish client v0.17.1
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client

#1996 Mention addition of download_model() in 0.17.1 release notes
  client/verta/docs/changelog.rst
  client/verta/verta/_tracking/experimentrun.py
Labels: documentation

#1997 Fix getProjectByName including the shared_projects
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
Labels: backend, bug, java

#2006 VR-9863: Ability to query model versions based on the stage
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/_registry/modelversions.py
Labels: python-client

#2007 Publish client v0.17.2
  client/verta/docs/changelog.rst
  client/verta/verta/__about__.py
Labels: python-client
