Repository VertaAI/modeldb, pull requests merged in 2021-04, with the labels that each got.

#2070 [VR-10478] Cache calls to getResources in findProjects
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
Labels: backend, enhancement, java

#2079 Fix workspace cache bug for findProjects
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: backend, bug, java

#2084 Ignore bad-continuation in pylint for black
  client/verta/.pylintrc
Labels: python-client

#2085 Bring back NumericValue and StringValue
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/__init__.py
  client/verta/verta/data_types/_numeric_value.py
  client/verta/verta/data_types/_string_value.py
Labels: python-client

#2075 Reduce uac calls and optimize in findExperimentRuns
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
Labels: backend, java

#2087 [VR-10471] Add __repr__ to data types
  client/verta/verta/data_types/_confusion_matrix.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
  client/verta/verta/data_types/_line.py
  client/verta/verta/data_types/_matrix.py
  client/verta/verta/data_types/_numeric_value.py
  client/verta/verta/data_types/_string_value.py
  client/verta/verta/data_types/_table.py
  client/verta/verta/data_types/_verta_data_type.py
Labels: python-client

#2069 [VR-10506] Cache workspace for datasets, repositories
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleService.java
  backend/common/src/main/java/ai/verta/modeldb/common/authservice/RoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/entities/DatasetEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/versioning/RepositoryEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/BlobDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: backend, enhancement, java

#2098 Import time to fix time_utils.now_in_millis()
  client/verta/verta/_internal_utils/time_utils/_time_utils_py2.py
  client/verta/verta/_internal_utils/time_utils/_time_utils_py3.py
Labels: python-client

#2099 Fix monitoring tests
  client/verta/tests/operations/monitoring/test_profilers.py
  client/verta/tests/operations/monitoring/test_summaries.py
Labels: python-client, tests

#2094 Implemented delete datasets using Reconciler cron
  backend/src/main/java/ai/verta/modeldb/reconcilers/ReconcilerInitializer.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteRepositories.java
Labels: backend, enhancement, java

#2093 [VR-10579] Implemented delete repositories using Reconciler cron
  backend/src/main/java/ai/verta/modeldb/reconcilers/ReconcilerInitializer.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/SoftDeleteRepositories.java
Labels: backend, enhancement, java

#2100 Handle "unit" being optional for NumericValue
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/_numeric_value.py
Labels: python-client

#2102 Use __subclasses__()
  client/verta/tests/test_data_types.py
  client/verta/verta/data_types/_verta_data_type.py
  client/verta/verta/endpoint/autoscaling/metrics.py
  client/verta/verta/endpoint/update/rules.py
Labels: python-client

#2096 [VR-10494] Notification Channel CRUD
  client/verta/tests/operations/monitoring/notification_channels/test_config_classes.py
  client/verta/tests/operations/monitoring/notification_channels/test_entities.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/notification_channel/__init__.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/__init__.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
  client/verta/verta/operations/monitoring/notification_channel/_notification_channel.py
Labels: python-client

#2097 Add SummarySampleQuery
  client/verta/tests/operations/monitoring/test_summaries.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/summaries.py
Labels: python-client

#2105 Remove accidental print
  client/verta/verta/operations/monitoring/summaries.py
Labels: python-client

#2095 [VR-10493] Alert CRUD
  client/verta/tests/operations/monitoring/alerts/test_alerter.py
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/tests/operations/monitoring/alerts/test_status.py
  client/verta/tests/operations/monitoring/conftest.py
  client/verta/verta/operations/monitoring/alert/__init__.py
  client/verta/verta/operations/monitoring/alert/_alerter.py
  client/verta/verta/operations/monitoring/alert/_entities/__init__.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/alert/status/__init__.py
  client/verta/verta/operations/monitoring/alert/status/_status.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/monitored_entity.py
  client/verta/verta/operations/monitoring/utils.py
Labels: python-client

#2091 [VR-10522] Add dist() to data types where applicable
  client/verta/verta/data_types/_confusion_matrix.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
  client/verta/verta/data_types/_line.py
  client/verta/verta/data_types/_matrix.py
  client/verta/verta/data_types/_numeric_value.py
  client/verta/verta/data_types/_string_value.py
  client/verta/verta/data_types/_table.py
  client/verta/verta/data_types/_verta_data_type.py
Labels: python-client

#2110 Add __init__.py to test subdirs
  client/verta/tests/operations/monitoring/__init__.py
  client/verta/tests/operations/monitoring/alerts/__init__.py
  client/verta/tests/operations/monitoring/notification_channels/__init__.py
Labels: python-client, tests

#2111 Pass class instead of _type_string() for summary sample test fixture
  client/verta/tests/operations/monitoring/conftest.py
Labels: python-client, tests

#2113 Skip run.deploy() tests
  client/verta/tests/test_deployment.py
Labels: python-client, tests

#2116 [VR-10572] Fix experiment_run deletion due to one of the mapping table
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, bug, java

#2123 Skip tests properly
  client/verta/tests/test_deployment.py
Labels: python-client, tests

#2121 [VR-10716] Enable unzipping directories with download_model()
  client/verta/docs/changelog.rst
  client/verta/tests/test_artifacts.py
  client/verta/tests/utils.py
  client/verta/verta/__about__.py
  client/verta/verta/_internal_utils/_artifact_utils.py
Labels: python-client

#2129 Removed return project from the response of CRUD attribute endpoints
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: backend, java

#2127 Fix *Handler to support multiple entities
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/config/Config.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/AttributeHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: backend, enhancement, java

#2118 [VR-10714] Async implementation for the project attributes endpoints
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: backend, enhancement, java

#2128 Add compare() to comparisons
  client/verta/tests/common/comparison/test_comparison.py
  client/verta/verta/common/comparison/_equal_to.py
  client/verta/verta/common/comparison/_greater_than.py
  client/verta/verta/common/comparison/_greater_than_or_equal_to.py
  client/verta/verta/common/comparison/_less_than.py
  client/verta/verta/common/comparison/_less_than_or_equal_to.py
  client/verta/verta/common/comparison/_not_equal_to.py
  client/verta/verta/common/comparison/_verta_comparison.py
Labels: python-client

#2133 [VR-10753] Add return-all pagination
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/labels.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
Labels: python-client

#2120 [VR-10693] Add comparisons for FixedAlerter
  client/verta/tests/common/__init__.py
  client/verta/tests/common/comparison/__init__.py
  client/verta/tests/common/comparison/test_comparison.py
  client/verta/tests/operations/monitoring/alerts/test_alerter.py
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/verta/common/__init__.py
  client/verta/verta/common/comparison/__init__.py
  client/verta/verta/common/comparison/_equal_to.py
  client/verta/verta/common/comparison/_greater_than.py
  client/verta/verta/common/comparison/_greater_than_or_equal_to.py
  client/verta/verta/common/comparison/_less_than.py
  client/verta/verta/common/comparison/_less_than_or_equal_to.py
  client/verta/verta/common/comparison/_not_equal_to.py
  client/verta/verta/common/comparison/_verta_comparison.py
  client/verta/verta/operations/monitoring/alert/_alerter.py
Labels: python-client

#2126 [VR-10699] Capture summary samples in alert status objects
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/tests/operations/monitoring/alerts/test_status.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/alert/status/_status.py
Labels: python-client

#2134 Return everything from summary /find requests
  client/verta/tests/test_utils.py
  client/verta/verta/_internal_utils/pagination_utils.py
  client/verta/verta/operations/monitoring/summaries.py
Labels: python-client

#2135 Update tests for Comparison
  client/verta/tests/operations/monitoring/alerts/test_entities.py
Labels: python-client, tests

#2119 [VR-10715] Async implementation for the project tags endpoints
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: backend, enhancement, java

#2117 [VR-10713] Async implementation for the project serviceImpl and DAO
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: backend, enhancement, java

#2141 Mock third-party imports for docs
  client/verta/docs/conf.py
Labels: documentation

#2143 Revert "Mock third-party imports (#2141)"
  client/verta/docs/conf.py
Labels: documentation

#2139 Multiple run ids to check resource persmission
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, enhancement, java

#2145 [VR-10773] Ensure that epoch_millis() returns int
  client/verta/verta/_internal_utils/time_utils/_time_utils_py2.py
  client/verta/verta/_internal_utils/time_utils/_time_utils_py3.py
Labels: python-client

#2146 Properly compare sets in test for Python 2
  client/verta/tests/operations/monitoring/alerts/test_entities.py
Labels: python-client, tests

#2142 Add intersphinx to docs
  client/verta/docs/conf.py
Labels: documentation

#2137 Add Alert._update_last_evaluated_at()
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
Labels: python-client

#2130 [VR-10670] Async artifacts CRUD endpoints for the experiment runs
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
Labels: backend, enhancement, java

#2131 [VR-10674] Implemented async for delete experimentRuns endpoint
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
Labels: backend, enhancement, java

#2158 Clean up entities created in alert & notificaiton channel tests
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/tests/operations/monitoring/notification_channels/test_entities.py
Labels: python-client, tests

#2138 [VR-10761] Use new updateAlertStatus fields
  client/verta/tests/operations/monitoring/alerts/test_status.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/alert/status/_status.py
Labels: python-client

#2159 [VR-10760] Take datetime as a parameter
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/tests/operations/monitoring/notification_channels/test_entities.py
  client/verta/tests/operations/monitoring/test_summaries.py
  client/verta/verta/_internal_utils/time_utils/_time_utils_py2.py
  client/verta/verta/_internal_utils/time_utils/_time_utils_py3.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
  client/verta/verta/operations/monitoring/summaries.py
Labels: backend

#2178 Created flag in ER
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/resources/liquibase/db-changelog-2.0.xml
Labels: backend, enhancement, java

#2182 Add private method to set _created_after on SummarySampleQuery
  client/verta/verta/operations/monitoring/summaries.py
Labels: python-client

#2167 Removed TODO and implemented artifacts in ER creation
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, enhancement, java

#2169 Remove TODO and implemented feature in ER creation
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
Labels: backend, enhancement, java

#2186 [VR-10778] Add typechecks to summaries find()
  client/verta/verta/operations/monitoring/summaries.py
Labels: python-client

#2191 Skip tests if scientific lib not installed
  client/verta/tests/operations/monitoring/test_profilers.py
  client/verta/tests/operations/monitoring/test_summaries.py
  client/verta/tests/test_data_types.py
  client/verta/tests/test_experimentrun/test_attributes.py
Labels: python-client, tests

#2188 Add alert.alerter property
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
Labels: python-client

#2190 Add convenience properties to Alert
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
Labels: python-client

#2189 Add .comparison and ._from_proto() to _Alerter
  client/verta/tests/operations/monitoring/alerts/test_alerter.py
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/verta/operations/monitoring/alert/_alerter.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
Labels: python-client

#2163 [VR-10636] Add docstrings to alert and notification channel
  client/verta/verta/operations/monitoring/alert/_alerter.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/alert/status/_status.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
  client/verta/verta/operations/monitoring/notification_channel/_notification_channel.py
  client/verta/verta/operations/monitoring/summaries.py
Labels: documentation, python-client

#2184 [VR-10496] Enable creation of reference-based alert
  client/verta/tests/operations/monitoring/alerts/test_alerter.py
  client/verta/tests/operations/monitoring/alerts/test_entities.py
  client/verta/verta/operations/monitoring/alert/_alerter.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
Labels: python-client

#2179 Async find ER using tags
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/DatasetHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
Labels: backend, enhancement, java

#2194 Fix review comments for PR https://github.com/VertaAI/modeldb/pull/2140
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, java

#2180 Async find ER using attributes
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
Labels: backend, enhancement, java

#2201 [VR-10796] Incorporate workspace for notification channels
  client/verta/tests/operations/monitoring/notification_channels/test_entities.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
Labels: python-client

#2212 [VR-10839] Fix workspace get_or_create bug for monitored entities
  client/verta/tests/operations/monitoring/test_client.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/monitored_entity.py
Labels: python-client

#2213 Directly import scipy's spatial submodule
  client/verta/verta/__about__.py
  client/verta/verta/data_types/_discrete_histogram.py
  client/verta/verta/data_types/_float_histogram.py
Labels: python-client

#2217 Don't manually clean up alerts in tests
  client/verta/tests/operations/monitoring/alerts/test_entities.py
Labels: python-client

#2216 [VR-10819] Add get_or_create for NotificationChannel
  client/verta/tests/operations/monitoring/notification_channels/test_entities.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
Labels: python-client

#2207 Populate environment in find ER response
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, enhancement, java

#2208 Populate code_version in find ER response
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, enhancement, java

#2209 Populate job_id in find ER response
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: backend, enhancement, java

#2222 [VR-10789] Enable artifact download from model version
  client/verta/docs/changelog.rst
  client/verta/tests/test_model_registry/test_model_version.py
  client/verta/verta/__about__.py
  client/verta/verta/_internal_utils/_artifact_utils.py
  client/verta/verta/_tracking/deployable_entity.py
  client/verta/verta/_tracking/experimentrun.py
  client/verta/verta/registry/_entities/modelversion.py
Labels: python-client

#2228 Disabled audit logs
  backend/common/src/main/java/ai/verta/modeldb/common/config/Config.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
Labels: backend, java

#2234 [VR-10767] Fail ReadTheDocs builds on warnings
  .readthedocs.yaml
Labels: documentation

#2233 Make endpoint_update_config.html accessible in docs
  client/verta/docs/api/deployment.rst
  client/verta/docs/tutorials/deployment/deployment.rst
  client/verta/docs/tutorials/deployment/endpoint_update_config.rst
  client/verta/docs/tutorials/tutorials.rst
Labels: documentation

#2205 Populate feature in find ER response
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
Labels: backend, enhancement, java

#2196 Import dependency handlers from FutureDAO to create handler
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
Labels: backend, java

#2211 [VR-10777] Generate API doc pages
  .readthedocs.yaml
  client/verta/.pydocstyle
  client/verta/docs/.gitignore
  client/verta/docs/_templates/class.rst
  client/verta/docs/api/api/comparison.rst
  client/verta/docs/api/api/data_types.rst
  client/verta/docs/api/api/monitoring/alert.rst
  client/verta/docs/api/api/monitoring/client.rst
  client/verta/docs/api/api/monitoring/label.rst
  client/verta/docs/api/api/monitoring/monitored_entity.rst
  client/verta/docs/api/api/monitoring/notification_channel.rst
  client/verta/docs/api/api/monitoring/profiler.rst
  client/verta/docs/api/api/monitoring/summary.rst
  client/verta/docs/api/monitoring.rst
  client/verta/docs/api/overview.rst
  client/verta/docs/conf.py
  client/verta/verta/client.py
  client/verta/verta/operations/monitoring/alert/_alerter.py
  client/verta/verta/operations/monitoring/alert/_entities/__init__.py
  client/verta/verta/operations/monitoring/alert/_entities/alert.py
  client/verta/verta/operations/monitoring/alert/status/_status.py
  client/verta/verta/operations/monitoring/client.py
  client/verta/verta/operations/monitoring/labels.py
  client/verta/verta/operations/monitoring/monitored_entity.py
  client/verta/verta/operations/monitoring/notification_channel/_entities/notification_channel.py
  client/verta/verta/operations/monitoring/profiler.py
  client/verta/verta/operations/monitoring/profilers.py
  client/verta/verta/operations/monitoring/summaries.py
Labels: documentation

#2240 Remove epub publication from ReadTheDocs
  .readthedocs.yaml
Labels: documentation

#2177 Async create experiment run in transaction
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, enhancement, java

#2218 Populate code_version_snapshot in find ER
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
Labels: backend, enhancement, java

#2170 Remove TODO and implemented code version snapshot in ER creation
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
Labels: backend, enhancement, java
