Repository VertaAI/modeldb, pull requests merged in 2022-02, with the labels that each got.

#2791 Find Projects using jdbi
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/datasetVersion/DatasetVersionDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/main/java/ai/verta/modeldb/versioning/RepositoryDAORdbImpl.java
Labels: enhancement, backend, java

#2792 Populate dependent fields in project builder on findProjects call
  backend/common/src/main/java/ai/verta/modeldb/common/handlers/TagsHandlerBase.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: enhancement, backend, java

#2793 GetProjectById using jdbi
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2794 GetProjects using jdbi
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2796 Used transaction handler while inserting entities
  backend/common/src/main/java/ai/verta/modeldb/common/handlers/TagsHandlerBase.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/FeatureHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ObservationHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: enhancement, backend, java

#2824 [VR-13702] Fix MSSQL migration
  backend/common/src/main/java/ai/verta/modeldb/common/MssqlMigrationUtil.java
Labels: bug, backend, java

#2823 Fix remaing jdbi implementation based on failed test cases
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/SortingHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
Labels: enhancement, backend, java

#2832 Fix FindProjects query to support mssql
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: enhancement, backend, java

#2833 Fix code to support mssql
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/VersionInputHandler.java
Labels: enhancement, backend, java

#2817 get project readme text using jdbi
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2816 set project Readme_text using jdbi
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2815 Get Summary endpoint using jdbi
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2804 create/update/delete project artifact using jdbi
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2802 get projects by name using jdbi
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2826 Implement fuzzy search using jdbi and fix remaining test cases
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/UACApisUtil.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: enhancement, backend, java

#2782 test: [VR-12944] Remove N/A test for run.del_environment()
  client/verta/tests/conftest.py
  client/verta/tests/deployable_entity/conftest.py
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/registry/model_version/test_deployment.py
Labels: python-client, tests

#2783 fix: [VR-12865] Add validation for class model artifacts in RMV
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client, tests

#2858 Fix ProjectTest.logArtifactsNegativeTest test case
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: bug, backend, tests, java

#2859 Fix attribute handler for registry backend
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: enhancement, backend, java

#2866 Fix find ER based on experiment name
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: bug, backend, java

#2853 Migrated addAttribute & addExperimentAttributes endpoint from hibernate to jdbi Impl
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2867 Fix artifact handler for artifact upload consistency while working on multithreading
  backend/common/src/main/java/ai/verta/modeldb/common/CommonDBUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
Labels: enhancement, backend, java

#2861 Fix test init logic with reconciler to clean up test data
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateExperimentTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateProjectTimestampReconcile.java
  backend/src/main/java/ai/verta/modeldb/reconcilers/UpdateRepositoryTimestampReconcile.java
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/FindDatasetEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/FindHydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
  backend/src/test/java/ai/verta/modeldb/TestsInit.java
Labels: enhancement, backend, tests, java

#2818 set project short name using jdbi
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
Labels: enhancement, backend, java

#2834 Remove old project service impl
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
Labels: enhancement, backend, java

#2829 Create project using jdbi
  backend/common/src/main/java/ai/verta/modeldb/common/CommonDBUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HandlerUtil.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/subtypes/CreateProjectHandler.java
Labels: enhancement, backend, java

#2828 log project code version using jdbi
  backend/common/src/main/java/ai/verta/modeldb/common/CommonDBUtil.java
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HandlerUtil.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/subtypes/CreateProjectHandler.java
Labels: enhancement, backend, java

#2820 get project code version using jdbi
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HandlerUtil.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/subtypes/CreateProjectHandler.java
Labels: enhancement, backend, java

#2819 get project short name using jdbi
  backend/common/src/main/java/ai/verta/modeldb/common/connections/UAC.java
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CodeVersionHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/HandlerUtil.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/subtypes/CreateProjectHandler.java
Labels: enhancement, backend, java

#2835 Initialized experiment service and DAO using jdbi
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactPartEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/AttributeHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/TagsHandler.java
Labels: enhancement, backend, java

#2854 Migrated getExperimentAttributes endpoint from hibernate to jdbi Impl
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2852 Migrated deleteExperimentTags endpoint from hibernate to jdbi Impl
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2851 Migrated getExperimentTags endpoint from hibernate to jdbi Impl
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2850 Migrated addExperimentTag & addExperimentTags endpoint from hibernate to jdbi Impl
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2849 Migrated UpdateExperimentDescription endpoint from hibernate to jdbi …
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2848 Migrated UpdateExperimentName endpoint from hibernate to jdbi Impl
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: enhancement, backend, java

#2847 updateExperimentNameOrDescription using jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: enhancement, backend, java

#2841 Find Experiments using jdbi
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/utils/UACApisUtil.java
Labels: enhancement, backend, java

#2842 get experiment by project id using jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
Labels: enhancement, backend, java

#2843 get experiment by id using jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2873 fix: deployable_entity.test_artifacts.TestOverwrite.test_setup_script[RegisteredModelVersion]
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client

#2872 fix: deployable_entity.test_artifacts.TestModels.test_keras
  client/verta/verta/_internal_utils/_artifact_utils.py
Labels: python-client

#2871 fix: tests/deployable_entity/test_artifacts.py::TestArtifacts::test_upload_multipart[RegisteredModelVersion]
  client/verta/verta/registry/entities/_modelversion.py
Labels: python-client

#2844 get experiment by name using jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
Labels: enhancement, backend, java

#2876 Fix code which broken due to merge conflicts
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
Labels: bug, backend, java

#2877 [VUMM-207] Moved entities sorting into handlers
  backend/common/src/main/java/ai/verta/modeldb/common/handlers/TagsHandlerBase.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/KeyValueHandler.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
Labels: enhancement, backend, java

#2878 Fix flaky d_updateExperimentNameOrDescription test
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
Labels: backend, tests, java
