Repository VertaAI/modeldb, pull requests merged in 2022-03, with the labels that each got.

#2902 docs: Add version pin example to Python()
  client/verta/verta/environment/_python.py
Labels: documentation

#2900 Implemented all operators in predicate filter for ID field
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: enhancement, backend, java

#2879 Migrated Delete experiment attributes endpoint from hibernate to jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2880 Fix DB connetion retry logic to throw message after some timestamp
  backend/common/src/main/java/ai/verta/modeldb/common/CommonDBUtil.java
Labels: bug, backend, java

#2881 Migrated delete experiment endpoint from hibernate to jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2882 Migrated log code version in experiment from hibernate to jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2883 Migrated log arifacts for experiment endpoint from hibernate to JDBI
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2884 Migrated get experiment artifacts endpoint from hibernate to JDBI
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2885 Migrated delete experiment artifact endpooint from hibernate to JDBI
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
Labels: enhancement, backend, java

#2899 Remove Old experiment DAO implementation
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
Labels: enhancement, backend, java

#2898 Removed ExperimentService Implementation
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2897 Remove Old project DAO implementation
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicMDBRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
Labels: enhancement, backend, java

#2896 Removed old ExperimentRunService implementation
  backend/src/main/java/ai/verta/modeldb/App.java
  backend/src/main/java/ai/verta/modeldb/DAOSet.java
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/authservice/PublicMDBRoleServiceUtils.java
  backend/src/main/java/ai/verta/modeldb/dataset/DatasetServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/ExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/ProjectDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/utils/UACApisUtil.java
Labels: enhancement, backend, java

#2862 [VUMM-214] Modifed logic for untrusted artifacts
  backend/common/src/main/java/ai/verta/modeldb/common/config/NFSConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/S3Config.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/CodeVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ObservationEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: enhancement, backend, java

#2923 Implemented get experiment code version using jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2924 Implemented experiment get url for artifact using jdbi
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentDAO.java
  backend/src/main/java/ai/verta/modeldb/experiment/FutureExperimentServiceImpl.java
Labels: enhancement, backend, java

#2930 chore : Remove hibernate dependencies from registry
  backend/common/pom.xml
  backend/common/src/main/java/ai/verta/modeldb/common/CommonUtils.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/RdbConfig.java
  backend/src/main/java/ai/verta/modeldb/telemetry/TelemetryUtils.java
  backend/src/main/java/ai/verta/modeldb/utils/CommonHibernateUtil.java
  backend/src/main/java/ai/verta/modeldb/utils/ModelDBHibernateUtil.java
Labels: enhancement, backend, java

#2901 Implemented all operators in predicate filter for date_* field
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicateHandlerUtils.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/PredicatesHandler.java
  backend/src/test/java/ai/verta/modeldb/FindProjectEntitiesTest.java
Labels: enhancement, backend, java

#2927 [VUMM-214] Modified logic for untrusted artifacts
  backend/common/src/main/java/ai/verta/modeldb/common/config/ArtifactStoreConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/NFSConfig.java
  backend/common/src/main/java/ai/verta/modeldb/common/config/S3Config.java
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/config.example.yaml
  backend/src/main/java/ai/verta/modeldb/config/MDBArtifactStoreConfig.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/CodeVersionEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ExperimentRunEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ObservationEntity.java
  backend/src/main/java/ai/verta/modeldb/entities/ProjectEntity.java
  backend/src/main/java/ai/verta/modeldb/experiment/subtypes/CreateExperimentHandler.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/ExperimentRunDAORdbImpl.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/FutureExperimentRunDAO.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/CreateExperimentRunHandler.java
  backend/src/main/java/ai/verta/modeldb/project/subtypes/CreateProjectHandler.java
  backend/src/main/java/ai/verta/modeldb/utils/RdbmsUtils.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
  backend/src/test/java/ai/verta/modeldb/ExperimentTest.java
  backend/src/test/java/ai/verta/modeldb/ProjectTest.java
Labels: enhancement, backend, java

#2939 Fix test cases and code to run test suite successfully
  backend/src/main/java/ai/verta/modeldb/advancedService/AdvancedServiceImpl.java
  backend/src/main/java/ai/verta/modeldb/project/FutureProjectDAO.java
  backend/src/main/java/ai/verta/modeldb/project/subtypes/CreateProjectHandler.java
  backend/src/test/java/ai/verta/modeldb/HydratedServiceTest.java
Labels: enhancement, backend, tests, java

#2956 Changes for Registry backend (Alert evaluating reconciler)
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/Reconciler.java
  backend/common/src/main/java/ai/verta/modeldb/common/reconcilers/ReconcilerConfig.java
Labels: enhancement, backend, java

#2961 [VRD-193] When creating RMV from ER, we should reuse the ER's artifact's paths
  backend/common/src/main/java/ai/verta/modeldb/common/subtypes/CommonArtifactHandler.java
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/main/java/ai/verta/modeldb/experimentRun/subtypes/ArtifactHandlerBase.java
Labels: bug, backend, java

#2963 [VRD-196] Update test cases for untrusted artifact path
  backend/src/main/java/ai/verta/modeldb/entities/ArtifactEntity.java
  backend/src/test/java/ai/verta/modeldb/ExperimentRunTest.java
Labels: enhancement, backend, java

#2971 test: Stop deleting cache dir in tests
  client/verta/tests/deployable_entity/test_deployment.py
  client/verta/tests/test_entities.py
Labels: tests

#2969 Fix broken test cases
  backend/src/test/java/ai/verta/modeldb/DatasetTest.java
Labels: enhancement, backend, tests, java
